<template>
    <div>
        <Header :title="headerTitle"></Header>
        <div class="cont">
            <!-- <p class="title1">资源上传协议</p> -->
            <div class="font">
                本人通过本网站提交的作品（含文字及其他形式）具有自主知识产权， 并遵守《全国人大常委会关于维护互联网安全的决定》 及中华人民共和国其他各项有关法律法规的规定。 如该作品在本网站刊载后引起著作权纠纷或其他法律纠纷，将由本人承担相应的民事或刑事法律责任。 同时，本单位享有对相关资源进行宣传、使用和推介的权利。
                <p class="jianju"></p>
            </div>
        </div>
    </div>
</template>


<script>
import Header from '../common/header'
export default {
    data() {
        return {
            obj:{
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            headerTitle: '资源上传协议',
        };
    },
    components: {
        Header,
    },
}
</script>
    

<style scoped>
p {
    font-size: 0.28rem;
}
header {
    width: 100%;
    height: 0.9rem;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
header .back {
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    left: 0.32rem;
    top: 0.2rem;
}
header .title {
    font-size: 0.36rem;
    color: #4a4a4a;
    text-align: center;
    line-height: 0.9rem;
}
.cont {
    width: 6.45rem;
    height: auto;
    margin: 0 auto;
    padding: 0.28rem 0;
}
.cont .title1 {
    font-family: PingFangSC-Medium;
    font-size: 0.32rem;
    color: #4a4a4a;
    font-weight: bold;
}
.cont .font {
    font-size: 0.28rem;
    color: #4a4a4a;
    margin-top: 0.5rem;
}
.cont .font .addCu {
    font-weight: bold;
}
.cont .font .jianju {
    width: 100%;
    height: 0.5rem;
    background: #fff;
}
</style>