<template>
    <div>
        <Header :title="headerTitle"></Header>
        <div class="cont">
            <p class="title1">资源中心用户隐私政策</p>
            <div class="font">
                资源中心非常重视用户个人信息的保护，在您使用资源中心提供的服务时，您同意资源中心按照在资源中心平台上公布的《用户隐私政策》（以下简称：《隐私政策》）收集、存储、使用、披露和保护您的个人信息。资源中心希望通过本《隐私政策》向您清楚地介绍资源中心对您个人信息的处理方式，因此资源中心建议您完整地阅读本《隐私政策》，以帮助您更好地保护您的隐私权。
                <p class="jianju"></p>
                如果您是未满18周岁的个人用户，请在监护人的陪同下阅读并接受本《隐私政策》。
                <p class="jianju"></p>
                如您对本《隐私政策》有任何疑问，您可以通过本《隐私政策》公布的联系方式与资源中心联系。如果您不同意本《隐私政策》任何内容，您应立即停止使用资源中心平台服务。当您使用资源中心平台提供的任一服务时，即表示您已同意资源中心按照本《隐私政策》来合法使用和保护您的个人信息。
                <p class="jianju"></p>
                <p class="addCu">一、如何收集您的信息</p>
                <p class="jianju"></p>
                在您使用资源中心服务的过程中，资源中心会按照如下方式收集您在使用服务时主动提供的或因为使用服务而产生的信息，用以向您提供服务、优化我们的服务以及保障您的账户安全：
                <p class="jianju"></p>
                1.1当您注册资源中心服务时，我们会收集您的设备MAC地址、唯一设备识别码，用于标识您为资源中心的用户。如果您用微信关联登录资源中心，我们会收集您微信的唯一标识、头像、昵称，用于保存您的登录信息，使您在使用不同设备登录时能够同步您的数据。
                <p class="jianju"></p>
                1.2为保障您正常使用我们的服务，维护我们服务的正常运行，改善及优化您的服务体验并保障您的账号安全，我们会收集您的设备型号、操作系统、唯一设备标识符、登录IP地址、操作日志等信息。
                <p class="jianju"></p>
                1.3我们或我们的第三方合作伙伴可能通过cookie或同类技术收集您的信息，包括您的设备信息、浏览信息、点击信息，并将该等信息储存为日志信息，用于记住您的身份、分析您使用我们服务的情况。您可以通过浏览器设置拒绝或管理cookie或同类技术的使用。
                <p class="jianju"></p>
                1.4我们会在征得您的同意后，记录您的地理位置信息，用于标识视频的地理位置信息。地理位置信息属于敏感信息，拒绝提供该信息，将无法使用定位打卡及地图导航功能，但不影响您正常使用资源中心的其他功能，您也可以随时关闭您的地理位置信息授权；
                <p class="jianju"></p>
                1.5另外，根据相关法律法规的规定，以下情形中，我们可能会收集、使用您的相关个人信息无需征求您的授权同意：
                <p class="jianju"></p>
                1.5.1与国家安全、国防安全等国家利益直接相关的；与公共安全、公共卫生、公共知情等重大公共利益直接相关的；
                <p class="jianju"></p>
                1.5.2与犯罪侦查、起诉、审判和判决执行等直接相关的；
                <p class="jianju"></p>
                1.5.3出于维护您或其他个人的生命、财产、声誉等重大合法权益但又很难得到本人同意的；
                <p class="jianju"></p>
                1.5.4所收集的个人信息是您自行向社会公众公开的；
                <p class="jianju"></p>
                1.5.5从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道；
                <p class="jianju"></p>
                1.5.6根据您要求签订和履行合同所必需的；
                <p class="jianju"></p>
                1.5.7用于维护所提供的产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；
                <p class="jianju"></p>
                1.5.8为开展合法的新闻报道所必需的；
                <p class="jianju"></p>
                1.5.9出于公共利益开展统计或学术研究所必要，且其对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；
                <p class="jianju"></p>
                1.5.10法律法规规定的其他情形。
                <p class="jianju"></p>
                <p class="addCu">二、 如何存储您的信息</p>
                <p class="jianju"></p>
                2.1 信息存储的方式和期限
                <p class="jianju"></p>
                我们会通过安全的方式存储您的信息，包括本地存储（例如利用APP进行数据缓存）、数据库和服务器日志。一般情况下，我们只会在为实现服务目的所必需的时间内或法律法规规定的条件下存储您的个人信息。
                <p class="jianju"></p>
                2.2 信息存储的地域
                <p class="jianju"></p>
                我们会按照法律法规的规定，将境内收集的用户个人信息存储于中国境内。目前我们不会跨境传输或存储您的个人信息。将来如需跨境传输或存储的，我们会向您告知信息出境的目的、接收方、安全保证措施和安全风险，并征得您的同意。
                <p class="jianju"></p>
                2.3 产品或服务停止运营时的通知
                <p class="jianju"></p>
                当我们的产品或服务发生停止运营的情况时，我们将以推送通知、公告等形式通知您，并在合理期限内删除您的个人信息或进行匿名化处理，法律法规另有规定的除外。
                <p class="jianju"></p>
                <p class="addCu">三、如何保护您的信息</p>
                <p class="jianju"></p>
                3.1 安全保护措施
                <p class="jianju"></p>
                我们努力为用户的信息安全提供保障，以防止信息的泄露、丢失、不当使用、未经授权访问和披露等。我们使用多方位的安全保护措施，以确保用户的个人信息保护处于合理的安全水平，包括技术保护手段、管理制度控制、安全体系保障等诸多方面。
                <p class="jianju"></p>
                我们建议您在使用产品和服务时充分注意对个人信息的保护，我们也会提供多种安全功能来协助您保护自己的个人信息安全。
                <p class="jianju"></p>
                3.2 安全事件处置措施
                <p class="jianju"></p>
                若发生个人信息泄露、损毁、丢失等安全事件，我们会启动应急预案，阻止安全事件扩大。安全事件发生后，我们会及时以推送通知、邮件等形式告知您安全事件的基本情况、我们即将或已经采取的处置措施和补救措施，以及我们对您的应对建议。如果难以实现逐一告知，我们将通过公告等方式发布警示。
                <p class="jianju"></p>

                <p class="addCu">四、如何使用您的信息</p>
                <p class="jianju"></p>
                4.1我们严格遵守法律法规的规定以及与用户的约定，按照《隐私政策》所述方式使用收集的信息，以向您提供更为优质的服务。
                <p class="jianju"></p>
                4.2我们将会在《隐私政策》所涵盖的用途内使用收集的信息。如我们使用您的个人信息，超出了与收集时所声称的目的但在直接或合理关联的范围，我们将在使用您的个人信息前，再次向您告知并征得您的明示同意。
                <p class="jianju"></p>
                <p class="addCu">五、如何共享、转让、公开披露您的个人信息</p>
                <p class="jianju"></p>
                5.1
                目前，我们不会主动共享或转让您的个人信息至第三方，如存在其他共享或转让您的个人信息或您需要我们将您的个人信息共享或转让至第三方情形时，我们会直接或确认第三方征得您对上述行为的明示同意。
                <p class="jianju"></p>
                5.2
                我们不会对外公开披露所收集的个人信息，如必须公开披露时，我们会向您告知此次公开披露的目的、披露信息的类型及可能涉及的敏感信息，并征得您的明示同意。
                <p class="jianju"></p>
                5.3
                随着我们业务的持续发展，我们有可能进行合并、收购、资产转让等交易，我们将告知您相关情形，按照法律法规及不低于《隐私政策》所要求的标准继续保护或要求新的控制者继续保护您的个人信息。
                <p class="jianju"></p>
                5.4根据相关法律法规的规定，以下情形中，我们可能会共享、转让、公开披露个人信息无需事先征得您的授权同意：
                <p class="jianju"></p>
                 与国家安全、国防安全直接相关的； 
                与公共安全、公共卫生、重大公共利益直接相关的； 
                与犯罪侦查、起诉、审判和判决执行等直接相关的； 
                出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；
                 个人信息主体自行向社会公众公开个人信息的； 
                从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。
                <p class="jianju"></p>
                <p class="addCu">六、您如何管理自己的个人信息</p>
                <p class="jianju"></p>
                在您使用资源中心期间，为了让您更便捷地查询访问、更正您的个人信息，我们在产品设计中为您提供了相应的操作设置，您可参考下面的指引进行操作。
                <p class="jianju"></p>
                6.1 访问个人信息
                <p class="jianju"></p>
                1) 进入资源中心后，点击“我的”；
                <p class="jianju"></p>
                2) 点击头像栏；
                <p class="jianju"></p>
                3) 进行信息查询访问或编辑更正信息
                <p class="jianju"></p>
                6.2 退出登录
                <p class="jianju"></p>
                1)进入资源中心后，点击“我的”;
                <p class="jianju"></p>
                2)点击“设置”;
                <p class="jianju"></p>
                3)点击“退出登录”。
                <p class="jianju"></p>
                注：资源中心设有独立的账号，您可以使用资源中心账号与密码登录资源中心。
                <p class="jianju"></p>
                <p class="addCu">七、本政策的修订</p>
                <p class="jianju"></p>
                我们可能会适时对《隐私政策》进行修订。当《隐私政策》的条款发生变更时，我们会在版本更新时以红点提示等方式向您提示变更后的《隐私政策》，并向您说明生效日期。请您仔细阅读变更后的《隐私政策》内容，您继续使用资源中心表示您同意我们按照更新后的《隐私政策》处理您的个人信息。
                <p class="jianju"></p>

                <p class="addCu">八、未成年人信息的保护</p>
                <p class="jianju"></p>
                资源中心十分重视未成年人的隐私保护，若您是18周岁以下的未成年人，在使用资源中心服务前，应该先取得您家长或监护人的书面同意；如您的家长或者监护人不同意您按照本政策向我们提供信息，请立即终止使用我们的产品或服务，并及时通知我们。
                <p class="jianju"></p>
                <p class="addCu">九、 如何联系我们</p>
                <p class="jianju"></p>
                如果您对本隐私声明有任何疑问、意见或建议，可以用下列方式联系我们：
                <p class="jianju"></p>
                联系电话：400-010-0910
                <p class="jianju"></p>
                公司名称：北京教培师训网络科技股份有限公司
                <p class="jianju"></p>
                办公地址：北京市海淀区北三环中路44号3幢1001室
                <p class="jianju"></p>
                邮箱地址：zixun@teacheredu.cn
                <p class="jianju"></p>
            </div>
        </div>
    </div>
</template>


<script>
import Header from '../common/header'
export default {
    data() {
        return {
            obj:{
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            headerTitle: '隐私政策',
        };
    },
    components: {
        Header,
    },
}
</script>
    

<style scoped>
p {
    font-size: 0.28rem;
}
header {
    width: 100%;
    height: 0.9rem;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
header .back {
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    left: 0.32rem;
    top: 0.2rem;
}
header .title {
    font-size: 0.36rem;
    color: #4a4a4a;
    text-align: center;
    line-height: 0.9rem;
}
.cont {
    width: 6.45rem;
    height: auto;
    margin: 0 auto;
    padding: 0.28rem 0;
}
.cont .title1 {
    font-family: PingFangSC-Medium;
    font-size: 0.32rem;
    color: #4a4a4a;
    font-weight: bold;
}
.cont .font {
    font-size: 0.28rem;
    color: #4a4a4a;
    margin-top: 0.5rem;
}
.cont .font .addCu {
    font-weight: bold;
}
.cont .font .jianju {
    width: 100%;
    height: 0.5rem;
    background: #fff;
}
</style>