<template>
    <div>
        <Header :title="headerTitle"></Header>
        <div class="cont">
            <p class="title1">资源中心用户服务协议</p>
            <div class="font">
                请您务必认真阅读、理解本《服务协议》（以下简称《协议》）中的内容，您一旦注册、登录、使用或以任何方式使用本《协议》所涉及的相关服务的行为，将视为您同意接受本《协议》各项条款的约束。如果您不同意本《协议》中的条款，请不要注册、登录或使用本《协议》相关服务。本《协议》是您与北京教培师训网络科技股份有限公司（下称“资源中心”）之间的法律协议。
                <p class="jianju"></p>
                <p class="addCu">第一条  服务内容</p>
                <p class="jianju"></p>
                1.1 资源中心的运营者及相关关联公司（以下简称“资源中心”）根据本《协议》服务条款及操作规则为您提供基于互联网及移动互联网服务。资源中心网络服务的具体内容由资源中心根据实际情况提供，包括但不限于如下服务：在资源中心中管理个人的教学资源、研修资源、微课资源等教学研修相关资源；浏览、收藏、下载其他用户发布的优质资源；发布付费资源获取资源收益等。
                <p class="jianju"></p>
                1.2若您注册成功，您将得到一个账号和密码，您需要对自己在账户中的所有活动和事件负责。如果由于您的过错导致您的账号和密码脱离您的控制，则由此导致的针对您、资源中心或任何第三方造成的损害，将由您承担责任。
                <p class="jianju"></p>
                <p class="addCu">第二条  使用规则</p>
                <p class="jianju"></p>
                2.1 完成注册程序并成功注册之后，您可使用您的注册名/手机号码/身份证号码和密码，登录到您在资源中心的账号（下称“账号”）。账号的所有权归资源中心所有，您完成申请注册手续后，获得账号的使用权。一般情况下，您可随时浏览、修改您在资源中心上的信息，但出于安全性和身份识别的考虑，您将无法修改自己的初始用户名。
                <p class="jianju"></p>
                2.2 您不应将其账号、密码转让、出借或以任何脱离您控制的形式交由他人使用。如您发现其账号遭他人非法使用，应立即通知资源中心。因黑客行为或您的保管疏忽导致账号、密码遭他人非法使用，资源中心不承担责任。
                <p class="jianju"></p>
                2.3 您应当为自身注册账户下的一切行为负责，因您行为而导致的您自身或其他任何第三方的任何损失或损害，资源中心不承担责任。
                <p class="jianju"></p>
                2.4 您理解并接受资源中心网站提供的服务中可能包括显示资源中心和第三方供应商、合作伙伴提供的广告。
                <p class="jianju"></p>
                2.5 您在使用资源中心网络服务过程中，必须遵循以下原则：
                <p class="jianju"></p>
                2.5.1 遵守中国有关的法律和法规；
                <p class="jianju"></p>
                2.5.2 遵守所有与网络服务有关的网络协议、规定和程序；
                <p class="jianju"></p>
                2.5.3 不得为任何非法目的而使用资源中心网络服务系统；
                <p class="jianju"></p>
                2.5.4 不得利用资源中心网络服务系统进行任何可能对互联网或移动互联网正常运转造成不利影响的行为；
                <p class="jianju"></p>
                2.5.5 不得利用资源中心提供的网络服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；
                <p class="jianju"></p>
                2.5.6 不得侵犯资源中心和其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；
                <p class="jianju"></p>
                2.5.7 不得利用资源中心网络服务系统进行任何不利于资源中心的行为；
                <p class="jianju"></p>
                2.5.8 如发现任何非法使用您账号或账号出现安全漏洞的情况，应立即通告资源中心。
                <p class="jianju"></p>
                2.6 如您在使用网络服务时违反任何上述规定，资源中心有权要求您改正或直接采取一切必要的措施（包括但不限于更改或删除您收藏的内容等、暂停或终止您使用网络服务的权利）以减轻您不当行为造成的影响。
                <p class="jianju"></p>
                <p class="addCu">第三条  服务变更、中断或终止</p>
                <p class="jianju"></p>
                3.1 鉴于网络服务的特殊性，您同意资源中心有权根据业务发展情况随时变更、中断或终止部分或全部的网络服务。
                <p class="jianju"></p>
                3.2 望您理解，资源中心需要定期或不定期对提供服务的平台或相关设备进行维护、升级或因其他目的暂停部分或全部服务，如因此类情况而造成服务在合理时间内的中断，资源中心无需为此承担任何责任。 
                <p class="jianju"></p>
                3.3如发生以下任何一种情形，资源中心有权随时中断或终止向您提供本《协议》项下的服务而无需对您或任何第三方承担责任： 
                <p class="jianju"></p>
                3.3.1您提供个人资料不真实； 
                <p class="jianju"></p>
                3.3.2您违反法律、政策或违反本《协议》。
                <p class="addCu">第四条  知识产权</p>
                <p class="jianju"></p>
                4.1 资源中心在本服务中提供的包括但不限于文本、图片、音频、视频资料均受著作权、商标/或其它相关法律的保护，未经相关权利人同意，上述资料不得用于其它商业目的。
                <p class="jianju"></p>
                4.2 资源中心为提供网络服务而使用的任何软件的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，您不得对该软件进行反向工程、反向编译或反汇编。
                <p class="jianju"></p>
                4.3 您可通过资源中心服务在资源中心上传、发布或传输相关内容，包括但不限于文字、图形、图片、声音、视频、链接等不侵犯他人知识产权或其他合法权益的信息或资料（下称“内容”），但您需对此内容承担相关的法律责任。除非有相反证明，资源中心将视您为在资源中心上传、发布或传输的内容的版权拥有人。使用资源中心平台服务上传、发布或传输内容即代表了您有权且许可资源中心对上述内容的非独家使用权，据该许可资源中心将有权以展示、推广等不为我国法律所禁止的方式使用前述内容。
                <p class="jianju"></p>
                4.4 您有权将您在资源中心网上发布的内容授权给他人使用。资源中心欢迎您优先选择资源中心就相关内容进行合作。 
                <p class="jianju"></p>
                <p class="addCu">第五条  隐私保护</p>
                <p class="jianju"></p>
                5.1资源中心将根据中国法律、本《协议》的规定收集、存储、使用和透露您的个人信息。资源中心保证不对外公开或向第三方提供您的注册资料及您在使用网络服务时存储在资源中心的非公开内容，但下列情况除外：
                <p class="jianju"></p>
                5.1.1 事先获得您的明确授权；
                <p class="jianju"></p>
                5.1.2 根据有关的法律法规要求；
                <p class="jianju"></p>
                5.1.3 按照相关政府主管部门的要求；
                <p class="jianju"></p>
                5.1.4 为维护社会公众的利益；
                <p class="jianju"></p>
                5.1.5 为维护资源中心的合法权益。
                <p class="jianju"></p>
                5.2资源中心对于您提供的个人信息的具体使用规则以《隐私政策》为准。
                <p class="jianju"></p>
                <p class="addCu">第六条  免责声明</p>
                <p class="jianju"></p>
                6.1 资源中心不担保网络服务一定能满足您的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。
                <p class="jianju"></p>
                6.2 对于因电信系统或互联网网络故障、计算机故障或病毒、信息损坏或丢失、计算机系统问题或其它任何不可抗力原因而产生损失，资源中心不承担任何责任，但将尽力减少因此而给您造成的损失和影响。
                <p class="jianju"></p>
                <p class="addCu">第七条  争议解决</p>
                <p class="jianju"></p>
                7.1 本《协议》的效力、解释、争议均适用中华人民共和国法律。
                <p class="jianju"></p>
                7.2 因本《协议》引起的或与本《协议》有关的任何争议，各方应友好协商解决；协商不成的，任何一方均可将有关争议提交至北京仲裁委员仲裁；仲裁裁决是终局的，对各方均有约束力。
                <p class="jianju"></p>
                <p class="addCu">第八条  其它条款</p>
                <p class="jianju"></p>
                8.1 本《协议》任一条款的无效，不影响本《协议》其它条款的效力。
                <p class="jianju"></p>
                8.2 资源中心可根据国家法律法规变化及资源中心平台服务变化的需要，不定期修改本《协议》，资源中心公示的相关声明及政策均为本《协议》的《补充协议》，与本《协议》不可分割且具有同等法律效力。
                <p class="jianju"></p>
                8.3 资源中心对本《协议》拥有解释权与修改权。
                <p class="jianju"></p>
            </div>
        </div>
    </div>
</template>


<script>
import Header from '../common/header'
export default {
    data() {
        return {
            obj:{
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            headerTitle: '服务协议',
        };
    },
    components: {
        Header,
    },
}
</script>
    

<style scoped>
p {
    font-size: 0.28rem;
}
header {
    width: 100%;
    height: 0.9rem;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
header .back {
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    left: 0.32rem;
    top: 0.2rem;
}
header .title {
    font-size: 0.36rem;
    color: #4a4a4a;
    text-align: center;
    line-height: 0.9rem;
}
.cont {
    width: 6.45rem;
    height: auto;
    margin: 0 auto;
    padding: 0.28rem 0;
}
.cont .title1 {
    font-family: PingFangSC-Medium;
    font-size: 0.32rem;
    color: #4a4a4a;
    font-weight: bold;
}
.cont .font {
    font-size: 0.28rem;
    color: #4a4a4a;
    margin-top: 0.5rem;
}
.cont .font .addCu {
    font-weight: bold;
}
.cont .font .jianju {
    width: 100%;
    height: 0.5rem;
    background: #fff;
}
</style>