<template>
    <div class="allWrap">
        <Header title='实名认证'></Header>
        <div class="certification">
            <div class="topFonts">
                <p class="p1">声明：</p>
                <p>1. 为保护教师的知识产权，本平台所有资源均需要实名上传；</p>
                <p>2. 您的认证资料不会被公开，仅用于认证审核使用</p>
            </div>
            <div class="idCardWrap">
                <!-- 未认证 -->
                <div v-if="allData.hasAuthentication == 0">
                    <div class="addBefore">
                        <img class="addIDCardImg" :src="upState.idcardO.url" alt="">
                        <input type="file" name="file" accept='image/*' capture="camera" @change="upImg($event,allchooseNum,'idcardO')">
                    </div>
                    <div class="addBefore">
                        <img class="addIDCardImg" :src="upState.idcardR.url" alt="">
                        <input type="file" name="file" accept='image/*' capture="camera" @change="upImg($event,allchooseNum,'idcardR')">
                    </div>
                </div>
                <!-- 已认证 -->
                <div v-if="allData.hasAuthentication == 1">
                    <!-- 正面 -->
                    <div class="addBefore">
                        <img class="addIDCardImg" :src="allData.certification && allData.certification.idcardOUrl">
                        <!-- 未通过 -->
                        <img class="imgState" src="../../assets/images/state.png" v-if="allData.certification.status == 2">
                        <!-- 待审核 -->
                        <img class="imgState" src="../../assets/images/state2.png" v-if="allData.certification.status == 1">
                        <!-- 已通过 -->
                        <div v-if="allData.certification.status == 0">
                            <img class="imgState" src="../../assets/images/state3.png">
                        </div>
                    </div>
                    <!-- 反面 -->
                    <div class="addBefore">
                        <img class="addIDCardImg" :src="allData.certification && allData.certification.idcardRUrl">
                    </div>
                    <router-link to="seeReason" tag="p" class="seeReason" v-if="allData.certification.status == 2">查看原因</router-link>
                </div>
            </div>
            <div v-if="allData.hasAuthentication == 0">
                <p class="sureUp" v-if="upState.idcardO.status != 1 || upState.idcardR.status != 1">确定上传</p>
                <p class="sureUp sureUpOver" v-if="upState.idcardO.status == 1 && upState.idcardR.status == 1" @click="saveAuthentication()">确定上传</p>
            </div>
            <div v-if="allData.hasAuthentication == 1">
                <p class="sureUp sureUpOver" v-if="allData.certification.status == 2" @click="againUp">重新上传</p>
            </div>
        </div>
        
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'
import { Toast } from 'vant';                       //Toast 轻提示
import siteconfig from '../../assets/js/api'

export default {
    data() { 
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            allData: {
                hasAuthentication: 0,   //0用户未认证 1用户已认证
                certification: {
                    status: -1,      //0已通过 1待审核 2未通过
                }
            },
            // 未认证时上传状态
            upState: {
                idcardO: {
                    url: require('../../assets/images/addIDCard.png'),
                    state: -1,      //正面状态  1为上传后
                },
                idcardR: {
                    url: require('../../assets/images/addIDCard2.png'),
                    state: -1,      //反面状态  1为上传后
                },
            },
            // 上传附件
            // img: require('../../assets/images/addImg.png'),  //默认样式
            imgArr: [],          //存放返回的url
            allchooseNum: 9999,     //最多可选择几张
            myIndexData: '',       //我的首页信息数据
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getAuthentication();       //获取实名认证信息
    },
    methods:{
        // 获取实名认证信息
        getAuthentication(){
            var _this = this;
            let obj = {
                userId: this.userId,
            }
            this.mainapi("getAuthentication", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 上传附件 upImg(e,最多可选择几张,idcardO正面idcardR反面)
        upImg(e,allchooseNum,idType){
            const $target = e.$target || e.srcElement   //获取dom元素
            const files = $target.files                 //获取所有文件流(对象)
            const chooceNum = allchooseNum - this.imgArr.length  //计算当前可以选几张
            console.log(files,chooceNum)
            if(files.length > chooceNum){
                alert('您最多还可选择' + chooceNum + '张图片')
            }else{
                // Object.keys(files) 获取files对象的key,返回的是数组
                // forEach(当前元素,下标,元素本身)
                Object.keys(files).forEach(key => {
                    let file = files[key]                       //获取单个文件流的值
                    console.log(file)
                    var data = new FormData();                  //创建formData对象,以便进行赋值传参
                    data.append('face',file)                    //指定类型file
                    data.append('return_uri','jsonp')         //给后台传的参数(return_uri:fileurl)
                    let config = {                              //headers头类型
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    let baseUrl = process.env.NODE_ENV == 'development' ? '/api' : siteconfig.api.yxt()     
                    axios.post(baseUrl + '/uploader/imgupload.do?params=subPath:C_yearMonth', data, config).then(res => {   //(接口地址,参数,header头类型)
                        //我们是返回url地址
                        this.imgArr.push(res.data)              //将返回数组扔进数组 
                        $target.value = '';                     //可以传相同的图片
                        console.log(res.data.url)
                        // 未认证赋值身份证正反面
                        if(idType == 'idcardO'){
                            this.upState.idcardO.url = res.data.url
                            this.upState.idcardO.status = 1
                        }else if(idType == 'idcardR'){
                            this.upState.idcardR.url = res.data.url
                            this.upState.idcardR.status = 1
                        }
                    })
                })
            }
        },
        // 保存用户实名认证信息F
        saveAuthentication(){
            var _this = this;
            let obj = {
                userId: this.userId,
                idcardOUrl: this.upState.idcardO.url,
                idcardRUrl: this.upState.idcardR.url,
            }
            this.mainapi("saveAuthentication", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    Toast('保存成功');
                    _this.getAuthentication()       //获取实名认证信息
                }
            });
        },
        // 点击重新上传
        againUp(){
            this.allData.hasAuthentication = 0
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: auto;
    }
    .allWrap .certification{
        width: 100%;
        height: auto;
    }
    .topFonts{
        width: 6.9rem;
        height: auto;
        padding-top: 0.3rem;
        margin: 0 auto;
    }
    .topFonts p{
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #4A4A4A;
    }
    .topFonts .p1{
        margin-bottom: 0.4rem;
    }
    .idCardWrap{
        width: 100%;
        height: auto;
    }
    .idCardWrap .addBefore{
        width: 4.8rem;
        height: 3rem;
        border: 0.05rem solid #55ABEB;
        border-radius: 0.1rem;
        margin: 0.57rem auto 0;
        position: relative;
    }
    .idCardWrap .addBefore input{
        width: 100%;
        height: 100%;
        border: none;
        outline: 0;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .idCardWrap .addBefore .addIDCardImg{
        width: 100%;
        height: 100%;
    }
    .idCardWrap .addBefore .imgState{
        width: 0.9rem;
        height: 0.9rem;
        position: absolute;
        right: -0.45rem;
        top: -0.45rem;
    }
    .seeReason{
        font-family: PingFangSC-Regular;
        font-size: 0.24rem;
        color: #2A538E;
        text-align: center;
        padding-top: 0.4rem;
    }
    .sureUp{
        width: 6.9rem;
        height: 0.88rem;
        line-height: 0.88rem;
        background: #D8D8D8;
        border-radius: 0.44rem;
        margin: 0.5rem auto;
        font-size: 0.3rem;
        color: #FFFFFF;
        text-align: center;
    }
    .sureUpOver{
        background: #42A8FF;
    }
</style>