<template>
    <div class="allWrap">
        <Header title='收款账户'></Header>
        <div class="colAccount userinfo">
            <!-- 支付宝 -->
            <div class="allList" v-if="accountype == 1">
                <div class="list" @click="showPayType()">
                    <p class="pLeft">收款方式</p>
                    <div class="clear fr">
                        <p class="pRight1">支付宝</p>
                        <img class="img2" src="../../assets/images/youjiantou.png">
                    </div>
                </div>
                <div class="list list2">
                    <p class="pLeft">账号信息</p>
                    <input class="input1" type="text" placeholder="请输入手机号" v-model="zfbObj.zhInfo">
                </div>
                <div class="list list2">
                    <p class="pLeft">真实姓名</p>
                    <input class="input1" type="text" placeholder="请输入" v-model="zfbObj.realName">
                </div>
                <div class="jianju"></div>
                <div class="list">
                    <p class="pLeft">收入声明</p>
                    
                    <div class="clear fr" @click="goIncomeState()">
                        <p class="pRight1 colorBlue">查看详情</p>
                        <img class="img2" src="../../assets/images/youjiantou.png">
                    </div>
                </div>
            </div>
            <!-- 微信 -->
            <div class="allList" v-if="accountype == 2">
                <div class="list" @click="showPayType()">
                    <p class="pLeft">收款方式</p>
                    <div class="clear fr">
                        <p class="pRight1" v-if="accountype == 1">支付宝</p>
                        <p class="pRight1" v-if="accountype == 2">微信</p>
                        <img class="img2" src="../../assets/images/youjiantou.png">
                    </div>
                </div>
                <div class="list list2">
                    <p class="pLeft">账号信息</p>
                    <input class="input1" type="text" placeholder="请输入手机号" v-model="wxObj.zhInfo">
                </div>
                <div class="list list2">
                    <p class="pLeft">真实姓名</p>
                    <input class="input1" type="text" placeholder="请输入" v-model="wxObj.realName">
                </div>
                <div class="jianju"></div>
                <div class="list">
                    <p class="pLeft">收入声明</p>
                    
                    <div class="clear fr" @click="goIncomeState()">
                        <p class="pRight1 colorBlue">查看详情</p>
                        <img class="img2" src="../../assets/images/youjiantou.png">
                    </div>
                </div>
            </div>
            <!-- 银行卡 -->
            <div class="allList" v-if="accountype == 3">
                <div class="list" @click="showPayType()">
                    <p class="pLeft">收款方式</p>
                    <div class="clear fr">
                        <p class="pRight1">银行卡</p>
                        <img class="img2" src="../../assets/images/youjiantou.png">
                    </div>
                </div>
                <div class="list" @click="showBankType()">
                    <p class="pLeft">开户行</p>
                    <div class="clear fr">
                        <p class="pRight1">{{bankObj.selBankTypeWord}}</p>
                        <img class="img2" src="../../assets/images/youjiantou.png">
                    </div>
                </div>
                <div class="list list2">
                    <p class="pLeft">开户行名称</p>
                    <input class="input1" type="text" placeholder="请输入" v-model="bankObj.startBankName">
                </div>
                <div class="list list2">
                    <p class="pLeft">银行卡号</p>
                    <input class="input1" type="text" placeholder="请输入" v-model="bankObj.zhInfo" @input="inputChangeZH">
                </div>
                <div class="list list2">
                    <p class="pLeft">真实姓名</p>
                    <input class="input1" type="text" placeholder="请输入" v-model="bankObj.realName">
                </div>
                <div class="jianju"></div>
                <div class="list">
                    <p class="pLeft">收入声明</p>
                    <div class="clear fr" @click="goIncomeState()">
                        <p class="pRight1 colorBlue">查看详情</p>
                        <img class="img2" src="../../assets/images/youjiantou.png">
                    </div>
                </div>
            </div>
            <p class="sureUp sureUpOver" @click="setAccount()">确认提交</p>

            <!-- 支付方式 -->
            <van-popup v-model="popShow" position="bottom">
                <van-picker
                    title="选择支付方式"
                    show-toolbar
                    :columns="columns"
                    @confirm="onConfirm"
                    @cancel="onCancel"
                />
            </van-popup>
            <!-- 开户行 -->
            <van-popup v-model="bankObj.popBank" position="bottom">
                <van-picker
                    title="选择开户行"
                    show-toolbar
                    :columns="bankObj.bankArr"
                    @confirm="onConfirm2"
                    @cancel="onCancel2"
                />
            </van-popup>
        </div>
        
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'




export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            cacheData: {},          //是否有缓存数据(点击收入说明详情在返回此页面)
            // 支付方式
            accountype: 3,              //1. 支付宝 2 微信 3银行卡
            popShow: false,              //支付方式蒙层
            columns: ['支付宝', '微信','银行卡'],
            // 支付宝部分
            zfbObj: {
                zhInfo: '',                 //账号信息
                realName: '',               //真实姓名
            },
            // 微信部分
            wxObj: {
                zhInfo: '',                 //账号信息
                realName: '',               //真实姓名
            },
            // 银行卡部分
            bankObj: {
                zhInfo: '',                 //银行卡号
                realName: '',               //真实姓名
                startBankName: '',          //开户行名称
                bankArr: ['中国建设银行','中国银行','招商银行','中国农业银行','中国工商银行','中国光大银行','中国民生银行','中信银行','交通银行','广东发展银行','上海浦东发展银行'],
                selBankType: '',            //银行类型0中国建设银行1中国银行2招商银行3中国农业银行4中国工商银行5中国光大银行6中国民生银行7中信银行8交通银行9广东发展银行10上海浦东发展银行
                selBankTypeWord: '请选择',   //银行类型 文字形式
                popBank: false,             //开户行蒙层  
            },
            getAccountData: '',         //获取用户收款账号信息
            
           
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.isComeIncomeState()  //是否有缓存数据(点击收入说明详情在返回此页面)
        
    },
    methods:{
        // 是否从点击收入说明详情返回此页面)
        isComeIncomeState(){
            this.cacheData = localStorage.getItem("cacheData") ? JSON.parse(localStorage.getItem("cacheData")) : '';
            if(this.cacheData){
                console.log('是否从点击收入说明详情返回此页面--------是的')

                this.accountype = this.cacheData.accountype;                    //赋值支付方式
                // // 1. 支付宝 2 微信 3银行卡	
                if(this.cacheData.accountype == 1){
                    this.zfbObj.zhInfo = this.cacheData.zfbObj.zhInfo            //银行卡号
                    this.zfbObj.realName = this.cacheData.zfbObj.realName       //账户 真实姓名	
                }else if(this.cacheData.accountype == 2){
                    this.wxObj.zhInfo = this.cacheData.wxObj.zhInfo             //银行卡号	
                    this.wxObj.realName = this.cacheData.wxObj.realName         //账户 真实姓名	
                }else if(this.cacheData.accountype == 3){
                    this.bankObj.zhInfo = this.cacheData.bankObj.zhInfo         //银行卡号	
                    this.bankObj.realName = this.cacheData.bankObj.realName     //账户 真实姓名
                    this.bankObj.startBankName = this.cacheData.bankObj.startBankName   //开户行名称
                    this.bankObj.selBankType = this.cacheData.bankObj.selBankType       //银行类型
                    this.bankObj.selBankTypeWord = this.cacheData.bankObj.selBankTypeWord
                }
            }else{
                console.log('是否从点击收入说明详情返回此页面--------不是的')
                this.getAccount()       //获取用户收款账号信息
            }
        },
        // vantUI start
        // 点击微信支付宝或银行卡
        showPayType() {
            this.popShow = true;
        },
        // 支付方式蒙层点击确定
        onConfirm(value, index) {
            if(value == '支付宝'){
                this.accountype = 1
            }else if(value == '微信'){
                this.accountype = 2
            }else if(value == '银行卡'){
                this.accountype = 3
            }
            this.popShow = false;
            console.log(`当前值：${value}, 当前索引：${index}`)
        },
        // 支付方式蒙层内点击取消
        onCancel() {
            this.popShow = false;
        },
        // 点击开户行
        showBankType(){
            this.bankObj.popBank = true
        },
        // 开户行蒙层内点击取消
        onCancel2() {
            this.bankObj.popBank = false;
        },
        // 开户行蒙层内点击确定
        onConfirm2(value, index) {
            this.bankObj.selBankTypeWord = value    //显示文字
            this.bankObj.selBankType = index        //银行类型0中国建设银行(提交时候用)
            this.bankObj.popBank = false;
            console.log(`当前值：${value}, 当前索引：${index},银行类型：${this.selBankType}`,)
        },
        // 获取用户收款账号信息
        getAccount(){
            var _this = this;
            var obj = {
                userId: this.userId,
            };
            this.mainapi("getAccount", obj, function(res) {
                console.log(res);
                if (res.data.status == 'SUCCESS') {
                    _this.getAccountData = res.data.c
                    // hasAccount 1已保存账号信息0未保存用户账号信息	
                    if(res.data.c.hasAccount == 1){
                        _this.accountype = res.data.c.libauth.accountype        //1. 支付宝 2 微信 3银行卡	
                        // 1. 支付宝 2 微信 3银行卡	
                        if(res.data.c.libauth.accountype == 1){
                            _this.zfbObj.zhInfo = res.data.c.libauth.bankcard       //银行卡号
                            _this.zfbObj.realName = res.data.c.libauth.accountname  //账户 真实姓名	
                        }else if(res.data.c.libauth.accountype == 2){
                            _this.wxObj.zhInfo = res.data.c.libauth.bankcard       //银行卡号	
                            _this.wxObj.realName = res.data.c.libauth.accountname  //账户 真实姓名	
                        }else if(res.data.c.libauth.accountype == 3){
                            _this.bankObj.zhInfo = res.data.c.libauth.bankcard       //银行卡号	
                            _this.bankObj.realName = res.data.c.libauth.accountname  //账户 真实姓名
                            _this.bankObj.startBankName = res.data.c.libauth.bankname //开户行名称
                            _this.bankObj.selBankType = res.data.c.libauth.banktype  //银行类型
                            _this.bankObj.selBankTypeWord = _this.bankObj.bankArr[_this.bankObj.selBankType]    //
                        }
                    }
                }
            });
        },
        // 用户设置收款账户
        setAccount(){
            var _this = this;
            var obj;
            if(!((/[\u4e00-\u9fa5]{2,6}/).test(this.zfbObj.realname))){
                _this.$dialog.alert({
                    title: '真实姓名请输入2-6个汉字',
                })
                return;
            }
            if(this.accountype == 1){       //支付宝
                if(!this.zfbObj.realName || !this.zfbObj.zhInfo){
                    _this.$dialog.alert({
                        title: '请完整填写信息',
                    })
                    return;
                }else if(!(/^1[34578]\d{9}$/.test(this.zfbObj.zhInfo))){
                    this.istanShow("账号信息请输入正确手机号");
                    return;
                }
                obj = {
                    userId: this.userId,
                    accountype: this.accountype,        //账户类型1支付宝 2 微信 3银行卡	
                    accountname: this.zfbObj.realName,      //账户真实姓名	
                    bankcard: this.zfbObj.zhInfo,            //账号	
                }
            }else if(this.accountype == 2){ //微信部分
                if(!this.wxObj.realName || !this.wxObj.zhInfo){
                    _this.$dialog.alert({
                        title: '请完整填写信息',
                    })
                    return;
                }else if(!(/^1[34578]\d{9}$/.test(this.wxObj.zhInfo))){
                    this.istanShow("账号信息请输入正确手机号");
                    return;
                }
                obj = {
                    userId: this.userId,
                    accountype: this.accountype,        //账户类型1支付宝 2 微信 3银行卡	
                    accountname: this.wxObj.realName,      //账户真实姓名	
                    bankcard: this.wxObj.zhInfo,            //账号	
                }
            }else if(this.accountype == 3){ //银行卡
                if((!this.bankObj.realName || !this.bankObj.zhInfo || !this.bankObj.startBankName) && this.bankObj.selBankType){
                    _this.$dialog.alert({
                        title: '请完整填写信息',
                    })
                    return;
                }
                obj = {
                    userId: this.userId,
                    accountype: this.accountype,                //账户类型1支付宝 2 微信 3银行卡	
                    accountname: this.bankObj.realName,         //账户真实姓名	
                    bankcard: this.bankObj.zhInfo,              //账号
                    banktype: this.bankObj.selBankType,         //银行类型0中国建设银行1中国银行2招商银行3中国农业银行4中国工商银行5中国光大银行6中国民生银行7中信银行8交通银行9广东发展银行10上海浦东发展银行	
                    bankname: this.bankObj.startBankName,       //银行名称		
                }
            }
            this.mainapi("setAccount", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.$dialog.alert({
                        title: '提交成功',
                    }).then(() => {
                        _this.$router.push("/userinfo")
                    })
                }else{
                    _this.$dialog.alert({
                        title: res.data.message,
                    }).then(() => {
                        // _this.$router.push("/userinfo")
                    })
                }
            });
        },
        // 点击查看说明
        goIncomeState(){
            // 缓存数据初始化赋值
            this.cacheData = {
                accountype: '',
                zfbObj: {},
                wxObj: {},
                bankObj: {}
            }
            this.cacheData.accountype = this.accountype;                    //赋值支付方式
            // // 1. 支付宝 2 微信 3银行卡	
            if(this.cacheData.accountype == 1){
                this.cacheData.zfbObj.zhInfo = this.zfbObj.zhInfo           //银行卡号
                this.cacheData.zfbObj.realName = this.zfbObj.realName       //账户 真实姓名	
            }else if(this.cacheData.accountype == 2){
                this.cacheData.wxObj.zhInfo = this.wxObj.zhInfo             //银行卡号	
                this.cacheData.wxObj.realName = this.wxObj.realName         //账户 真实姓名	
            }else if(this.cacheData.accountype == 3){
                this.cacheData.bankObj.zhInfo = this.bankObj.zhInfo         //银行卡号	
                this.cacheData.bankObj.realName = this.bankObj.realName     //账户 真实姓名
                this.cacheData.bankObj.startBankName = this.bankObj.startBankName   //开户行名称
                this.cacheData.bankObj.selBankType = this.bankObj.selBankType       //银行类型
                this.cacheData.bankObj.selBankTypeWord = this.bankObj.selBankTypeWord
            }
            localStorage.setItem('cacheData',JSON.stringify(this.cacheData))
            this.$router.push("/incomeState");
        },
        // input银行账号信息限制输入数字
        inputChangeZH(){
            this.bankObj.zhInfo = this.bankObj.zhInfo.replace(/[^\d]/g, '') 
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #f4f4f4;
        font-family: Microsoft YaHei;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #f4f4f4;
        font-family: Microsoft YaHei;
    }
    .allWrap .userinfo{
        width: 100%;
        height: auto;
    }
    /* 间距 */
    .userinfo .jianju{
        width: 100%;
        height: 0.2rem;
        background: #F1F1F1;
    }
    .userinfo .allList{
        width: 100%;
        height: auto;
        background: white;
    }
    .userinfo .allList .list{
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid #F1F1F1;
    }
    .userinfo .allList .list .img1{
        width: 0.3rem;
        height: 0.3rem;
        margin-top: 0.35rem;
        margin-left: 0.3rem;
        float: left;
    }
    .userinfo .allList .list .pLeft{
        font-size: 0.28rem;
        color: #4A4A4A;
        line-height: 1rem;
        margin-left: 0.15rem;
        float: left;
    }
    .userinfo .allList .list .p2{
        margin-right: 0.3rem;
        float: right;
    }
    .userinfo .allList .list .pRight1{
        font-size: 0.3rem;
        line-height: 1rem;
        color: #A3A3A3;
        margin-right: 0.2rem;
        float: left;
    }
    .userinfo .allList .list .img2{
        width: 0.2rem;
        height: 0.2rem;
        margin-top: 0.4rem;
        margin-right: 0.3rem;
        float: right;
    }
    .userinfo .allList .list2{
        height: auto;
        padding-bottom: 0.2rem;
    }
    .userinfo .allList .list2 .input1{
        width: 7.2rem;
        height: 0.6rem;
        outline: 0;
        border: 0;
        margin: 0 auto;
        font-size: 0.3rem;
        display: block;
    }
    .userinfo .allList .list .colorBlue{
        color: #55ABEB;
    }

    .sureUp{
        width: 6.9rem;
        height: 0.88rem;
        line-height: 0.88rem;
        background: #D8D8D8;
        border-radius: 0.44rem;
        margin: 0.5rem auto;
        font-size: 0.3rem;
        color: #FFFFFF;
        text-align: center;
    }
    .sureUpOver{
        background: #42A8FF;
    }
</style>