<template>
    <div class="allWrap">
        <Header title='经验值记录'></Header>
        <div class="expWrap">
            <p class="expTitle1">我的经验值：
                <span>{{allData.expVal}}</span>
            </p>
            <div class="clear list" :key="index" v-for="(item,index) in allData.recordList">
                <p class="p1">{{item.extInfo.operateType}}</p>
                <p class="p2">+{{item.extInfo.exp}}</p>
                <p class="time">{{item.extInfo.operateTime}}</p>
            </div>
        </div>
        
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            allData: '',            //获取用户经验值记录数据
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getExpRecord()      //获取用户经验值记录
    },
    methods:{
        // 获取用户经验值记录
        getExpRecord(){
            var _this = this;
            var obj = {
                userId: this.userId,
            };
            this.mainapi("getExpRecord", obj, function(res) {
                console.log(res);
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #f4f4f4;
        font-family: Microsoft YaHei;
    }
    .expTitle1{
        font-size: 0.32rem;
        color: #212121;
        margin-left: 0.3rem;
        padding: 0.5rem 0;
    }
    .expTitle1 span{
        font-size: 0.3rem;
        color: #FD4C50;
        font-weight: bold;
    }
    .list{
        width: 6.9rem;
        margin: 0 auto;
        padding: 0 0.3rem;
        line-height: 1rem;
        background: #fff;
        border-bottom: 1px solid #f4f4f4;
    }
    .list .p1{
        font-size: 0.28rem;
        color: #686568;
        float: left;
    }
    .list .p2{
        font-size: 0.28rem;
        color: #FD4C50;
        margin-left: 0.2rem;
        float: left;
    }
    .list .time{
        font-size: 0.3rem;
        color: #A3A3A3;
        float: right;
    }
</style>