<template>
    <div class="allWrap">
        <Header title = '忘记密码'></Header>
        
        <div class="forgetPsd">
			<div class="box phone">
				<img class="imgLeft" src="../../assets/images/forgetPsd/phone01.png" alt="">
				<input type="text" placeholder="手机号" v-model="phone">
			</div>
			<div class="box ident">
				<img class="imgLeft" src="../../assets/images/forgetPsd/code01.png" alt="">
				<input type="text" placeholder="验证码" v-model="code">
				<p :class="['getcode',!canClick?'getcodeing':'']" @click="getCode()">{{content}}</p>
			</div>
			<div class="box psd">
				<img class="imgLeft" src="../../assets/images/forgetPsd/psd01.png" alt="">
				<input :type="psdType" placeholder="设置新密码" v-model="psd">
				<img class="imgRight" :src="openeye" @click="clickEye()">
			</div>
			<p class="sub" @click="submit()">提交</p>
        </div>
		<!-- 小弹窗 -->
		<p class="samllTanchuang" v-if='tanShow'>{{words}}</p>
        
    </div>
</template>

<script>
import Header from '../common/header'
import { Toast } from 'vant';                       //Toast 轻提示

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true,        //header页面  img路径
			},
			phone: '',		      //手机号
			// 获取验证码相关
			content: '发送验证码',	//按钮显示内容
			totalTime: 60,		  //记录具体倒计时时间
			canClick: true,		  //是否可以点击(在倒计时过程中不可点击)
			code: '',			  //输入的验证码
			// 设置新密码相关
			psd: '',			  //输入的密码
			psdType: 'password',  //密码类型
			openeye: require("../../assets/images/forgetPsd/biyan.png"),	 //图片地址
			uneye: require("../../assets/images/forgetPsd/zhengyan.png"),	 //图片地址
			tanShow: false,		//小弹窗
			words: "",          //小弹窗内文字
        };
    },
    components: {
        Header,
    },
    created() {},
    mounted() {
    },
    methods:{
        // 点击获取验证码
        getCode() {
			var phone = this.phone
			var _this = this;
			if(!(/^1[34578]\d{9}$/.test(phone))){ 
				Toast('请输入有效手机号'); 
				return false; 
			} else{
				this.findPhone();
			}
		},
		// 获取验证码接口
		findPhone(){
			var _this = this;
			var obj = {
				phone: _this.phone,
			}
			this.mainapi('sendPhone',obj,function(res){
				if(res.data.status == "SUCCESS"){
					Toast('发送成功'); 
					_this.content = _this.totalTime + 's后重新发送' //这里解决60秒不见了的问题
					if(!_this.canClick) return;					//默认true,若为false,不可点击,跳出循环
					_this.canClick = false						//使其不可点击
					let clock = window.setInterval(() => {
						_this.totalTime--
						_this.content = _this.totalTime + 's后重新发送'
						if (_this.totalTime < 0) {     			//当倒计时小于0时清除定时器
							window.clearInterval(clock)
							_this.content = '重新发送验证码'
							_this.totalTime = 60
							_this.canClick = true				//倒计时结束,使其可点击
						}
					},1000)
				}else{
					Toast(res.data.message); 
				}
			})
		},
		// 点击睁眼图片
		clickEye(){
			this.psdType = this.psdType==='password'?'text':'password'
			this.openeye = this.openeye == require("../../assets/images/forgetPsd/biyan.png") ? this.uneye : require("../../assets/images/forgetPsd/biyan.png")
		},
		// 点击提交
		submit(){
			var _this = this;
			if(!this.phone){
				Toast("请输入手机号"); 
			}else if(!this.code){
				Toast("请输入验证码"); 
			}else if(!this.psd){
				Toast("请输入新密码");
			}else{
				var obj = {
					phone: _this.phone,
					rank: _this.code,
					password: _this.psd,
				}
				this.mainapi('updatePwdByRank',obj,function(res){
					if(res.data.status == "SUCCESS"){
						Toast(res.data.message);
						setTimeout(function(){
							_this.$router.go(-1);
						},2000)
					}else{
						Toast(res.data.message);
					}
				})
			}
		},
    }
}
</script>

<style scoped>

html,body{
  height:100%;
  background:#f4f4f4;
}
.allWrap{
    width: 100%;
    height: auto;
}
.allWrap .forgetPsd{
    width: 100%;
    height: auto;
    position: relative;
}
.forgetPsd .box{
	width: 6rem;
	height: 0.5rem;
	margin: 0.5rem auto;
	border-bottom: 1px solid #f1f1f1;
}
.forgetPsd .box .getcode{
	font-size: 0.24rem;
	color: #55ABEB;
	background: #DFEEFA;
	padding: 0.12rem 0.15rem;
	margin-top: -0.2rem;
	border-radius: 2rem;
	float: right;
}
.forgetPsd .box .getcodeing{
	color: #9B9B9B;
	background: #F2F2F2;
}
.forgetPsd .box input{
	outline: none;
	border: none;
	float: left;
}
.forgetPsd .box .imgLeft{
	width: 0.3rem;
	height: 0.3rem;
	margin-right: 0.2rem;
	float: left;
}
.forgetPsd .box .imgRight{
	width: 0.3rem;
	height: auto;
	/* margin-right: 0.2rem; */
	float: right;
}
.forgetPsd .sub{
	text-align: center;
	font-size: 0.32rem;
	width: 6rem;
	height: 0.9rem;
	line-height: 0.9rem;
	background: #4EA5E7;
	color: #fff;
	box-shadow: 0 0.04rem 0.12rem 0 #A2D0F3;
	border-radius: 2rem;
	margin: 1rem auto;
}
</style>