<template>
    <div class="allWrap">
        <Header title='收入声明'></Header>
        <div class="income">
            <p class="pOne">• 平台服务费：</p>
            <p class="pTwo">资源中心采用平台支持模式与您进行合作，为您提供资源发布、查询、管理及相关技术服务，如您提供的资源作品为收费资源，则通过提供上述技术服务向您收取“资源售价”的 
                <span class="colorRed">10%</span>
                的平台服务费。如您提供的资源作品为免费课程，则就免费资源涉及的服务将免于收取平台服务费。
            </p>
            <p class="pOne">• 统一打款：</p>
            <p class="pTwo">您上传的“收费资源”被下载时，扣除
                <span class="colorRed">10%</span>
                的平台服务费后（服务费主要用于平台运营成本、微信商户手续费用（0.6%）、支付宝商户手续费用（0.55%）），剩下的部分将作为您的收入打入您的个人收款账户，实际到账日期以打款日期为准。 
            </p>
            <p class="pOne">• 收款账户：</p>
            <p class="pTwo">请您通过“我的-收款账户”页面维护个人的收款账户信息，如有变更，请及时更新，以保证正常收款。
                <span class="colorRed">注：</span>
                设置收款账号前，请先通过“我的-实名认证”页面进行认证，未进行实名认证或认证未通过的用户将无法收款！ 
            </p>
            <p class="pOne">• 免责声明</p>
            <p class="pTwo">请仔细核对收款账号及真实姓名信息，如出现输入错误或信息不符等情况，导致无法收款，一切后果将由本人承担，平台不承担责任。</p>
            <p class="pThree">如有疑问，请拨打客服电话：400-010-0910</p>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {

},
    methods:{
        
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: auto;
    }
    .income{
        width: 6.9rem;
        margin: 0 auto;
    }
    .pOne{
        font-size: 0.28rem;
        color: #686568;
        font-weight: bold;
        margin-top: 0.5rem;
    }
    .pOne:nth-of-type(1){
        margin-top: 0.3rem;
    }
    .pTwo{
        font-family: PingFangSC-Regular;
        font-size: 0.26rem;
        color: #686568;
        margin-top: 0.24rem;
    }
    .pTwo .colorRed{
        color: #EB6B69;
    }
    .pThree{
        font-size: 0.26rem;
        color: #686568;
        font-weight: bold;
        margin-top: 0.52rem;
    }
</style>