<template>
    <div class="allWrap">
        <div class="index">
            <div class="comTop">
                <router-link to="commonSearch" class="searchWrap" tag="div">
                    <img src="../../assets/images/searchImg.png" alt="">
                    <p>搜索资源</p>
                </router-link>
                <div class="lunboWrap">
                    <van-swipe class="my-swipe" :autoplay="3000" :width="380" indicator-color="white">
                        <van-swipe-item>
                            <img src="../../assets/images/heaBg02.png" alt="">
                        </van-swipe-item>
                    </van-swipe>
                </div> 
                <div class="boxData clear">
                    <router-link to="upload" tag="div" class="upResou">上传资源
                        <img class="imgIcon" src="../../assets/images/icon32.png" alt="">
                    </router-link>
                    <router-link to="certification" tag="div" class="realName">实名认证
                        <img class="imgIcon" src="../../assets/images/icon33.png" alt="">
                    </router-link>
                </div>
            </div>
            <div class="listWrap">
                <!-- 精品微课 -->
                <router-link to="wkResource?resTypeCode=102" class="list" tag="div">
                    <div class="lLeft">
                        <p class="className">精品微课</p>
                        <p class="classNum">共{{allData.micro.totalCount}}份</p>
                        <p class="more">查看更多</p>
                    </div>
                    <div class="listWrap2">
                        <div class="list2" :key="index" v-for="(item,index) in allData.micro.documentList">
                            <div v-if="index<4">
                                <img class="typeImg" :src="item.picSuffix" alt="">
                                <p class="p1">{{item.toolTitle}}</p>
                            </div>
                        </div>
                    </div>
                </router-link>
                <!-- 教学资源 -->
                <router-link to="wkResource?resTypeCode=101" class="list" tag="div">
                    <div class="lLeft">
                        <p class="className">教学资源</p>
                        <p class="classNum">共{{allData.TeacherRes.totalCount}}份</p>
                        <p class="more">查看更多</p>
                    </div>
                    <div class="listWrap2">
                        <div class="list2" :key="index" v-for="(item,index) in allData.TeacherRes.documentList">
                            <div v-if="index<4">
                                <img class="typeImg" :src="item.picSuffix" alt="">
                                <p class="p1">{{item.toolTitle}}</p>
                            </div>
                        </div>
                    </div>
                </router-link>
                <!-- 研修资源 -->
                <router-link to="wkResource?resTypeCode=100" class="list" tag="div">
                    <div class="lLeft">
                        <p class="className">研修成果</p>
                        <p class="classNum">共{{allData.Training.totalCount}}份</p>
                        <p class="more">查看更多</p>
                    </div>
                    <div class="listWrap2">
                        <div class="list2" :key="index" v-for="(item,index) in allData.Training.documentList">
                            <div v-if="index<4">
                                <img class="typeImg" :src="item.picSuffix" alt="">
                                <p class="p1">{{item.toolTitle}}</p>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>

        <Footer :show="obj"></Footer>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: 1,     //header页面  select类名
                isImg1: 1        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            allData: {
                TeacherRes: '',     //教学资源
                Training: '',       //研修资源
                micro: '',          //精品微课资源
            },
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {
    },
    mounted() {
        this.getIndexList();        //获取首页信息
    },
    methods:{
        // 获取首页信息
        getIndexList(){
            var _this = this;
            var obj = {
                userId: this.userId,
            };
            this.mainapi("getIndexList", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c;
                }
            });
        },
        
    }
}
</script>

<style scoped>
    html,
    body {
        width: 100%;
        height: 100%;
        background: #f1f1f1;
    }
    .allWrap{
        width: 100%;
        height: auto;
        padding-bottom: 1.3rem;
        background: #F1F1F1;
        position: absolute;
        left: 0;
        top: 0;
    }
    .comTop{
        width: 100%;
        height: auto;
        background: #fff;
        padding: 0.3rem 0;
    }
    .comTop .searchWrap{
        width: 6.9rem;
        height: 0.64rem;
        background: #F0F1F3;
        border: 1px solid #DEDFE1;
        border-radius: 0.1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .comTop .searchWrap img{
        width: 0.33rem;
        height: 0.33rem;
        margin-top: 0.15rem;
        margin-right: 0.1rem;
    }
    .comTop .searchWrap p{
        line-height: 0.64rem;
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #7B7C80;
    }
    .comTop .lunboWrap{
        width: 6.9rem;
        height: 2.3rem;
        margin: 0.25rem auto 0;
        border-radius: 0.1rem;
    }
    .comTop .lunboWrap img{
        width: 100%;
        height: 100%;
    }

    .comTop .boxData{
        width: 6.9rem;
        height: auto;
        margin: 0.2rem auto 0;
    }
    .comTop .boxData .upResou,
    .comTop .boxData .realName{
        width: 3.1rem;
        height: 1rem;
        line-height: 1rem;
        font-size: 0.24rem;
        border-radius: 0.1rem;
        font-weight: bold;
        padding-left: 0.3rem;
        position: relative;
    }
    .comTop .boxData .upResou{
        color: #674C35;
        background: #FAEECD;
        float: left;
    }
    .comTop .boxData .realName{
        color: #843939;
        background: #FDF1E3;
        float: right;
    }
    .comTop .boxData .imgIcon{
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        right: 0.18rem;
        top: 0.1rem;
    }
    .index .listWrap{
        width: 100%;
        height: auto;
    }
    .index .listWrap .list{
        width: 6.9rem;
        height: 2.65rem;
        background: #fff;
        border-radius: 0.2rem;
        margin: 0.2rem auto 0;
    }
    .index .listWrap .list .lLeft{
        width: 1.84rem;
        height: 2rem;
        float: left;
        background-image: linear-gradient(180deg, #3BA8AD 0%, #6DD3D6 100%);
        border: 1px solid rgba(0,0,0,0.10);
        border-radius: 0.05rem;
        margin-left: 0.3rem;
        margin-top: 0.27rem;
    }
    .index .listWrap .list:nth-of-type(2) .lLeft{
        background-image: linear-gradient(180deg, #3696CA 0%, #66C7E7 100%);
    }
    .index .listWrap .list:nth-of-type(3) .lLeft{
        background-image: linear-gradient(180deg, #42A8FF 0%, #7BBAFF 100%);    }
    .index .listWrap .list .lLeft .className{
        font-size: 0.3rem;
        color: #FFFFFF;
        text-align: center;
        font-weight: bold;
        padding-top: 0.3rem;
    }
    .index .listWrap .list .lLeft .classNum{
        font-family: PingFangSC-Regular;
        font-size: 0.22rem;
        color: #FFFFFF;
        text-align: center;
        padding-top: 0.1rem;
    }
    .index .listWrap .list .lLeft .more{
        width: 1.44rem;
        height: 0.5rem;
        line-height: 0.5rem;
        background: #FFFFFF;
        border-radius: 0.25rem;
        margin: 0.15rem auto;
        color: #3BA8AD;
        text-align: center;
    }
    .index .listWrap .list:nth-of-type(2) .lLeft .more{
        color: #3696CA;
    }
    .index .listWrap .list:nth-of-type(3) .lLeft .more{
        color: #42A8FF;
    }
    .index .listWrap .list .listWrap2{
        width: 4.3rem;
        height: 2.1rem;
        margin-top: 0.15rem;
        margin-left: 0.2rem;
        float: left;
    }
    .index .listWrap .list .listWrap2 .list2{
        width: 100%;
        height: auto;
        margin-top: 0.13rem;
        overflow: hidden;
    }
    .index .listWrap .list .listWrap2 .list2 .typeImg{
        width: 0.28rem;
        height: 0.28rem;
        margin-top: 0.06rem;
        float: left;
    }
    .index .listWrap .list .listWrap2 .list2 .p1{
        width: 3.9rem;
        height: auto;
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #686568;
        margin-left: 0.05rem;
        float: left;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
</style>