<template>
    <div class="allWrap">
        <!-- 内容 -->
        <div class="login">
            <div class="banner">
                <p>你好，欢迎登录资源中心</p>
            </div>
            <div class="content">
                <p class="title">请登录</p>
                <div class="zm">
                    <input class="zh" type="text" placeholder="请输入用户名" v-model="zh" />
                    <img src="../../assets/images/chacha.png" v-if="chaShow1" @click="cliChazi(1)" />
                </div>
                <div class="zm">
                    <input class="mm" type="password" placeholder="密码" v-model="mm" />
                    <img src="../../assets/images/chacha.png" v-if="chaShow2" @click="cliChazi(2)" />
                </div>
                <p class="login" @click="login()">登录</p>
                <router-link to="sign" class="forgetPsw fl" style="color: #42A8FF;">立即注册</router-link>
                <p class="forgetPsw fr" @click="forgetPsd()">忘记密码</p>
                <!-- <p class="report">面授报道</p> -->
                <p class="agreement">
                    登录则表示您已查看并同意
                    <router-link to="agreementFW">《服务协议》</router-link>与
                    <router-link to="agreementYS">《用户隐私声明》</router-link>
                </p>
            </div>
        </div>
    </div>
</template>
<script>
import { Toast } from "vant"; //Toast 轻提示
export default {
    data() {
        return {
            zh: "", //账号
            mm: "", //密码
            chaShow1: false, //叉子显示或隐藏    1为第一个显示 2为第二个显示
            chaShow2: false, //叉子显示或隐藏    1为第一个显示 2为第二个显示
            tanShow: false, //小弹窗
            words: "", //小弹窗内文字
        };
    },
    // 监听input值
    watch: {
        zh(val) {
            if (this.zh.length > 0) {
                this.chaShow1 = true;
            } else {
                this.chaShow1 = false;
            }
        },
        mm(val) {
            if (this.mm.length > 0) {
                this.chaShow2 = true;
            } else {
                this.chaShow2 = false;
            }
        },
    },
    components: {},
    created() {},
    mounted() {},
    methods: {
        // 点击登录
        login() {
            var _this = this;
            console.log(this.zh);
            var obj = {
                username: this.zh,
                password: this.mm,
            };
            this.mainapi("user_Login", obj, function (res) {
                console.log(res);
                if (res.data.status == "SUCCESS") {
                    console.log("进来了");
                    var user = {
                        userId: res.data.c.userId,
                    };
                    // var user = {
                    // 	'userId' : 2010657,
                    // }
                    localStorage.setItem("user", JSON.stringify(user));
                    _this.mainapi("getUserInfo", user, function (res) {
                        if (res.data.status == "SUCCESS") {
                            localStorage.setItem("cUserInfo",JSON.stringify(res.data.c));
                        }
                    });
                    _this.$router.push("/userinfo");
                } else {
                    Toast(res.data.message);
                }
            });
        },
        // 点击忘记密码
        forgetPsd() {
            this.$router.push("/forgetPsd");
        },
        // 点击叉子
        cliChazi(index) {
            if (index == 1) {
                this.zh = "";
            } else {
                this.mm = "";
            }
        },
    },
};
</script>

<style scoped>
html,
body {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
}
.allWrap {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    position: absolute;
    left: 0;
    top: 0;
}
.allWrap .login {
    width: 100%;
    height: auto;
    position: relative;
}
.login .banner {
    width: 100%;
    height: 3.9rem;
    background: url("../../assets/images/indexBanner.png");
    background-size: cover;
}
.login .banner p {
    font-size: 0.48rem;
    color: #ffffff;
    text-align: center;
    line-height: 4.3rem;
}
.login .content {
    width: 6rem;
    height: 9rem;
    padding: 0.4rem;
    background: #fff;
    margin: -0.7rem auto;
    border-radius: 0.2rem;
    position: relative;
}
.login .content .title {
    font-size: 0.36rem;
    color: #4a4a4a;
}
.login .content .zm {
    width: 98%;
    height: 0.7rem;
    padding: 0 0.1rem;
    border-bottom: 1px solid #c0c0c0;
    display: block;
    margin-top: 0.2rem;
    position: relative;
}
.login .content .zm input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    float: left;
}
.login .content .zm img {
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 0.2rem;
    right: 0;
}
.login .content .login {
    width: 6rem;
    box-shadow: 0 0.04rem 0.12rem 0 #a2d0f3;
    border-radius: 2rem;
    background: #4ea5e7;
    font-size: 0.32rem;
    color: #fff;
    text-align: center;
    padding: 0.25rem 0;
    line-height: normal;
    letter-spacing: 0.1rem;
    margin-top: 0.9rem;
}
.login .content .sign {
    font-family: PingFangSC-Regular;
    font-size: 0.24rem;
    color: #4ea5e7;
    text-align: center;
    padding-top: 0.35rem;
}
.login .content .forgetPsw {
    font-size: 0.24rem;
    color: #4a4a4a;
    margin-top: 0.4rem;
}
.login .content .report {
    font-size: 0.24rem;
    color: #4a4a4a;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.4rem;
}
.login .content .agreement {
    font-family: PingFangSC-Regular;
    font-size: 0.2rem;
    color: #b9b9b9;
    text-align: center;
    position: absolute;
    left: 0.15rem;
    bottom: 0.4rem;
}
.login .content .agreement a {
    color: #42a8ff;
}
</style>
