<template>
    <div class="allWrap">
        <Header title='修改密码'></Header>
        <div class="userinfo">
            <!-- 间距 -->
            <div class="jianju"></div>
            <div class="allList">
                <div class="list">
                    <p>旧密码</p>
                    <input type="text" placeholder="旧密码" v-model="oldpwd">
                </div>
                <div class="list">
                    <p>新密码</p>
                    <input type="password" placeholder="8-20位非纯数字组合，区分大小写" v-model="newpwd">
                </div>
                <div class="list">
                    <p>确认密码</p>
                    <input type="password" placeholder="再次输入新密码" v-model="newpwd2">
                </div>
            </div>
            <p class="sureModify" @click="updatePwd()">确认修改</p>
        </div>
        
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            oldpwd: '',
            newpwd: '',
            newpwd2: '',
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {

    },
    methods:{
        // 用户修改密码
        updatePwd(){
            
            var newpwdTest = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,20}$/
            if(!this.oldpwd){
                this.$dialog.alert({
                    title: '请输入旧密码',
                })
            }else if(!this.newpwd){
                this.$dialog.alert({
                    title: '请输入新密码',
                })
            }else if(!this.newpwd2){
                this.$dialog.alert({
                    title: '请再次输入新密码',
                })
            }else if(!newpwdTest.test(this.newpwd)){
                this.$dialog.alert({
                    title: '密码为8-20位非纯数字组合，区分大小写',
                })
            }else if(this.newpwd != this.newpwd2){
                this.$dialog.alert({
                    title: '两次密码不一致',
                })
            }else{
                // 用户修改密码
                var _this = this
                var obj = {
                    userId: this.userId,
                    oldpwd: this.oldpwd,
                    newpwd: this.newpwd,
                };
                this.mainapi("updatePwd", obj, function(res) {
                    if (res.data.status == 'SUCCESS') {
                        _this.$dialog.alert({
                            title: '修改成功',
                        })
                    } 
                });
            }
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #f4f4f4;
        font-family: Microsoft YaHei;
    }
    .allWrap .list{
        width: 6.9rem;
        height: 1rem;
        padding: 0 0.3rem;
        border-bottom: 1px solid #f4f4f4;
        background: #fff;
    }
    .allWrap .list p{
        width: 1.4rem;
        line-height: 1rem;
        float: left;
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #686568;
    }
    .allWrap .list input{
        width: 4.7rem;
        line-height: 1rem;
        font-size: 0.28rem;
        border: none;
        outline: none;
        padding-left: 0.3rem;
        float: left;
    }
    .allWrap .sureModify{
        width: 6.9rem;
        height: auto;
        font-family: PingFangSC-Regular;
        font-size: 0.3rem;
        color: #FFFFFF;
        text-align: center;
        background: #42A8FF;
        border-radius: 0.44rem;
        padding: 0.23rem 0;
        margin: 0.6rem auto 0;
    }
</style>