<template>
    <div class="allWrap">
        <Header :title="headerTitle"></Header>
        <!-- 我的上传 -->
        <div class="myUpWrap" v-if="headerTitle == '我的上传'">
            <van-tabs v-model="active">
                <van-tab title="微课资源">
                    <van-list
                        class="listWrap"
                        v-model="loading1"
                        :finished="finished1"
                        finished-text="没有更多了"
                        @load="loadMore1"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList1"
                            @click="goSeeResourse(item.id, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.toolTitle }}</p>
                                <p class="time">
                                    {{ item.mytime }} • {{ item.resStatusName }}
                                </p>
                            </div>
                            <p
                                class="delBut"
                                @click.stop="delDocument(item)"
                                v-if="
                                    item.type == 'libVideo' ||
                                    item.type == 'libResource'
                                "
                            >
                                x
                            </p>
                        </div>
                    </van-list>
                </van-tab>
                <van-tab title="教学资源">
                    <van-list
                        class="listWrap"
                        v-model="loading2"
                        :finished="finished2"
                        finished-text="没有更多了"
                        @load="loadMore2"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList2"
                            @click="goSeeResourse(item.id, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.toolTitle }}</p>
                                <p class="time">
                                    {{ item.mytime }} • {{ item.resStatusName }}
                                </p>
                            </div>
                            <p
                                class="delBut"
                                @click.stop="delDocument(item)"
                                v-if="
                                    item.type == 'libVideo' ||
                                    item.type == 'libResource'
                                "
                            >
                                x
                            </p>
                        </div>
                    </van-list>
                </van-tab>
                <van-tab title="研修资源">
                    <van-list
                        class="listWrap"
                        v-model="loading3"
                        :finished="finished3"
                        finished-text="没有更多了"
                        @load="loadMore3"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList3"
                            @click="goSeeResourse(item.documentId, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.toolTitle }}</p>
                                <p class="time">
                                    {{ item.mytime }} • {{ item.resStatusName }}
                                </p>
                            </div>
                            <p
                                class="delBut"
                                @click.stop="delDocument(item)"
                                v-if="
                                    item.type == 'libVideo' ||
                                    item.type == 'libResource'
                                "
                            >
                                x
                            </p>
                        </div>
                    </van-list>
                </van-tab>
            </van-tabs>
        </div>
        <!-- 我的收藏 -->
        <div class="myUpWrap" v-if="headerTitle == '我的收藏'">
            <van-tabs v-model="active">
                <van-tab title="微课资源">
                    <van-list
                        class="listWrap"
                        v-model="loading1"
                        :finished="finished1"
                        finished-text="没有更多了"
                        @load="loadMore1"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList1"
                            @click="goSeeResourse(item.documentId, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.documentName }}</p>
                                <p class="time">{{ item.mytime }}</p>
                            </div>
                            <p
                                class="cancelCol"
                                @click.stop="cancelCollect(item.id)"
                            >
                                取消收藏
                            </p>
                        </div>
                    </van-list>
                </van-tab>
                <van-tab title="教学资源">
                    <van-list
                        class="listWrap"
                        v-model="loading2"
                        :finished="finished2"
                        finished-text="没有更多了"
                        @load="loadMore2"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList2"
                            @click="goSeeResourse(item.documentId, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.documentName }}</p>
                                <p class="time">{{ item.mytime }}</p>
                            </div>
                            <p
                                class="cancelCol"
                                @click.stop="cancelCollect(item.id)"
                            >
                                取消收藏
                            </p>
                        </div>
                    </van-list>
                </van-tab>
                <van-tab title="研修资源">
                    <van-list
                        class="listWrap"
                        v-model="loading3"
                        :finished="finished3"
                        finished-text="没有更多了"
                        @load="loadMore3"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList3"
                            @click="goSeeResourse(item.id, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.documentName }}</p>
                                <p class="time">{{ item.mytime }}</p>
                            </div>
                            <p
                                class="cancelCol"
                                @click.stop="cancelCollect(item.id)"
                            >
                                取消收藏
                            </p>
                        </div>
                    </van-list>
                </van-tab>
            </van-tabs>
        </div>
        <!-- 我的购买 -->
        <div class="myUpWrap" v-if="headerTitle == '我的购买'">
            <van-tabs v-model="active">
                <van-tab title="微课资源">
                    <van-list
                        class="listWrap"
                        v-model="loading1"
                        :finished="finished1"
                        finished-text="没有更多了"
                        @load="loadMore1"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList1"
                            @click="goSeeResourse(item.documentId, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.documentName }}</p>
                                <p class="time">{{ item.mytime }}</p>
                            </div>
                            <p
                                class="delBut"
                                @click.stop="delDocument(item)"
                                v-if="
                                    headerTitle == '我的上传' &&
                                    (item.type == 'libVideo' ||
                                        item.type == 'libResource')
                                "
                            >
                                x
                            </p>
                            <p class="price">{{ item.price }}元</p>
                        </div>
                    </van-list>
                </van-tab>
                <van-tab title="教学资源">
                    <van-list
                        class="listWrap"
                        v-model="loading2"
                        :finished="finished2"
                        finished-text="没有更多了"
                        @load="loadMore2"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList2"
                            @click="goSeeResourse(item.id, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.documentName }}</p>
                                <p class="time">{{ item.mytime }}</p>
                            </div>
                            <p
                                class="delBut"
                                @click.stop="delDocument(item)"
                                v-if="
                                    headerTitle == '我的上传' &&
                                    (item.type == 'libVideo' ||
                                        item.type == 'libResource')
                                "
                            >
                                x
                            </p>
                            <p class="price">{{ item.price }}元</p>
                        </div>
                    </van-list>
                </van-tab>
                <van-tab title="研修资源">
                    <van-list
                        class="listWrap"
                        v-model="loading3"
                        :finished="finished3"
                        finished-text="没有更多了"
                        @load="loadMore3"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList3"
                            @click="goSeeResourse(item.id, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.documentName }}</p>
                                <p class="time">{{ item.mytime }}</p>
                            </div>
                            <p
                                class="delBut"
                                @click.stop="delDocument(item)"
                                v-if="
                                    headerTitle == '我的上传' &&
                                    (item.type == 'libVideo' ||
                                        item.type == 'libResource')
                                "
                            >
                                x
                            </p>
                            <p class="price">{{ item.price }}元</p>
                        </div>
                    </van-list>
                </van-tab>
            </van-tabs>
        </div>
        <!-- 下载查看 -->
        <div class="myUpWrap" v-if="headerTitle == '下载查看'">
            <van-tabs v-model="active">
                <van-tab title="微课资源">
                    <van-list
                        class="listWrap"
                        v-model="loading1"
                        :finished="finished1"
                        finished-text="没有更多了"
                        @load="loadMore1"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList1"
                            @click="goSeeResourse(item.documentId, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.documentName }}</p>
                                <p class="time">{{ item.mytime }}</p>
                            </div>
                            <p
                                class="delBut"
                                @click.stop="delDocument(item)"
                                v-if="
                                    headerTitle == '我的上传' &&
                                    (item.type == 'libVideo' ||
                                        item.type == 'libResource')
                                "
                            >
                                x
                            </p>
                        </div>
                    </van-list>
                </van-tab>
                <van-tab title="教学资源">
                    <van-list
                        class="listWrap"
                        v-model="loading2"
                        :finished="finished2"
                        finished-text="没有更多了"
                        @load="loadMore2"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList2"
                            @click="goSeeResourse(item.documentId, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.documentName }}</p>
                                <p class="time">{{ item.mytime }}</p>
                            </div>
                            <p
                                class="delBut"
                                @click.stop="delDocument(item)"
                                v-if="
                                    headerTitle == '我的上传' &&
                                    (item.type == 'libVideo' ||
                                        item.type == 'libResource')
                                "
                            >
                                x
                            </p>
                        </div>
                    </van-list>
                </van-tab>
                <van-tab title="研修资源">
                    <van-list
                        class="listWrap"
                        v-model="loading3"
                        :finished="finished3"
                        finished-text="没有更多了"
                        @load="loadMore3"
                    >
                        <div
                            class="list"
                            :key="index"
                            v-for="(item, index) in allData.documentList3"
                            @click="goSeeResourse(item.documentId, item.type)"
                        >
                            <img class="imgLeft" :src="item.picSuffix" alt />
                            <div class="clear fl">
                                <p class="name">{{ item.documentName }}</p>
                                <p class="time">{{ item.mytime }}</p>
                            </div>
                            <p
                                class="delBut"
                                @click.stop="delDocument(item)"
                                v-if="
                                    headerTitle == '我的上传' &&
                                    (item.type == 'libVideo' ||
                                        item.type == 'libResource')
                                "
                            >
                                x
                            </p>
                        </div>
                    </van-list>
                </van-tab>
            </van-tabs>
        </div>
    </div>
</template>

<script>
import Header from "../common/header";
import Footer from "../common/footer";
import axios from "axios";
export default {
    inject:['reload'],
    data() {
        return {
            active: 0,
            obj: {
                isSelect: true, //header页面  select类名
                isImg1: true, //header页面  img路径
            },
            userId: localStorage.getItem("user")
                ? JSON.parse(localStorage.getItem("user")).userId
                : "",
            resTypeCode: "102", //100研修资源 101教学资源 102微课资源
            curPage: 0,
            pageSize: 8,
            allData: {
                documentList1: [],
                totalCount1: 0,
                documentList2: [],
                totalCount2: 0,
                documentList3: [],
                totalCount3: 0,
            }, //我的资源_我的上传
            tan_sureDelShow: -1, //确认删除弹窗是否显示
            headerTitle: this.$route.query.headerTitle,
            loading1: false,
            finished1: false,
            page1: 1,
            loading2: false,
            finished2: false,
            page2: 1,
            loading3: false,
            finished3: false,
            page3: 1,
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        // this.comeWhat();        //从哪里来
    },
    methods: {
        loadMore1() {
            console.log("loadMore1");
            this.curPage = this.page1;
            this.resTypeCode = "102";
            if (this.headerTitle == "我的上传") {
                this.getMyUpload1(); //我的资源_我的上传
            } else if (this.headerTitle == "我的收藏") {
                this.getMyCollection1(); //我的资源_我的收藏
            } else if (this.headerTitle == "我的购买") {
                this.getMyPurchase1(); //我的资源_我的购买
            } else if (this.headerTitle == "下载查看") {
                this.getMyDownload1(); //我的资源_我的下载
            }
        },
        loadMore2() {
            console.log("loadMore2");
            this.curPage = this.page2;
            this.resTypeCode = "101";
            if (this.headerTitle == "我的上传") {
                this.getMyUpload1(); //我的资源_我的上传
            } else if (this.headerTitle == "我的收藏") {
                this.getMyCollection1(); //我的资源_我的收藏
            } else if (this.headerTitle == "我的购买") {
                this.getMyPurchase1(); //我的资源_我的购买
            } else if (this.headerTitle == "下载查看") {
                this.getMyDownload1(); //我的资源_我的下载
            }
        },
        loadMore3() {
            console.log("loadMore3");
            this.curPage = this.page3;
            this.resTypeCode = "100";
            if (this.headerTitle == "我的上传") {
                this.getMyUpload1(); //我的资源_我的上传
            } else if (this.headerTitle == "我的收藏") {
                this.getMyCollection1(); //我的资源_我的收藏
            } else if (this.headerTitle == "我的购买") {
                this.getMyPurchase1(); //我的资源_我的购买
            } else if (this.headerTitle == "下载查看") {
                this.getMyDownload1(); //我的资源_我的下载
            }
        },
        // 从哪里来
        comeWhat() {
            if (this.headerTitle == "我的上传") {
                this.getMyUpload(); //我的资源_我的上传
            } else if (this.headerTitle == "我的收藏") {
                this.getMyCollection(); //我的资源_我的收藏
            } else if (this.headerTitle == "我的购买") {
                this.getMyPurchase(); //我的资源_我的购买
            } else if (this.headerTitle == "下载查看") {
                this.getMyDownload(); //我的资源_我的下载
            }
        },
        // 时间戳过滤器
        imgTypeUrl(fileType) {
            return require("../../assets/images/" + fileType + ".png"); //秒
        },
        // 点击tab
        cliTab(type) {
            this.loading = false;
            this.finished = false;
            console.log("this.finished---", this.finished);
            //
            this.resTypeCode = type; //100研修资源 101教学资源 102微课资源
            this.curPage = 1;
            this.allData = {
                documentList: [],
                totalCount: 0,
            };
            this.comeWhat();
        },
        // 我的资源_我的上传
        getMyUpload() {
            var _this = this;
            var obj = {
                userId: this.userId,
                resTypeCode: this.resTypeCode, //100研修资源 101教学资源 102微课资源
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getMyUpload", obj, function (res) {
                console.log(res);
                if (res.data.status == "SUCCESS") {
                    _this.allData.documentList = res.data.c.documentList;
                }
            });
        },
        getMyUpload1() {
            var _this = this;
            var obj = {
                userId: this.userId,
                resTypeCode: this.resTypeCode, //100研修资源 101教学资源 102微课资源
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getMyUpload", obj, function (res) {
                console.log(res);
                if (res.data.status == "SUCCESS") {
                    if (_this.resTypeCode == "102") {
                        _this.page1++;
                        _this.allData.documentList1 = [
                            ..._this.allData.documentList1,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount1 = res.data.c.totalCount;
                        _this.loading1 = false;
                        console.log(
                            _this.allData.documentList1.length +
                                "------" +
                                _this.allData.totalCount1
                        );
                        if (
                            _this.allData.documentList1.length ==
                            _this.allData.totalCount1
                        ) {
                            _this.finished1 = true;
                        }
                    }
                    if (_this.resTypeCode == "101") {
                        _this.page2++;
                        _this.allData.documentList2 = [
                            ..._this.allData.documentList2,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount2 = res.data.c.totalCount;
                        _this.loading2 = false;
                        if (
                            _this.allData.documentList2.length >=
                            _this.allData.totalCount2
                        ) {
                            _this.finished2 = true;
                        }
                    }
                    if (_this.resTypeCode == "100") {
                        _this.page3++;
                        _this.allData.documentList3 = [
                            ..._this.allData.documentList3,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount3 = res.data.c.totalCount;
                        _this.loading3 = false;
                        if (
                            _this.allData.documentList3.length >=
                            _this.allData.totalCount3
                        ) {
                            _this.finished3 = true;
                        }
                    }
                }
            });
        },
        // 删除资源
        delDocument(item) {
            var _this = this;
            if (item.isDelete && item.isDelete == 1) {
                this.$dialog
                    .alert({
                        message: "该资源正在删除，请稍后刷新再试！",
                    })
                    .then(() => {
                        // on confirm 点击确定的操作
                        var zyType; //libResource教学资源 libVideo微课资源
                        if (this.resTypeCode == 101) {
                            //101教学资源
                            zyType = "libResource";
                        } else if (this.resTypeCode == 102) {
                            //102微课资源
                            zyType = "libVideo";
                        }

                       _this.reload()
                    });
            } else {
                this.$dialog
                    .confirm({
                        title: "是否确定删除该资源，删除后无法找回?",
                    })
                    .then(() => {
                        // on confirm 点击确定的操作
                        var zyType; //libResource教学资源 libVideo微课资源
                        if (this.resTypeCode == 101) {
                            //101教学资源
                            zyType = "libResource";
                        } else if (this.resTypeCode == 102) {
                            //102微课资源
                            zyType = "libVideo";
                        }
                        var obj = {
                            userId: this.userId,
                            id: item.resourceId,
                            type: zyType, //libResource教学资源 libVideo微课资源
                        };
                        this.mainapi("delDocument", obj, function (res) {
                            if (res.data.status == "SUCCESS") {
                                _this.reload() // 解决重复数据
                            }
                        });
                    });
            }
        },
        // 我的资源_我的收藏
        getMyCollection() {
            var _this = this;
            var obj = {
                userId: this.userId,
                resTypeCode: this.resTypeCode, //100研修资源 101教学资源 102微课资源
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getMyCollection", obj, function (res) {
                console.log(res);
                if (res.data.status == "SUCCESS") {
                    _this.allData.documentList = res.data.c.documentList;
                }
            });
        },
        getMyCollection1() {
            var _this = this;
            var obj = {
                userId: this.userId,
                resTypeCode: this.resTypeCode, //100研修资源 101教学资源 102微课资源
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getMyCollection", obj, function (res) {
                console.log(res);
                if (res.data.status == "SUCCESS") {
                    //documentList1

                    if (_this.resTypeCode == "102") {
                        _this.page1++;
                        _this.allData.documentList1 = [
                            ..._this.allData.documentList1,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount1 = res.data.c.totalCount;
                        _this.loading1 = false;
                        console.log(
                            _this.allData.documentList1.length +
                                "------" +
                                _this.allData.totalCount1
                        );
                        if (
                            _this.allData.documentList1.length ==
                            _this.allData.totalCount1
                        ) {
                            _this.finished1 = true;
                        }
                    }
                    if (_this.resTypeCode == "101") {
                        _this.page2++;
                        _this.allData.documentList2 = [
                            ..._this.allData.documentList2,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount2 = res.data.c.totalCount;
                        _this.loading2 = false;
                        if (
                            _this.allData.documentList2.length >=
                            _this.allData.totalCount2
                        ) {
                            _this.finished2 = true;
                        }
                    }
                    if (_this.resTypeCode == "100") {
                        _this.page3++;
                        _this.allData.documentList3 = [
                            ..._this.allData.documentList3,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount3 = res.data.c.totalCount;
                        _this.loading3 = false;
                        if (
                            _this.allData.documentList3.length >=
                            _this.allData.totalCount3
                        ) {
                            _this.finished3 = true;
                        }
                    }
                }
            });
        },
        // 取消收藏
        cancelCollect(id) {
            this.$dialog
                .confirm({
                    title: "是否确定取消收藏?",
                })
                .then(() => {
                    // on confirm 点击确定的操作
                    var _this = this;
                    var obj = {
                        userId: this.userId,
                        id: id,
                    };
                    this.mainapi("cancelCollect", obj, function (res) {
                        if (res.data.status == "SUCCESS") {
                            _this.reload()
                        }
                    });
                });
        },
        // 我的资源_我的购买
        getMyPurchase() {
            var _this = this;
            var obj = {
                userId: this.userId,
                resTypeCode: this.resTypeCode, //100研修资源 101教学资源 102微课资源
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getMyPurchase", obj, function (res) {
                console.log(res);
                if (res.data.status == "SUCCESS") {
                    _this.allData.documentList = res.data.c.documentList;
                }
            });
        },
        getMyPurchase1() {
            var _this = this;
            var obj = {
                userId: this.userId,
                resTypeCode: this.resTypeCode, //100研修资源 101教学资源 102微课资源
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getMyPurchase", obj, function (res) {
                console.log(res);
                if (res.data.status == "SUCCESS") {
                    if (_this.resTypeCode == "102") {
                        _this.page1++;
                        _this.allData.documentList1 = [
                            ..._this.allData.documentList1,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount1 = res.data.c.totalCount;
                        _this.loading1 = false;
                        console.log(
                            _this.allData.documentList1.length +
                                "------" +
                                _this.allData.totalCount1
                        );
                        if (
                            _this.allData.documentList1.length ==
                            _this.allData.totalCount1
                        ) {
                            _this.finished1 = true;
                        }
                    }
                    if (_this.resTypeCode == "101") {
                        _this.page2++;
                        _this.allData.documentList2 = [
                            ..._this.allData.documentList2,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount2 = res.data.c.totalCount;
                        _this.loading2 = false;
                        if (
                            _this.allData.documentList2.length >=
                            _this.allData.totalCount2
                        ) {
                            _this.finished2 = true;
                        }
                    }
                    if (_this.resTypeCode == "100") {
                        _this.page3++;
                        _this.allData.documentList3 = [
                            ..._this.allData.documentList3,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount3 = res.data.c.totalCount;
                        _this.loading3 = false;
                        if (
                            _this.allData.documentList3.length >=
                            _this.allData.totalCount3
                        ) {
                            _this.finished3 = true;
                        }
                    }
                }
            });
        },
        // 我的资源_我的下载
        getMyDownload() {
            var _this = this;
            var obj = {
                userId: this.userId,
                resTypeCode: this.resTypeCode, //100研修资源 101教学资源 102微课资源
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getMyDownload", obj, function (res) {
                console.log(res);
                if (res.data.status == "SUCCESS") {
                    _this.allData.documentList = res.data.c.documentList;
                }
            });
        },
        getMyDownload1() {
            var _this = this;
            var obj = {
                userId: this.userId,
                resTypeCode: this.resTypeCode, //100研修资源 101教学资源 102微课资源
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getMyDownload", obj, function (res) {
                console.log(res);
                if (res.data.status == "SUCCESS") {
                    if (_this.resTypeCode == "102") {
                        _this.page1++;
                        _this.allData.documentList1 = [
                            ..._this.allData.documentList1,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount1 = res.data.c.totalCount;
                        _this.loading1 = false;
                        console.log(
                            _this.allData.documentList1.length +
                                "------" +
                                _this.allData.totalCount1
                        );
                        if (
                            _this.allData.documentList1.length ==
                            _this.allData.totalCount1
                        ) {
                            _this.finished1 = true;
                        }
                    }
                    if (_this.resTypeCode == "101") {
                        _this.page2++;
                        _this.allData.documentList2 = [
                            ..._this.allData.documentList2,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount2 = res.data.c.totalCount;
                        _this.loading2 = false;
                        if (
                            _this.allData.documentList2.length >=
                            _this.allData.totalCount2
                        ) {
                            _this.finished2 = true;
                        }
                    }
                    if (_this.resTypeCode == "100") {
                        _this.page3++;
                        _this.allData.documentList3 = [
                            ..._this.allData.documentList3,
                            ...res.data.c.documentList,
                        ];
                        _this.allData.totalCount3 = res.data.c.totalCount;
                        _this.loading3 = false;
                        if (
                            _this.allData.documentList3.length >=
                            _this.allData.totalCount3
                        ) {
                            _this.finished3 = true;
                        }
                    }
                }
            });
        },
        // 点击进详情(资源id,工具类型)
        goSeeResourse(solrId, type, resType) {
            // 工具类型  article文章 usertask作业  activity活动  cooperate同伴协作  communicate交流  mooc磨课  userPreparation备课
            if (type == "mooc" || type == "userPreparation") {
                return;
            }
            //100研修资源 101教学资源 102微课资源
            this.$router.push({
                path: "/seeResourse",
                query: {
                    resTypeCode: this.resTypeCode,
                    solrId: solrId,
                    codeType: type,
                },
            });
        },
    },
};
</script>

<style scoped>
html,
body {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}
.header {
    background: #fff;
}
.header img {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 0.2rem;
    top: 0.25rem;
}
.allWrap {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #f4f4f4;
    font-family: Microsoft YaHei;
    overflow: auto;
}
.tabWrap {
    width: 100%;
    height: 1rem;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tabWrap p {
    flex-grow: 1;
    text-align: center;
    line-height: 1rem;
}
.tabWrap .pSel {
    color: #55abeb;
    border-bottom: 2px solid #55abeb;
}
.jianju {
    width: 100%;
    height: 0.2rem;
    background: #f1f1f1;
}
.listWrap {
    width: 100%;
    height: 86vh;
    overflow-y: auto;
}
.listWrap .list {
    width: 6.9rem;
    height: 1.68rem;
    margin: 0.3rem auto 0;
    background: #fff;
    border-radius: 4px;
}
.listWrap .list .imgLeft {
    width: 1.08rem;
    height: 1.08rem;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    float: left;
}
.listWrap .list .name {
    width: 3.96rem;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: PingFangSC-Regular;
    font-size: 0.32rem;
    color: #000000;
    padding-top: 0.33rem;
    padding-left: 0.2rem;
}
.listWrap .list .time {
    font-family: PingFangSC-Regular;
    font-size: 0.24rem;
    color: #9b9b9b;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
}
.listWrap .list .delBut {
    width: 0.36rem;
    height: 0.36rem;
    background: #fd4c50;
    font-size: 0.14rem;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: 0.66rem;
    margin-right: 0.3rem;
    float: right;
}
.listWrap .list .cancelCol {
    line-height: 1.68rem;
    color: #55abeb;
    margin-right: 0.2rem;
    float: right;
}
.listWrap .list .price {
    font-family: PingFangSC-Semibold;
    font-size: 0.26rem;
    color: #fd4c50;
    line-height: 1.68rem;
    margin-right: 0.3rem;
    float: right;
}
</style>
