<template>
    <div class="allWrap">
        <Header title="消息"></Header>
        <div class="newsWrap">
            <div class="tabWrap">
                <p :class="['tab',headerTitle == 0 ? 'pSel' : '']" @click="cliTab(0)">资源评论</p>
                <p :class="['tab',headerTitle == 1 ? 'pSel' : '']" @click="cliTab(1)">@我的</p>
                <p :class="['tab',headerTitle == 2 ? 'pSel' : '']" @click="cliTab(2)">动态消息</p>
            </div>
            <div class="jianju"></div>
            <!-- 资源评论 -->
            <div class="listWrap" v-if="headerTitle == 0">
                <div class="list clear" :key="index" v-for="(item,index) in zyplData.objectList">
                    <img class="txImg" :src="item.extInfo.member.picurl" alt />
                    <div class="rCont">
                        <p class="realName">{{item.extInfo.member.realname}}</p>
                        <div class="disMe">
                            评论我的资源：
                            <span>"{{item.extInfo.documentTitle}}"</span>
                        </div>
                        <p class="pCont">{{item.content}}</p>
                        <div class="clear cleBox"> 
                            <p class="time">{{item.extInfo.createTime}}</p>
                            <p class="see" @click="goSeeResourse(item.objectId,item.extInfo.type,item.extInfo.resTypeCode)">查看</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- @我的 -->
            <div class="listWrap" v-if="headerTitle == 1">
                <div class="list clear" :key="index" v-for="(item,index) in zyplData.objectList">
                    <img class="txImg" :src="item.extInfo.member.picurl" alt />
                    <div class="rCont">
                        <p class="realName">{{item.extInfo.member.realname}}</p>
                        <div class="disMe">
                            回复我的{{item.extInfo.typeName}}
                            <span>"{{item.extInfo.commentContent}}"</span>
                        </div>
                        <p class="pCont">{{item.content}}</p>
                        <div class="clear cleBox">
                            <p class="time">{{item.extInfo.createTime}}</p>
                            <p class="see" @click="goSeeResourse(item.objectId,item.extInfo.type,item.extInfo.resTypeCode)">查看</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 动态消息 -->
            <div class="listWrap" v-if="headerTitle == 2">
                <div class="list clear" :key="index" v-for="(item,index) in zyplData.objectList">
                    <img class="txImg" :src="zyplData.picUrl" alt />
                    <div class="rCont">
                        <p class="realName">{{zyplData.realName}}</p>
                        <!-- operateType  1资源被购买 2上传的资源被下架 3举报的资源被下架 4上传的资源审核未通过	 -->
                        <!-- 1资源被购买 -->
                        <div class="pCont2" v-if="item.operateType == 1">
                            <p class="p1">您的资源</p>
                            <p class="p1 colorBlue">{{item.extInfo.documentTitle}}</p>
                            <p class="p1">被购买，赚取</p>
                            <p class="p1 colorRed">+{{item.extInfo.resPrice}}</p>
                            <p class="p1">元</p>
                        </div>
                        <!-- 2上传的资源被下架 -->
                        <div class="pCont2" v-if="item.operateType == 2">
                            <p class="p1">您上传的资源</p>
                            <p class="p1 colorBlue">{{item.extInfo.documentTitle}}</p>
                            <p class="p1">经核查属违规资源，资源已下架，平台将扣除您所获得收益（经验值及资源收入）</p>
                        </div>
                        <!-- 3举报的资源被下架 -->
                        <div class="pCont2" v-if="item.operateType == 3">
                            <p class="p1">您举报的资源</p>
                            <p class="p1 colorBlue">{{item.extInfo.documentTitle}}</p>
                            <p class="p1">经核查情况属实，资源已下架，您获得系统奖励</p>
                            <p class="p1 colorRed">+{{item.extInfo.exp}}</p>
                            <p class="p1">经验值</p>
                        </div>
                        <!-- 4上传的资源审核未通过 -->
                        <div class="pCont2" v-if="item.operateType == 4">
                            <p class="p1">您上传的资源</p>
                            <p class="p1 colorBlue">{{item.extInfo.documentTitle}}</p>
                            <p class="p1">审核未通过，原因如下：{{item.extInfo.excuse}}。请重新上传。</p>
                        </div>
                        <div class="clear cleBox">
                            <p class="time">{{item.extInfo.operateTime}}</p>
                            <p class="see" @click="delDynamicMessage(item.id)">删除</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from "../common/header";

export default {
    data() {
        return {
            aaa: '',
            obj: {
                isSelect: true, //header页面  select类名
                isImg1: true    //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            headerTitle: this.$route.query.headerTitle,     //url头 0资源评论 1@我的 2动态消息
            tabSel: 0,          //tab选中了哪个
            zyplData: '',       //资源评论所有数据
        };
    },
    components: {
        Header
    },
    created() {},
    mounted() {
        this.comeWhat()         //查看消息_获取资源评论接口
    },
    methods: {
        // 从哪里来 url头 0资源评论 1@我的 2动态消息
        comeWhat(){
            if(this.headerTitle == 0){      
                this.getMyComment()         //查看消息_获取资源评论接口
            }else if(this.headerTitle == 1){
                this.getAtMe()              //查看消息_获取@我的接口
            }else if(this.headerTitle == 2){
                this.getDynamicMessage()    //查看消息_获取动态消息接口
            }
        },
        // 点击tab
        cliTab(index) {
            this.headerTitle = index;   //url头 0资源评论 1@我的 2动态消息
            this.curPage = 1;
            if(this.headerTitle == 0){
                this.getMyComment()         //查看消息_获取资源评论接口
            }else if(this.headerTitle == 1){
                this.getAtMe()              //查看消息_获取@我的接口
            }else if(this.headerTitle == 2){
                this.getDynamicMessage()    //查看消息_获取动态消息接口
            }
        },
        // 查看消息_获取资源评论接口
        getMyComment(){
            var _this = this;
            var obj = {
                userId: this.userId,
                curPage: this.curPage,              
                pageSize: this.pageSize,
            };
            this.mainapi("getMyComment", obj, function(res) {
                console.log(res);
                if (res.data.status == 'SUCCESS') {
                    _this.zyplData = res.data.c
                }
            });
        },
        // 查看消息_获取@我的接口
        getAtMe(){
            var _this = this;
            var obj = {
                userId: this.userId,
                curPage: this.curPage,              
                pageSize: this.pageSize,
            };
            this.mainapi("getAtMe", obj, function(res) {
                console.log(res);
                if (res.data.status == 'SUCCESS') {
                    _this.zyplData = res.data.c
                }
            });
        },
        // 查看消息_获取动态消息接口
        getDynamicMessage(){
            var _this = this;
            var obj = {
                userId: this.userId,
                curPage: this.curPage,              
                pageSize: this.pageSize,
            };
            this.mainapi("getDynamicMessage", obj, function(res) {
                console.log(res);
                if (res.data.status == 'SUCCESS') {
                    _this.zyplData = res.data.c
                }
            });
        },
        // 用户删除动态消息
        delDynamicMessage(id){
            this.$dialog.confirm({
                title: '您确定删除本条消息吗?',
            }).then(() => {
                // on confirm 点击确定的操作
                var _this = this;
                var obj = {
                    userId: this.userId,
                    id: id,
                };
                this.mainapi("delDynamicMessage", obj, function(res) {
                    if (res.data.status == 'SUCCESS') {
                        _this.getDynamicMessage()    //查看消息_获取动态消息接口
                    }
                });
            })
        },
        // 点击进详情(资源id,工具类型,资源类型)
        goSeeResourse(solrId,type,resTypeCode){
            // 工具类型  article文章 usertask作业  activity活动  cooperate同伴协作  communicate交流  mooc磨课  userPreparation备课
            //100研修资源 101教学资源 102微课资源
            if(type == 'mooc' || type == 'userPreparation'){
                return;
            }
            this.$router.push({
            　　path: '/seeResourse',
            　　query: {
                    resTypeCode: resTypeCode,       
                    solrId: solrId,
                    codeType: type,
            　　}
            });
        }
    }
};
</script>
<style scoped>
html,
body {
    height: 100%;
    background: #f4f4f4;
}
.allWrap {
    width: 100%;
    height: auto;
}
.tabWrap {
    width: 100%;
    height: 1rem;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tabWrap p {
    flex-grow: 1;
    text-align: center;
    line-height: 1rem;
}
.tabWrap .pSel {
    color: #55abeb;
    border-bottom: 2px solid #55abeb;
}
.jianju {
    width: 100%;
    height: 0.2rem;
    background: #f1f1f1;
}
.listWrap {
    width: 100%;
    height: auto;
}
.listWrap .list {
    width: 6.9rem;
    height: auto;
    margin: 0.5rem auto;
}
.listWrap .list:nth-of-type(1) {
    margin: 0.3rem auto;
}
.listWrap .list .txImg {
    width: 0.66rem;
    height: 0.66rem;
    border-radius: 50%;
    float: left;
}
.listWrap .list .rCont {
    width: 6.08rem;
    height: auto;
    float: right;
}
.listWrap .list .rCont .realName {
    font-family: PingFangSC-Regular;
    font-size: 0.28rem;
    color: #2a538e;
}
.listWrap .list .rCont .disMe {
    width: 100%;
    font-family: PingFangSC-Regular;
    font-size: 0.28rem;
    color: #9B9B9B;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listWrap .list .rCont .disMe span{
    color: #55ABEB;
}
.listWrap .list .rCont .pCont{
    width: 100%;
    font-size: 0.32rem;
    color: #333333;
    letter-spacing: 0;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    word-break: break-all;
    margin-top: 0.24rem;
}
.listWrap .list .rCont .pCont2{
    width: 100%;
}
.listWrap .list .rCont .pCont2 .p1{
    font-family: PingFangSC-Regular;
    font-size: 0.28rem;
    color: #9B9B9B;
    display: inline;
}
.listWrap .list .rCont .pCont2 .colorBlue{
    color: #55ABEB;
}
.listWrap .list .rCont .pCont2 .colorRed{
    color: #DE6F38;
}
.listWrap .list .rCont .time{
    font-family: PingFangSC-Regular;
    font-size: 0.22rem;
    color: #969EAB;
    float: left;
}
.listWrap .list .rCont .cleBox{
    margin-top: 0.24rem;
}
.listWrap .list .rCont .time{
    font-family: PingFangSC-Regular;
    font-size: 0.22rem;
    color: #969EAB;
    float: left;
}
.listWrap .list .rCont .see{
    font-family: PingFangSC-Regular;
    font-size: 0.22rem;
    color: #2A538E;
    float: right;
}
</style>