<template>
    <div class="allWrap">
        <Header title='支付订单'></Header>
        <div class="payOrderWrap">
            <p class="pMoney">¥{{money}}</p>
            <div class="payWay">
                <div class="payList zfb clear">
                    <img class="img1 fl ml30" src="../../assets/images/zfb.png" alt="">
                    <p class="pFont fl ml20">支付宝</p>
                    <van-radio-group v-model="radio" class="fr mr30 mt40">
                        <van-radio name="1"></van-radio>
                    </van-radio-group>
                </div>
                <div class="payList wx clear">
                    <img class="img1 fl ml30" src="../../assets/images/wx.png" alt="">
                    <p class="pFont fl ml20">微信</p>
                    <van-radio-group v-model="radio" class="fr mr30 mt40">
                        <van-radio name="2"></van-radio>
                    </van-radio-group>
                </div>
            </div>
            <p class="surePay" @click="surePay()">确认支付</p>

            <div class="zfbpayBack"></div>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'
import { formatDate, Format } from "../../assets/js/common.js"; //时间戳过滤器
import { Toast } from 'vant';
import siteconfig from "../../assets/js/api";

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            orderId: this.$route.query.orderId,     //订单号
            money: this.$route.query.money,         //支付金额
            payBackUrl: this.$route.query.payBackUrl,       //支付前地址url
            radio: '1',             //1支付宝 2微信
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        
    },
    methods:{
        // 点击确认支付
        surePay(){
            if(this.radio == 1){
                this.pageAliPay()
            }else if(this.radio == 2){
                this.weChatPagePay()
            }
        },
        // 支付宝支付
        pageAliPay(){
            var _this = this
            var obj = {
                userId: this.userId,
                orderId: this.orderId,
                quitUrl: this.payBackUrl
            };
            this.mainapi("pageAliPay", obj, function(res) {
                console.log(res);
                if (res.status == '200') {
                    $('.zfbpayBack').append(res.data)
                } else{
                    Toast.fail(res.data.message);
                }
            });
        },
        // 微信支付
        weChatPagePay(){
            let apiUrl = window.location.host
            // let apiUrl = "http://html.cs.teacheredu.cn"
            this.payBackUrl = encodeURIComponent(this.payBackUrl)       //支付前地址url
            var _this = this
            var obj = {
                userId: this.userId,
                orderId: this.orderId,
                wapUrl: apiUrl      //域名地址
            };
            this.mainapi("weChatPagePay", obj, function(res) {
                console.log(res);
                if (res.data.status == 'SUCCESS') {
                    window.location.href = res.data.c.mwebUrl + '&redirect_url=' + _this.payBackUrl
                } else{
                    Toast.fail(res.data.message);
                }
            });
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #f4f4f4;
        font-family: Microsoft YaHei;
        overflow: auto;
    }
    .allWrap .payOrderWrap{
        width: 100%;
        height: auto;
    }
    .payOrderWrap .pMoney{
        width: 100%;
        height: auto;
        font-size: 0.6rem;
        color: #000000;
        text-align: center;
        font-weight: bold;
        padding: 0.9rem 0 1.2rem 0;
    }
    .payOrderWrap .payWay{
        width: 100%;
        height: auto;
        background: #fff;
    }
    .payOrderWrap .payWay .payList{
        width: 100%;
        height: auto;
        border-bottom: 1px solid #f4f4f4;
    }
    .payOrderWrap .payWay .payList .img1{
        width: 0.6rem;
        height: 0.6rem;
        margin-top: 0.28rem;
    }
    .payOrderWrap .payWay .payList .pFont{
        font-size: 0.28rem;
        color: #686568;
        line-height: 1.2rem;
    }
    .payOrderWrap .surePay{
        width: 6.9rem;
        height: auto;
        font-size: 0.3rem;
        padding: 0.22rem 0;
        background: #42A8FF;
        border-radius: 0.44rem;
        margin: 0.6rem auto 0;
        text-align: center;
        color: #fff;
    }
</style>