<template>
	<div class="allWrap">
		<Header title="查看原因"></Header>
		<div class="seeReason">
			<div v-html="allData.certification.reason" class="p30"></div>
		</div>
	</div>
</template>

<script>
import Header from "../common/header";
import Footer from "../common/footer";
import axios from "axios";

export default {
	data() {
		return {
			obj: {
				isSelect: true, //header页面  select类名
				isImg1: true, //header页面  img路径
			},
			userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
			allData: {
				certification: {
					reason: ''
				}
			},
		};
	},
	components: {
		Header,
		Footer,
	},
	created() {},
	mounted() {
		this.getAuthentication();       //获取实名认证信息
	},
	methods: {
        // 获取实名认证信息
        getAuthentication(){
            var _this = this;
            let obj = {
                userId: this.userId,
            }
            this.mainapi("getAuthentication", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
	},
};
</script>

<style scoped>
	html,
	body {
		width: 100%;
		height: 100%;
	}
	.header {
		background: #fff;
	}
	.header img {
		width: 0.4rem;
		height: 0.4rem;
		position: absolute;
		left: 0.2rem;
		top: 0.25rem;
	}
	.allWrap {
		width: 100%;
		height: 100%;
	}
</style>