<template>
    <div class="allWrap">
        <Header title='设置'></Header>
        <div class="userinfo">
            <!-- 间距 -->
            <div class="allList">
                <router-link to="modifyPsd" tag="div" class="list">
                    <p>修改密码</p>
                    <img class="img2" src="../../assets/images/youjiantou.png">
                </router-link>
                <div class="list">
                    <p>清理缓存</p>
                    <img class="img2" src="../../assets/images/youjiantou.png">
                </div>
                <div class="jianju"></div>
                <p class="logout" @click="logout()">退出登录</p>
            </div>
        </div>
        
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {

},
    methods:{
        // 点击退出登录
        logout(){
            localStorage.clear();
            this.$router.push('/login');
        }
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #f4f4f4;
        font-family: Microsoft YaHei;
    }
    .allWrap .userinfo{
        width: 100%;
        height: auto;
    }
    .allWrap .userinfo>div{
        float: left;
    }
    /* 间距 */
    .userinfo .jianju{
        width: 100%;
        height: 0.2rem;
        background: #F1F1F1;
    }
    .userinfo .allList{
        width: 100%;
        height: auto;
        background: white;
    }
    .userinfo .allList .list{
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid #F1F1F1;
    }
    .userinfo .allList .list .img1{
        width: 0.3rem;
        height: 0.3rem;
        margin-top: 0.35rem;
        margin-left: 0.3rem;
        float: left;
    }
    .userinfo .allList .list p{
        font-size: 0.28rem;
        color: #4A4A4A;
        line-height: 1rem;
        margin-left: 0.15rem;
        float: left;
    }
    .userinfo .allList .list .p2{
        margin-right: 0.3rem;
        float: right;
    }
    .userinfo .allList .list .img2{
        width: 0.2rem;
        height: 0.2rem;
        margin-top: 0.4rem;
        margin-right: 0.3rem;
        float: right;
    }
    .allList .logout{
        font-size: 0.30rem;
        padding: 0.25rem 0;
        text-align: center;
        color: red;
    }
</style>