<template>
    <div class="allWrap">
        <Header title = '注册账号'></Header>
        
        <div class="sign">
            <div class="jianju"></div>
            <div class="listWrap">
                <div class="list">
                    <p class="pLeft">用户名</p>
                    <input type="text" class="input1" v-model="zh" placeholder="4-20位且第一位必须为字母">
                </div>
                <div class="list">
                    <p class="pLeft">真实姓名</p>
                    <input type="text" class="input1" v-model="realname" placeholder="2-6个汉字">
                </div>
                <div class="list">
                    <p class="pLeft">手机号</p>
                    <input type="text" class="input1" v-model="phone" placeholder="填写手机号">
                </div>
                <div class="list">
                    <p class="pLeft">密码</p>
                    <input type="password" class="input1" v-model="mm" placeholder="8-20位非纯数字组合，区分大小写">
                </div>
                <div class="list">
                    <p class="pLeft">确认密码</p>
                    <input type="password" class="input1" v-model="mm2" placeholder="必须和密码一致">
                </div>
            </div>
            <div class="clause">
                <input type="checkbox" v-model="checkbox">
                <router-link to="agreementFW" class="clauseWord" tag="div">服务条款</router-link>
                已阅读
            </div>
            <p class="sure" @click="sure()">确定</p>
        </div>
		<!-- 小弹窗 -->
		<p class="samllTanchuang" v-if='tanShow'>{{words}}</p>
        
    </div>
</template>

<script>
import Header from '../common/header'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true,        //header页面  img路径
            },
            zh: '',             //账号
            realname: '',       //真实姓名
            phone: '',          //手机号
            mm: '',             //密码
            mm2: '',            //确认密码
			tanShow: false,		//小弹窗
            words: "",          //小弹窗内文字
            checkbox: false
        };
    },
    components: {
        Header,
    },
    created() {},
    mounted() {

    },
    methods:{
        checkForm(){
            if(!this.zh){
                this.istanShow("请输入用户名");
                return false
            }else if(!(/^[a-zA-Z]\w{4,20}$/.test(this.zh))){
                this.istanShow("请输入4-20位且第一位必须为字母");
                return false
            }
            if(!this.realname){
                this.istanShow("请输入真实姓名");
                return false
            }else if(!((/[\u4e00-\u9fa5]{2,6}/).test(this.realname))){
                this.istanShow("请输入2-6个汉字");
                return false
            }
            if(!this.phone){
                this.istanShow("请输入手机号");
                return false
            }else if(!(/^1[34578]\d{9}$/.test(this.phone))){
                this.istanShow("请输入正确手机号");
                return false
            }
            if(!this.mm){
                this.istanShow("请输入密码");
                return false
            }else if((/^\d+$/.test(this.mm)) || !(/\w{8,20}/.test(this.mm))){
                this.istanShow("请输入8-20位非纯数字组合，区分大小写");
                return false
            }
            if(!(this.mm2 == this.mm)){
                this.istanShow("两次密码不一致，请重新输入");
                return false
            }
            return true
        },
        // 点击确定
        async sure(){
            let flag = await this.checkForm();
            console.log(flag,"flag")
            if(!flag){return}
            if(!this.checkbox){
                this.istanShow("请勾选阅读协议");
                return
            }

            var _this = this;
            var obj = {
                username: this.zh,
                password: this.mm,
                phone: this.phone,
                realname: this.realname,
            };
            this.mainapi("resLibRegister", obj, function(res) {
                console.log(res);
                if (res.data.status == 'SUCCESS') {
                    _this.words = '注册成功';
                    _this.tanShow = true;
                    setTimeout(function() {
                        _this.$router.push("/login");
                    }, 2000);
                } else {
                    console.log(res.data.message);
                    _this.words = res.data.message;
                    _this.tanShow = true;
                    setTimeout(function() {
                        _this.tanShow = false;
                    }, 2000);
                }
            });

        },
        // 弹窗公共方法(显示文字)
		istanShow(words){
			var _this = this
			_this.words = words
			_this.tanShow = true;
			setTimeout(function(){
				_this.tanShow = false;
			},2000)
		}
    }
}
</script>
<style scoped>
    html,body{
        height:100%;
        background:#f4f4f4;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        background: #F1F1F1;
        position: absolute;
        left: 0;
        top: 0;
    }
    .header{
        background: #fff;
    }
    .sign{
        width: 100%;
        height: auto;
    }
    .sign .jianju{
        width: 100%;
        height: 0.2rem;
        background: #F1F1F1;
    }
    .sign .listWrap .list{
        width: 6.9rem;
        height: 1rem;
        line-height: 1rem;
        padding: 0 0.3rem;
        border-bottom: 1px solid #F1F1F1;
        background: #fff;
    }
    .sign .listWrap .list .pLeft{
        width: 1.9rem;
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #686568;
        float: left;
    }
    .sign .listWrap .list .input1{
        width: 5rem;
        height: auto;
        border: 0;
        outline: 0;
        float: left;
    }
    .sign .clause{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 0.3rem;
        justify-content: center;
        font-size: 0.26rem;
        color: #A3A3A3;
    }
    .sign .clause input{
        margin-top: 0.05rem;
        margin-right: 0.05rem;
    }
    .sign .clause .clauseWord{
        color: #42A8FF;
    }
    .sign .sure {
        width: 6rem;
        -webkit-box-shadow: 0 0.04rem 0.12rem 0 #a2d0f3;
        box-shadow: 0 0.04rem 0.12rem 0 #a2d0f3;
        border-radius: 2rem;
        background: #4ea5e7;
        font-size: 0.32rem;
        color: #fff;
        text-align: center;
        padding: 0.25rem 0;
        line-height: normal;
        letter-spacing: 0.1rem;
        margin: 0.9rem auto;
    }
    

</style>