<template>
    <div class="allWrap">
        <Header title="收支记录"></Header>
        <div class="szRecord">
            <div class="tabWrap">
                <p :class="['tab',tabSel == 0 ? 'pSel' : '']" @click="cliTab(0)">收入记录</p>
                <p :class="['tab',tabSel == 1 ? 'pSel' : '']" @click="cliTab(1)">支出记录</p>
            </div>
            <!-- 收入记录 -->
            <van-list
                class="listWrap"
                v-if="tabSel == 0"
                v-model="loading"
                :finished="finished"
                finished-text="没有更多了"
                @load="loadMore"
            >
                <div class="list" :key="index" v-for="(item,index) in incomeData.recordList">
                    <div class="clear">
                        <p class="state state0" v-if="item.endStatusname == '待结算'">待结算</p>
                        <p class="state state1" v-if="item.endStatusname == '已结算'">已结算</p>
                        <p class="orderNum">订单号：{{item.orderId}}</p>
                    </div>
                    <div class="clear">
                        <img class="imgLeft" src="../../assets/images/xls.png" alt />
                        <div class="clear fl">
                            <p class="name">{{item.docname}}</p>
                            <p class="time">{{item.createTime | formatDateMiao}}</p>
                        </div>
                        <p class="price">{{item.endPayment}}元</p>
                    </div>
                </div>
            </van-list>
            <!-- 支出记录 -->
            <van-list
                class="listWrap"
                v-if="tabSel == 1"
                v-model="loading"
                :finished="finished"
                finished-text="没有更多了"
                @load="loadMore"
            >
                <div class="list" :key="index" v-for="(item,index) in payData.recordList" @click="goSeeResourse(item.docmentId, item.type)">
                    <div class="clear">
                        <p class="state state0" v-if="item.statusname == '待支付'">待支付</p>
                        <p class="state state1" v-if="item.statusname == '已支付'">已支付</p>
                        <p class="state state1" v-if="item.statusname == '已关闭'">已关闭</p>
                        <p class="orderNum">订单号：{{item.orderId}}</p>
                    </div>
                    <div class="clear">
                        <img class="imgLeft" src="../../assets/images/xls.png" alt />
                        <div class="clear fl">
                            <p class="name">{{item.docname}}</p>
                            <p class="time">{{item.createTime | formatDateMiao}}</p>
                        </div>
                        <p class="price">{{item.payment}}元</p>
                    </div>
                    <div class="payWrap clear">
                        <p
                            class="p1"
                            v-if="item.statusname == '待支付'"
                            @click="goPay(item.orderId,item.payment)"
                        >去支付</p>
                        <p
                            class="p2"
                            v-if="item.statusname == '待支付'"
                            @click="cancelOrder(item.orderId,item.id)"
                        >取消订单</p>
                        <p
                            class="p2"
                            v-if="item.statusname != '待支付'"
                            @click="delOrder(item.orderId,item.id)"
                        >删除订单</p>
                    </div>
                </div>
            </van-list>
        </div>
    </div>
</template>

<script>
import Header from "../common/header";
import Footer from "../common/footer";
import axios from "axios";
import { formatDate, Format } from "../../assets/js/common.js"; //时间戳过滤器
import { Toast } from "vant";

export default {
    // 过滤器
    filters: {
        // 时间戳过滤器
        formatDateMiao(time) {
            var date = new Date(time);
            return formatDate(date, "yyyy-MM-dd hh:mm:ss"); //秒
        },
        formatDate(time) {
            var date = new Date(time);
            return formatDate(date, "yyyy-MM-dd hh:mm"); //分钟
        },
        formatTime(time) {
            var date = new Date(time);
            return formatDate(date, "hh:mm"); //显示到小时
        },
    },
    data() {
        return {
            obj: {
                isSelect: true, //header页面  select类名
                isImg1: true, //header页面  img路径
            },
            tabSel: 0, //tab选中了哪个 0收入记录 1支出记录
            userId: localStorage.getItem("user")
                ? JSON.parse(localStorage.getItem("user")).userId
                : "",
            curPage: 0,
            pageSize: 10,
            incomeData: {
                recordList: [],
                totalCount: 0,
            }, //获取用户收入记录列表所有数据
            payData: {
                recordList: [],
                totalCount: 0,
            }, //获取用户支出记录列表
            orderId: "", //订单号
            solrId: "", //资源id
            finished: false,
            loading: false,
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        // this.cliTab(0)               //点击tab(0收入记录/1支出记录)
    },
    methods: {
        loadMore() {
            this.loading = true;
            this.curPage = this.curPage + 1; //当前页
            if (this.tabSel == 0) {
                //收入记录
                this.getIncomeRecord();
            } else if (this.tabSel == 1) {
                //支出记录
                this.getDisburseRecord();
            }
        },
        // 点击tab(0收入记录/1支出记录)
        cliTab(index) {
            this.tabSel = index;
            this.curPage = 1        //初始化
          if(index == 0){         //收入记录
                this.incomeData.recordList = []
                this.getIncomeRecord()
            }else if(index == 1){   //支出记录
                this.payData.recordList = []
                this.getDisburseRecord()
            }
        },
        // 获取用户收入记录列表
        getIncomeRecord() {
            var _this = this;
            var obj = {
                userId: this.userId,
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getIncomeRecord", obj, function (res) {
                if (res.data.status == "SUCCESS") {
                    // _this.incomeData = res.data.c
                    _this.incomeData.recordList = [
                        ..._this.incomeData.recordList,
                        ...res.data.c.recordList,
                    ];
                    _this.incomeData.totalCount = res.data.c.totalCount;
                    // 加载状态结束
                    _this.loading = false;
                    // 数据全部加载完成
                    if (
                        _this.incomeData.recordList.length >=
                        _this.incomeData.totalCount
                    ) {
                        _this.finished = true;
                    }
                }
            });
        },
        // 获取用户支出记录列表
        getDisburseRecord() {
            var _this = this;
            var obj = {
                userId: this.userId,
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getDisburseRecord", obj, function (res) {
                if (res.data.status == "SUCCESS") {
                    // _this.payData = res.data.c
                    _this.payData.recordList = [
                        ..._this.payData.recordList,
                        ...res.data.c.recordList,
                    ];
                    _this.payData.totalCount = res.data.c.totalCount;
                    // 加载状态结束
                    _this.loading = false;
                    // 数据全部加载完成
                    if (
                        _this.payData.recordList.length >=
                        _this.payData.totalCount
                    ) {
                        _this.finished = true;
                    }
                }
            });
        },
        // 支出记录部分 点击删除
        delOrder(orderId, id) {
            this.$dialog
                .confirm({
                    title: "确定删除订单吗",
                })
                .then(() => {
                    // on confirm 点击确定的操作
                    var _this = this;
                    var obj = {
                        userId: this.userId,
                        orderId: orderId, //订单号
                        id: id, //订单表主键id
                    };
                    console.log(obj);
                    this.mainapi("delAppOrder", obj, function (res) {
                        console.log(res);
                        if (res.data.status == "SUCCESS") {
                            _this.cliTab(1);
                        }
                    });
                });
        },
        // 点击取消订单(订单号,订单表主键id)
        cancelOrder(orderId, id) {
            this.$dialog
                .confirm({
                    title: "确定取消订单吗",
                })
                .then(() => {
                    // on confirm 点击确定的操作
                    var _this = this;
                    var obj = {
                        userId: this.userId,
                        orderId: orderId, //订单号
                        id: id, //订单表主键id
                    };
                    console.log(obj);
                    this.mainapi("cancelOrder", obj, function (res) {
                        console.log(res);
                        if (res.data.status == "SUCCESS") {
                            _this.cliTab(1);
                        }
                    });
                });
        },
        // 点击去支付  获取用户订单(资源id,支付金额)
        goPay(solrId, money) {
            var payBackUrl = window.location.href; //当前地址
            var _this = this;
            this.solrId = solrId.split("l")[0];
            var obj = {
                userId: this.userId,
                solrId: this.solrId,
            };
            this.mainapi("getOrderInfo", obj, function (res) {
                if (res.data.status == "SUCCESS") {
                    _this.orderId = res.data.c.orderId;
                    _this.$router.push({
                        path: "/payOrder",
                        query: {
                            orderId: _this.orderId,
                            money: money,
                            payBackUrl: payBackUrl,
                        },
                    });
                }
            });
        },
        // 点击进详情(资源id,工具类型)
        goSeeResourse(solrId, type, resType) {
            // 工具类型  article文章 usertask作业  activity活动  cooperate同伴协作  communicate交流  mooc磨课  userPreparation备课
            if (type == "mooc" || type == "userPreparation") {
                return;
            }
            //100研修资源 101教学资源 102微课资源
            this.$router.push({
                path: "/seeResourse",
                query: {
                    resTypeCode: resType,
                    solrId: solrId,
                    codeType: type,
                },
            });
        },
    },
};
</script>

<style scoped>
html,
body {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}
.header {
    background: #fff;
}
.header img {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 0.2rem;
    top: 0.25rem;
}
.allWrap {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #f4f4f4;
    font-family: Microsoft YaHei;
    overflow: auto;
}
.allWrap .userinfo {
    width: 100%;
    height: auto;
}
.tabWrap {
    width: 100%;
    height: 1rem;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tabWrap p {
    flex-grow: 1;
    text-align: center;
    line-height: 1rem;
}
.tabWrap .pSel {
    color: #55abeb;
    border-bottom: 2px solid #55abeb;
}
.listWrap {
    width: 100%;
    height: 86vh;
    overflow-y: auto;
}
.listWrap .list {
    width: 6.9rem;
    height: auto;
    padding: 0.3rem 0 0 0;
    margin: 0.3rem auto 0;
    background: #fff;
}
.listWrap .list .state {
    font-family: PingFangSC-Regular;
    font-size: 0.24rem;
    border-radius: 0.1rem;
    padding: 0rem 0.1rem;
    margin-left: 0.3rem;
    float: left;
}
.listWrap .list .state0 {
    color: #fa6400;
    border: 1px solid #fa6400;
}
.listWrap .list .state1 {
    color: #48c78c;
    border: 1px solid #48c78c;
}
.listWrap .list .orderNum {
    font-family: PingFangSC-Regular;
    font-size: 0.22rem;
    color: #9b9b9b;
    margin-left: 0.1rem;
    float: left;
}
.listWrap .list .imgLeft {
    width: 1.08rem;
    height: 1.08rem;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    float: left;
}
.listWrap .list .name {
    width: 3.96rem;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: PingFangSC-Regular;
    font-size: 0.32rem;
    color: #000000;
    padding-top: 0.33rem;
    padding-left: 0.2rem;
}
.listWrap .list .time {
    font-family: PingFangSC-Regular;
    font-size: 0.24rem;
    color: #9b9b9b;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
}
.listWrap .list .delBut {
    width: 0.36rem;
    height: 0.36rem;
    background: #fd4c50;
    font-size: 0.14rem;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: 0.66rem;
    margin-right: 0.3rem;
    float: right;
}
.listWrap .list .price {
    font-family: PingFangSC-Semibold;
    font-size: 0.26rem;
    color: #fd4c50;
    line-height: 1.68rem;
    margin-right: 0.3rem;
    float: right;
}
.listWrap .payWrap {
    width: 6.3rem;
    height: auto;
    border-top: 1px solid #979797;
    margin: 0 auto;
    padding-bottom: 0.36rem;
}
.listWrap .payWrap .p1,
.listWrap .payWrap .p2 {
    width: 1.6rem;
    height: auto;
    font-size: 0.24rem;
    color: #686868;
    text-align: center;
    padding: 0.1rem 0;
    border: 1px solid #000;
    border-radius: 0.27rem;
    text-align: center;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
}
.listWrap .payWrap .p1 {
    color: #fa6400;
    border: 1px solid #fa6400;
    float: right;
}
.listWrap .payWrap .p2 {
    color: #686868;
    border: 1px solid #686868;
    float: right;
}
</style>
