<template>
    <div class="allWrap">
        <Header title = '教研资源' rightText='上传资源' @operation="operation()"></Header>
        <div class="teaStudy">
            <!-- comTop -->
            <div class="comTop">
                <router-link to="commonSearch" class="searchWrap" tag="div">
                    <img src="../../assets/images/searchImg.png" alt="">
                    <p>搜索资源</p>
                </router-link>
                <div class="lunboWrap">
                    <van-swipe class="my-swipe" :autoplay="3000" :width="380" indicator-color="white">
                        <van-swipe-item>
                            <img src="../../assets/images/heaBg02.png" alt="">
                        </van-swipe-item>
                    </van-swipe>
                </div>
                <div class="boxData clear">
                    <router-link to="wkResource?resTypeCode=102" class="upResou" tag="div">
                        微课资源
                        <img class="imgIcon" src="../../assets/images/icon34.png" alt="">
                    </router-link>
                    <router-link to="wkResource?resTypeCode=101" class="teaZY">
                        教学资源
                        <img class="imgIcon" src="../../assets/images/icon35.png" alt="">
                    </router-link>
                    <router-link to="wkResource?resTypeCode=100" class="realName">
                        研修资源
                        <img class="imgIcon" src="../../assets/images/icon36.png" alt="">
                    </router-link>
                </div>
            </div>
            <div class="jianju"></div>
            <!-- 精选微课 -->
            <div class="jxwk">
                <router-link to="wkResource?resTypeCode=102" class="com_title1">精选微课 ></router-link>
                <div class="listWrap">
                    <div class="list" :key="index" v-for="(item,index) in microShowData.documentList" @click="goSeeResourse(item.id,item.type,item.resTypeCode)">
                        <div v-if="index < 3">
                            <div class="imgWrap">
                                <img :src="item.videoPic" alt="">
                                <p class="seeNum">{{item.view_count}}观看</p>
                            </div>
                            <p class="className">{{item.toolTitle}}</p>
                            <p class="shareName">分享人：{{item.sharer}}  {{item.createTimeStr}}</p>
                            <div class="clear">
                                <div class="starWrap">
                                    <van-rate 
                                        v-model="item.grade" 
                                        :size="16"
                                        icon="star" 
                                        void-icon="star-o" 
                                        color="#ffd21e"
                                        :readonly='true'
                                    />
                                </div>
                                <p class="scoreNum">{{item.grade}}分 {{item.comment_count}}条评价</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jianju"></div>
            <!-- 付费精选 -->
            <div class="fjjx">
                <p class="com_title1">付费精选</p>
                <div class="listWrap">
                    <div class="list clear" :key="index" v-for="(item,index) in payIndexShowData.documentList" @click="goSeeResourse(item.id,item.type,item.resTypeCode)">
                        <div v-if="index < 3">
                            <div class="lLeft">
                                <img src="../../assets/images/doc.png" alt="">
                            </div>
                            <div class="rRight">
                                <p class="className">{{item.toolTitle}}</p>
                                <p class="shareName">分享人：{{item.sharer}}  {{item.createTimeStr}}</p>
                                <div class="clear">
                                    <div class="starWrap">
                                        <van-rate 
                                            v-model="item.grade" 
                                            :size="16"
                                            icon="star" 
                                            void-icon="star-o" 
                                            color="#ffd21e"
                                            :readonly='true'
                                        />
                                    </div>
                                    <p class="scoreNum">{{item.grade}}分 {{item.comment_count}}条评价</p>
                                </div>
                                <!-- isPublic 是否公开 0免费公开1仅项目可见2是个人私有3付费公开 -->
                                <p class="price" v-if="item.isPublic == 0">免费</p>
                                <p class="price" v-if="item.isPublic == 3">{{item.resPrice}}元</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jianju"></div>
            <!-- 优秀资源 -->
            <div class="fjjx yxzy">
                 <router-link to="wkResource?resTypeCode=101" class="com_title1">优秀资源 ></router-link>
                <div class="tabWrap clear">
                    <div class="tabList" @click="clickYxzySel(15)">
                        <p :class="yxzyDictTag == 15 ? 'pSel' : ''">学科教学</p>
                    </div>
                    <div class="tabList" @click="clickYxzySel(16)">
                        <p :class="yxzyDictTag == 16 ? 'pSel' : ''">专业发展</p>
                    </div>
                    <div class="tabList" @click="clickYxzySel(17)">
                        <p :class="yxzyDictTag == 17 ? 'pSel' : ''">试题试卷</p>
                    </div>
                </div>
                <div class="listWrap">
                    <div class="list clear" :key="index" v-for="(item,index) in resourceShowData.documentList" @click="goSeeResourse(item.id,item.type,item.resTypeCode)">
                        <div v-if="index < 3">
                            <div class="lLeft">
                                <img src="../../assets/images/doc.png" alt="">
                            </div>
                            <div class="rRight">
                                <p class="className">{{item.toolTitle}}</p>
                                <p class="shareName">分享人：{{item.sharer}}  {{item.createTimeStr}}</p>
                                <div class="clear">
                                    <div class="starWrap">
                                        <van-rate 
                                            v-model="item.grade" 
                                            :size="16"
                                            icon="star" 
                                            void-icon="star-o" 
                                            color="#ffd21e"
                                            :readonly='true'
                                        />
                                    </div>
                                    <p class="scoreNum">{{item.grade}}分 {{item.comment_count}}条评价</p>
                                </div>
                                <p class="price" v-if="item.isPublic == 0">免费</p>
                                <p class="price" v-if="item.isPublic == 3">{{item.resPrice}}元</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jianju"></div>
            <!-- 研修成果 -->
            <div class="fjjx yxzy">
                <router-link to="wkResource?resTypeCode=100" class="com_title1">研修成果 ></router-link>
                <div class="tabWrap clear">
                    <div class="tabList" @click="clickYxSel(1)">
                        <p :class="yxcgDictTag == 1 ? 'pSel' : ''">省级项目</p>
                    </div>
                    <div class="tabList" @click="clickYxSel(2)">
                        <p :class="yxcgDictTag == 2 ? 'pSel' : ''">市级项目</p>
                    </div>
                    <div class="tabList" @click="clickYxSel(3)">
                        <p :class="yxcgDictTag == 3 ? 'pSel' : ''">区/县级项目</p>
                    </div>
                </div>
                <div class="listWrap">
                    <div class="list clear" :key="index" v-for="(item,index) in researchResultShowData.documentList" @click="goSeeResourse(item.id,item.type,item.resTypeCode)">
                        <div v-if="index < 3">
                             <div class="lLeft">
                                <img src="../../assets/images/doc.png" alt="">
                            </div>
                            <div class="rRight">
                                <p class="className">{{item.toolTitle}}</p>
                                <p class="shareName">分享人：{{item.sharer}}  {{item.createTimeStr}}</p>
                                <div class="clear">
                                    <div class="starWrap">
                                        <van-rate 
                                            v-model="item.grade" 
                                            :size="16"
                                            icon="star" 
                                            void-icon="star-o" 
                                            color="#ffd21e"
                                            :readonly='true'
                                        />
                                    </div>
                                    <p class="scoreNum">{{item.grade}}分 {{item.comment_count}}条评价</p>
                                </div>
                                <p class="price" v-if="item.isPublic == 0">免费</p>
                                <p class="price" v-if="item.isPublic == 3">{{item.resPrice}}元</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jianju"></div>
            <div style="height:1rem;"></div>
        </div>

        <Footer :show="obj"></Footer>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: 2,     //header页面  select类名
                isImg1: 2        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            microShowData: '',   //教研_获取精选微课数据
            payIndexShowData: '',//教研_获取付费精选
            resourceShowData: '', //教研_获取优秀资源
            yxzyDictTag: 15,     //15学科教学资源 16专业发展资源 17试题试卷资源	
            researchResultShowData: '', //教研_获取研修成果
            yxcgDictTag: 1,      //1省级培训项目 2市级培训项目 3县/区级培训项目 4校级培训项目	
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getMicroShow();        //教研_获取精选微课
        this.getPayIndexShow();     //教研_获取付费精选
        this.getResourceShow();         //教研_获取优秀资源
        this.getResearchResultShow();  //教研_获取研修成果
    },
    methods:{
        // 教研_获取精选微课
        getMicroShow(){
            var _this = this;
            var obj = {
                userId: this.userId,
            };
            this.mainapi("getMicroShow", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.microShowData = res.data.c;
                }
            });
        },
        // 教研_获取付费精选
        getPayIndexShow(){
            var _this = this;
            var obj = {
                userId: this.userId,
            };
            this.mainapi("getPayIndexShow", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.payIndexShowData = res.data.c;
                }
            });
        },
        // 教研_获取优秀资源
        getResourceShow(){
            var _this = this;
            var obj = {
                userId: this.userId,
                dictTag: this.yxzyDictTag,      //15学科教学资源 16专业发展资源 17试题试卷资源	
            };
            this.mainapi("getResourceShow", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.resourceShowData = res.data.c;
                }
            });
        },
        // 优秀资源tab切换
        clickYxzySel(type){
            this.yxzyDictTag = type;
            this.getResourceShow()
        },
        // 教研_获取研修成果
        getResearchResultShow(){
            var _this = this;
            var obj = {
                userId: this.userId,
                dictTag: this.yxcgDictTag,      //1省级培训项目 2市级培训项目 3县/区级培训项目 4校级培训项目	
            };
            this.mainapi("getResearchResultShow", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.researchResultShowData = res.data.c;
                }
            });
        },
        // 研修成果tab切换
        clickYxSel(type){
            this.yxcgDictTag = type;
            this.getResearchResultShow()
        },
        // 点击上传资源
        operation(){
            this.$router.push({name:'upload'})
        },
        // 点击进详情(资源id,工具类型)
        goSeeResourse(solrId,type,resTypeCode){
            // 工具类型  article文章 usertask作业  activity活动  cooperate同伴协作  communicate交流  mooc磨课  userPreparation备课
            if(type == 'mooc' || type == 'userPreparation'){
                return;
            }
            this.$router.push({
            　　path: '/seeResourse',
            　　query: {
                    resTypeCode: resTypeCode,
                    solrId: solrId,
                    codeType: type,
            　　}
            });
        }
    }
}
</script>

<style scoped>
    html,
    body {
        width: 100%;
        height: 100%;
        background: #f1f1f1;
    }
    .allWrap{
        width: 100%;
        height: auto;
    }
    .jianju{
        width: 100%;
        height: 0.25rem;
        background: #F1F1F1;
    }
    /* 精选微课 */
    .jxwk{
        width: 100%;
        height: auto;
        padding-bottom: 0.3rem;
    }
    .com_title1{
        font-family: PingFangSC-Medium;
        font-size: 0.36rem;
        color: rgba(0,0,0,0.85);
        margin-left: 0.3rem;
        padding: 0.24rem 0;
    }
    .jxwk .listWrap{
        width: 100%;
        height: auto;
        white-space: nowrap;
        overflow-x: scroll;
    }
    .jxwk .listWrap .list{
        width: 6rem;
        height: auto;
        margin-left: 0.3rem;
        display: inline-block;
    }
    .jxwk .listWrap .list .imgWrap{
        width: 6rem;
        height: 4rem;
        position: relative;
    }
    .jxwk .listWrap .list .imgWrap img{
        width: 100%;
        height: 100%;
    }
    .jxwk .listWrap .list .imgWrap .seeNum{
        font-size: 0.22rem;
        color: #FFFFFF;
        background: rgba(0,0,0,0.25);
        border-radius: 0.27rem;
        padding: 0.12rem 0.26rem;
        position: absolute;
        left: 0.24rem;
        bottom: 0.2rem;
    }
    .jxwk .listWrap .list .className{
        width: 100%;
        font-family: PingFangSC-Medium;
        font-size: 0.3rem;
        color: rgba(0,0,0,0.85);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 0.18rem;
    }
    .jxwk .listWrap .list .shareName{
        font-family: PingFangSC-Regular;
        font-size: 0.22rem;
        color: #6D7278;
        padding-top: 0.12rem;
    }
    .jxwk .listWrap .list .starWrap{
        width: 3rem;
        height: 0.3rem;
        float: left;
    }
    .jxwk .listWrap .list .scoreNum{
        font-family: PingFangSC-Regular;
        font-size: 0.24rem;
        color: #6D7278;
        float: left;
    }
    /* 付费精选 */
    .fjjx{
        width: 100%;
        height: auto;
    }
    .fjjx .listWrap{
        width: 100%;
        height: auto;
    }
    .fjjx .listWrap .list{
        width: 6.9rem;
        height: auto;
        margin: 0 auto 0.4rem;
    }
    .fjjx .listWrap .list .lLeft{
        width: 1.86rem;
        height: 1.86rem;
        background: #E2F3FF;
        border-radius: 0.1rem;
        float: left;
    }
    .fjjx .listWrap .list .lLeft img{
        width: 1.6rem;
        height: 1.6rem;
        display: block;
        margin: 0 auto;
        padding: 0.13rem 0;
    }
    .fjjx .listWrap .list .rRight{
        width: 4.65rem;
        height: auto;
        margin-left: 0.18rem;
        float: left;
    }
    .fjjx .listWrap .list .rRight .className{
        width: 100%;
        font-family: PingFangSC-Medium;
        font-size: 0.3rem;
        color: rgba(0,0,0,0.85);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 0.1rem;
    }
    .fjjx .listWrap .list .rRight .shareName{
        width: 100%;
        font-family: PingFangSC-Regular;
        font-size: 0.22rem;
        color: #6D7278;
        padding-top: 0.12rem;
    }
    .fjjx .listWrap .list .rRight .starWrap{
        width: 2.5rem;
        height: 0.3rem;
        float: left;
    }
    .fjjx .listWrap .list .rRight .scoreNum{
        font-family: PingFangSC-Regular;
        font-size: 0.24rem;
        color: #6D7278;
        float: left;
    }
    .fjjx .listWrap .list .rRight .price{
        font-size: 0.26rem;
        color: #FD4C50;
        font-weight: bold;
        padding-top: 0.12rem;
        float: right;
    }
    /* 优秀资源 */
    .fjjx .tabWrap{
        width: 6.9rem;
        height: auto;
        margin: 0 auto 0.4rem;
        position: relative;
    }
    .fjjx .tabWrap .tabList{
        position: relative;
        margin-left: 0.48rem;
        float: left;
    }
    .fjjx .tabWrap .tabList:nth-of-type(1){
        margin-left: 0;
    }
    .fjjx .tabWrap .tabList p{
        font-family: PingFangSC-Regular;
        font-size: 0.26rem;
        color: #6D7278;
    }
    .fjjx .tabWrap .tabList .pSel{
        font-family: PingFangSC-Medium;
        color: #000;
    }
    .fjjx .tabWrap .tabList .pSel:after{
        width: 0.4rem;
        height: 0.06rem;
        content: '';
        -webkit-transform: scaleY(0.5);
        transform: scaleY(.5);
        background: #42A8FF;
        border-radius: 0.03rem;
        position: absolute;
        left: 50%;
        bottom: -0.15rem;
        transform: translateX(-50%);
    }
</style>