<template>
    <div class="allWrap">
        <div class="userinfo">
            <div class="topHea">
                <div class="topImg">
                    <router-link to="set">
                        <img src="../../assets/images/set.png" alt="">
                    </router-link>
                    <router-link to="news?headerTitle=0">
                        <img src="../../assets/images/news.png" alt="">
                    </router-link>
                </div>
                <div class="myInfo">
                    <img class="tx" :src="myIndexData.userPicurl ? myIndexData.userPicurl + '?t=' + (new Date().getTime()) : ''" @click="myTxImg()">
                    <div class="box">
                        <div class="clear">
                            <p class="realname">{{myIndexData.realName}}</p>
                            <p class="rank">LV{{myIndexData.authLevel}}</p>
                        </div>
                        <p class="exper">经验值：{{myIndexData.expValue}}</p>
                    </div>
                    <router-link to="userData" class="userData" tag="p">个人资料</router-link>
                </div>
                <div class="operCont">
                    <div class="list">
                        <router-link to="myUp?headerTitle=我的上传" tag="div">
                            <img class="img1" src="../../assets/images/up.png">
                            <p class="pName">我的上传</p>
                        </router-link>
                        <p class="num">{{myIndexData.myUpload}}</p>
                    </div>
                    <div class="list">
                        <router-link to="myUp?headerTitle=我的收藏" tag="div">
                            <img class="img1" src="../../assets/images/collect.png" alt="">
                            <p class="pName">我的收藏</p>
                        </router-link>
                        <p class="num">{{myIndexData.myCollection}}</p>
                    </div>
                    <div class="list">
                        <router-link to="myUp?headerTitle=下载查看" tag="div">
                            <img class="img1" src="../../assets/images/download.png" alt="">
                            <p class="pName">我的下载</p>
                            <p class="num">{{myIndexData.myDownload}}</p>
                        </router-link>
                    </div>
                    <div class="list">
                        <router-link to="myUp?headerTitle=我的购买" tag="div">
                            <img class="img1" src="../../assets/images/mybuy.png" alt="">
                            <p class="pName">我的购买</p>
                        </router-link>
                        <p class="num">{{myIndexData.myBuyNum}}</p>
                    </div>
                </div>
            </div>
            <div class="allList">
                <router-link class="list" tag="div" to="/certification" @click="goHelp()">
                    <p>实名认证</p>
                    <img class="img2" src="../../assets/images/youjiantou.png">
                </router-link>
                <router-link class="list" tag="div" to='/szRecord'>
                    <p>收支记录</p>
                    <img class="img2" src="../../assets/images/youjiantou.png">
                </router-link>
                <router-link class="list" tag="div" to='/colAccount'>
                    <p>收款账户</p>
                    <img class="img2" src="../../assets/images/youjiantou.png">
                </router-link>
                <router-link class="list" tag="div" to='/expRecord'>
                    <p>经验值记录</p>
                    <img class="img2" src="../../assets/images/youjiantou.png">
                </router-link>
            </div>
            <!-- 底部弹窗 上传头像-->
            <div class="tanWrap" v-if="uploadShow">
                <div class="footTan">
                    <p class="fooTips">选择拍照</p>
                    <p class="pFonts photograph">
                        拍照
                        <input type="file" name="file" accept='image/*' capture="camera" @change="upImg($event,allchooseNum)">
                    </p>
                    <p class="pFonts gallery">
                        图库
                        <input type="file" accept='image/*' multiple @change="upImg($event,allchooseNum)">
                    </p>
                    <p class="pFonts cancel" @click="upCancel()">取消</p>
                </div>
            </div>

            <!-- 提示弹窗 -->
            <div class="tanWrap" v-if="tipShow">
                <div class="tipTan">
                    <p class="p1">上传成功</p>
                    <p class="sure" @click="tipsSure()">确定</p>
                </div>
            </div>

      
        </div>

        <Footer :show="obj"></Footer>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'
import { Popup } from 'mint-ui';
import siteconfig from '../../assets/js/api'



export default {
    inject:['reload'],
    data() {
        return {
            obj:{       
                isSelect: 3,     //header页面  select类名
                isImg1: 3        //header页面  img路径
            },
            // title: 'sss'
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            uploadShow: false,      // 底部弹窗 上传头像
            tipShow: false,         // 提示弹窗是否显示
            // 上传附件
            // img: require('../../assets/images/addImg.png'),  //默认样式
            imgArr: [],          //存放返回的url
            allchooseNum: 9999,     //最多可选择几张
            myIndexData: '',       //我的首页信息数据
        };
    },
    components: {
        Header,
        Footer,
        Popup
    },
    created() {},
    mounted() {
        this.getMyIndex()       //我的首页信息
    },
    methods:{
        // 我的首页信息
        getMyIndex(){
            var _this = this;
            var obj = {
                userId: this.userId,
            };
            this.mainapi("getMyIndex", obj, function(res) {
                console.log(res);
                if (res.data.status == 'SUCCESS') {
                    _this.myIndexData = res.data.c
                }
            });
        },
        // 点击头像
        myTxImg(){
            this.uploadShow = true;
        },
        // 底部弹窗 上传头像
        upCancel(){
            this.uploadShow = false;
        },
        // 上传附件 upImg(e,最多可选择几张)
        upImg(e,allchooseNum){
            const $target = e.$target || e.srcElement   //获取dom元素
            const files = $target.files                 //获取所有文件流(对象)
            const chooceNum = allchooseNum - this.imgArr.length  //计算当前可以选几张
            console.log(files,chooceNum)
            if(files.length > chooceNum){
                alert('您最多还可选择' + chooceNum + '张图片')
            }else{
                // Object.keys(files) 获取files对象的key,返回的是数组
                // forEach(当前元素,下标,元素本身)
                Object.keys(files).forEach(key => {
                    let file = files[key]                       //获取单个文件流的值
                    console.log(file)
                    var data = new FormData();                  //创建formData对象,以便进行赋值传参
                    data.append('face',file)                    //指定类型file
                    data.append('return_uri','jsonp')         //给后台传的参数(return_uri:fileurl)
                    let config = {                              //headers头类型
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    let baseUrl = process.env.NODE_ENV == 'development' ? '/api' : siteconfig.api.yxt() 
                    axios.post(baseUrl + '/uploader/imgupload.do?params=subPath:C_el$uc;subPathRule:C_face;fileNameRule:C_u'+ this.userId +'.jpg;resize:OFS,120x120,50x50,30x30', data, config).then(res => {   //(接口地址,参数,header头类型)
                        //我们是返回url地址
                        this.imgArr.push(res.data)              //将返回数组扔进数组 
                        $target.value = '';                     //可以传相同的图片
                        this.updateResLibUserPic(res.data.url)      //用户修改头像
                    })
                })
            }
        },
        // 用户修改头像
        updateResLibUserPic(pic){
            var _this = this;
            var obj = {
                userId: this.userId,
                pic: pic
            };
            this.mainapi("updateResLibUserPic", obj, function(res) {
                console.log(res);
                if (res.data.status == 'SUCCESS') {
                    console.log(pic);
                    _this.tipShow = true;                  //上传成功弹窗
                    _this.myIndexData.userPicurl = pic     //赋值头像
                    _this.$forceUpdate();
                }
            });
        },
        // 提示弹窗
        tipsSure(){
            this.tipShow = false;
            this.uploadShow = false;
        },
    }
}
</script>

<style scoped>
    html,
    body {
        width: 100%;
        height: 100%;
        background: #f1f1f1;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        background: #F1F1F1;
        position: absolute;
        left: 0;
        top: 0;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .userinfo .topHea{
        width: 100%;
        height: 3.96rem;
        background: url("../../assets/images/heaBg01.png");
        background-size: cover;
        position: relative;
    }
    .userinfo .topHea .topImg{
        width: 100%;
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
    }
    .userinfo .topHea .topImg img{
        width: 0.32rem;
        height: 0.32rem;
        margin-right: 0.3rem;
        margin-top: 0.25rem;
        float: right;
    }
    .userinfo .topHea .myInfo{
        width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .userinfo .topHea .myInfo .tx{
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        margin-left: 0.72rem;
        float: left;
    }
    .userinfo .topHea .myInfo .box{
        margin-top: 0.3rem;
        margin-left: 0.36rem;
        float: left;
    }
    .userinfo .topHea .myInfo .box .realname{
        font-family: PingFangSC-Medium;
        font-size: 0.32rem;
        color: #FFFFFF;
        float: left;
    }
    .userinfo .topHea .myInfo .box .rank{
        background-image: linear-gradient(270deg, #FF8A19 0%, #FFC131 100%);
        border-radius: 10px;
        font-family: PingFangSC-Medium;
        font-size: 0.24rem;
        color: #FFFFFF;
        text-align: center;
        padding: 0 0.2rem;
        margin-top: 0.05rem;
        margin-left: 0.1rem;
        float: left;
    }
    .userinfo .topHea .myInfo .exper{
        font-family: PingFangSC-Medium;
        font-size: 0.24rem;
        color: #FFFFFF;
    }
    .userinfo .topHea .myInfo .userData{
        font-size: 0.24rem;
        height: 0.5rem;
        line-height: 0.5rem;
        color: #fff;
        background: #309EDA;
        padding: 0 0.2rem;
        border-radius: 0.3rem;
        margin-right: 0.5rem;
        margin-top: 0.3rem;
        float: right;
    }
    .userinfo .topHea .operCont{
        width: 6.9rem;
        height: 2.2rem;
        background: #fff;
        position: absolute;
        left: 0.3rem;
        bottom: -1rem;
        border-radius: 0.1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .userinfo .topHea .operCont .list{
        margin: 0.3rem 0.35rem 0 0.35rem;
    }
    .userinfo .topHea .operCont .list .img1{
        width: 0.76rem;
        height: 0.76rem;
        display: block;
        margin: 0 auto;
    }
    .userinfo .topHea .operCont .list .pName{
        font-family: PingFangSC-Regular;
        font-size: 0.24rem;
        color: #212121;
        text-align: center;
        margin-top: 0.12rem;
    }
    .userinfo .topHea .operCont .list .num{
        font-family: PingFangSC-Regular;
        font-size: 0.24rem;
        color: #9B9B9B;
        text-align: center;
        margin-top: 0.1rem;
    }

    .userinfo .allList{
        width: 100%;
        height: auto;
        background: white;
        margin-top: 1.3rem;
    }
    .userinfo .allList .list{
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid #F1F1F1;
    }
    .userinfo .allList .list .img1{
        width: 0.3rem;
        height: 0.3rem;
        margin-top: 0.35rem;
        margin-left: 0.3rem;
        float: left;
    }
    .userinfo .allList .list p{
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #686568;
        line-height: 1rem;
        margin-left: 0.3rem;
        float: left;
    }
    .userinfo .allList .list .p2{
        margin-right: 0.3rem;
        float: right;
    }
    .userinfo .allList .list .img2{
        width: 0.2rem;
        height: 0.2rem;
        margin-top: 0.4rem;
        margin-right: 0.3rem;
        float: right;
    }
</style>