<template>
    <div class="allWrap">
        <Header :title=headerTitle></Header>
        <div class="jxwk taskAsk">
            <div class="taskTop">
                <!-- <div class="taskTopP2 pt30">在本次培训中，我们学习了相关课程，也参加了相关交流研讨活动。要进一步做到“教学实践改进”，需要在课堂中真正学会合理应用所学内容。请您针对自己的教学实践，认真审视自己在“课堂教学难点”中遇到的情况，完成一份“教学设计方案”并提交至平台。请您针对自己的教学实践，认真审，认真审视自己在“课堂教学难点”中遇到的情况，完成一份“教学设计方案”并提交至平台。</div>
                <div class="taskTopP1 pt20 pb30">作业要求：
                    <p class="taskTopP2 pt20">1．教学设计方案要体现教学重点难点；</p>
                    <p class="taskTopP2 pt20">1．教学设计方案要体现教学重点难点；</p>
                    <p class="taskTopP2 pt20">1．教学设计方案要体现教学重点难点；</p>
                </div> -->
                <div v-html="allData.content" class="p30"></div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            headerTitle: '',
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            resourceId: this.$route.query.resourceId,        
            projectId: this.$route.query.projectId,          
            ptCode: this.$route.query.ptCode,           
            titleType: this.$route.query.titleType,      // 1作业工具→作业要求→要求说明   2活动工具→活动信息   3同伴协作→协作信息→协作内容   4.活动→步骤一→步骤描述   5同伴协作→主题→主题描述  6同伴协作→主题→步骤一→步骤描述
            titleType2: this.$route.query.titleType2,    // 21活动工具→活动信息→活动内容
            stepId: this.$route.query.stepId,           // 1作业工具→作业要求→要求说明   2活动工具→活动信息   3同伴协作→协作信息→协作内容   4.活动→步骤一→步骤描述   5同伴协作→主题→主题描述  6同伴协作→主题→步骤一→步骤描述
            allData: '',            //查看详情数据	
            titleId: this.$route.query.titleId,         //用的5 1作业工具→作业要求→要求说明   2活动工具→活动信息   3同伴协作→协作信息→协作内容   4.活动→步骤一→步骤描述   5同伴协作→主题→主题描述  6同伴协作→主题→步骤一→步骤描述
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.whereCome()
    },
    methods:{
        whereCome(){
            // 1作业工具→作业要求→要求说明   2活动工具→活动信息   3同伴协作→协作信息→协作内容   4.活动→步骤一→步骤描述   5同伴协作→主题→主题描述  6同伴协作→主题→步骤一→步骤描述
            if(this.titleType == 1){
                this.headerTitle = '要求说明'
                this.getTaskRequirement();      //作业要求
            }else if(this.titleType == 2){
                if(this.titleType2 == 21){
                    this.headerTitle = '活动内容'
                }else{
                    this.headerTitle = '活动信息'
                }
                this.getActivityMsg();          //查看活动信息
            }else if(this.titleType == 3){
                this.headerTitle = '协作内容'
                this.getCooperateMsg();
            }else if(this.titleType == 4){
                this.headerTitle = '步骤描述'    //查看活动步骤
                this.getActivityStep();
            }else if(this.titleType == 5){
                this.headerTitle = '主题描述'   //查看同伴协作主题
                this.getCooperateTitle()
            }else if(this.titleType == 6){
                this.headerTitle = '步骤描述'
                this.getCooperateStep()         //获取同伴协作主题下的步骤
            }
        },
        // 作业要求
        getTaskRequirement(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
            };
            this.mainapi("getTaskRequirement", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 查看活动信息
        getActivityMsg(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
            };
            this.mainapi("getActivityMsg", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 查看活动步骤
        getActivityStep(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                stepId: this.stepId,        
            };
            this.mainapi("getActivityStep", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 查看同伴协作信息
        getCooperateMsg(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
            };
            this.mainapi("getCooperateMsg", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 查看同伴协作主题
        getCooperateTitle(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                titleId: this.titleId,      //主题id     
            };
            this.mainapi("getCooperateTitle", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 获取同伴协作主题下的步骤
        getCooperateStep(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                stepId: this.stepId,                //步骤id
                titleId: this.titleId,              //主题id
            };
            this.mainapi("getCooperateStep", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },

        // 文章、交流工具 点击下载
        goDown(url){
            window.location.href = url;
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #F2F2F2;
        overflow: auto;
    }
    .allWrap .taskAsk{
        width: 100%;
        height: auto;
    }
</style>