<template>
    <div class="allWrap">
        <Header title='评论详情'></Header>
        <div class="reInteraction">
            <!-- 资源分享/指定提交人 -->
            <div class="zyhuListWrap" v-if="stepToolType == 4 || stepToolType == 8">
                <div class="list clear">
                    <div class="clear">
                        <img class="txLeft" :src="allData.comment.picUrl" alt="">
                        <div class="rCont">
                            <p class="name">{{allData.comment.realName}}</p>
                            <p class="time pt0">{{allData.comment.createTime}}  · {{allData.totalCount}}条回复</p>
                        </div>
                    </div>

                    <!-- 附件下载查看循环2 -->
                    <div class="fileListWrap pb0" v-if="allData.comment.docUrl">
                        <div class="list js-list clear" style="width: 6.3rem;margin: 0;padding: 0.3rem;border: 1px solid #F1F1F1;">
                            <img class="img1" :src="allData.comment.picSuffix">
                            <div class="info">
                                <p class="p1">{{allData.comment.content}}</p>
                                <!-- <p class="p2">188K</p> -->
                            </div>
                            <p class="down js-godown" @click.stop="goDown(allData.comment.docUrl)">点击下载</p>
                            <!-- <p class="down js-paydown">付费下载</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 除资源分享/指定提交人 -->
            <div class="zyhuListWrap" v-if="stepToolType != 4 && stepToolType != 8">
                <div class="list clear">
                    <img class="txLeft" :src="allData.comment.picUrl" alt="">
                    <div class="rCont">
                        <p class="name">{{allData.comment.realName}}</p>
                        <p class="rFontWords" v-html="allData.comment.content"></p>
                        <p class="time">{{allData.comment.createTime}}  · {{allData.totalCount}}条回复</p>
                    </div>
                </div>
            </div>
            <div class="jianju"></div>
            <div class="titleBorderBox">
                <p class="p1">全部评论（{{allData.totalCount}}）</p>
            </div>
            <div class="zyhuListWrap">
                <div class="list clear" :key="index" v-for="(item,index) in allData.list">
                    <img class="txLeft" :src="item.picUrl" alt="">
                    <div class="rCont">
                        <p class="name">{{item.realName}}</p>
                        <p class="rFontWords" v-html="item.content"></p>
                        <p class="time">{{item.createTime}}  · {{item.replayNum}}条回复</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            resourceId: this.$route.query.resourceId,           //
            projectId: this.$route.query.projectId,       //项目id
            ptCode: this.$route.query.ptCode,             //
            commentId: this.$route.query.commentId,       //评论主键id
            codeType: this.$route.query.codeType,         // codeType工具类型  article文章  usertask作业  activity活动  cooperate同伴协作  communicate交流
            stepToolType: this.$route.query.stepToolType, // stepToolType 1讨论,2问答,3资源下载,4资源分享,5辩论,6视频,7观课,8指定提交人,9成果展示,10投票,11活动评价        
            stepId: this.$route.query.stepId,             //步骤id
            curPage: 1,
            pageSize: 20,
            allData: {          //查看详情数据
                comment: {}     //写comment是为了防止有报错(此报错不影响流程)
            },            	
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.whereCome()        //
    },
    methods:{
        whereCome(){
            //文章,交流,作业
            if(this.codeType == 'article' || this.codeType == 'communicate' || this.codeType == 'usertask'){
                this.getReplys()
            }else if(this.codeType == 'activity'){      //活动
                this.getActivityComments()              //查看活动评论
            }else if(this.codeType == 'cooperate'){     //同伴协作
                this.getCooperateComments()             //同伴协作获取评论信息
            }
        },
        // 研修资源评论详情
        getReplys(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,        	
                projectId: this.projectId,        	
                ptCode: this.ptCode,            
                curPage: this.curPage,        
                pageSize: this.pageSize,        
                commentId: this.commentId,          //评论主键id
            };
            this.mainapi("getReplys", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },

        // 查看活动评论
        getActivityComments(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                stepId: this.stepId,  
                stepToolType: this.stepToolType,

                commentId: this.commentId,
                curPage: this.curPage,
                pageSize: this.pageSize,
                propp: '',  
            };
            this.mainapi("getActivityComments", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },


        // 同伴协作获取评论信息
        getCooperateComments(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                stepId: this.stepId,                //步骤id
                stepToolType: this.stepToolType,

                commentId: this.commentId,
                curPage: this.curPage,
                pageSize: this.pageSize,
                propp: '',  
                titleId: this.titleId,              //主题id
            };
            this.mainapi("getCooperateComments", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: auto;
    }
    .allWrap .reInteraction{
        width: 100%;
        height: auto;
    }
    .titleBorderBox{
        width: 6.9rem;
        height: auto;
        padding: 0.25rem 0.3rem;
        border-bottom: 2px solid #F1F1F1;
    }
    .titleBorderBox .p1{
        font-size: 0.3rem;
        color: #4A4A4A;
        font-weight: bold;
    }
    .zyhuListWrap{
        width: 100%;
        height: auto;
        padding-bottom: 0.3rem;
    }
    .zyhuListWrap .list{
        width: 6.9rem;
        height: auto;
        padding: 0 0.3rem;
        margin-top: 0.5rem;
    }
    .zyhuListWrap .list:nth-of-type(1){
        margin-top: 0.3rem;
    }
    .zyhuListWrap .list .txLeft{
        width: 0.66rem;
        height: 0.66rem;
        border-radius: 50%;
        float: left;
    }
    .zyhuListWrap .list .rCont{
        width: 6.08rem;
        height: auto;
        float: right;
    }
    .zyhuListWrap .list .rCont .name{
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #2A538E;
    }
    .zyhuListWrap .list .rCont .rFontWords{
        font-family: PingFangSC-Regular;
        font-size: 0.32rem;
        color: #333333;
        padding-top: 0.2rem;
        word-break: break-all;
    }
    .zyhuListWrap .list .rCont .time{
        font-family: PingFangSC-Regular;
        font-size: 0.22rem;
        color: #969EAB;
        padding-top: 0.2rem;
    }

    .jianju{
        height: 0.24rem;
        background: #F2F2F2;
    }
</style>