<template>
    <div class="allWrap">
        <Header title='资源互动'></Header>
        <div class="reInteraction">
            <div class="titleBorderBox">
                <p class="p1">全部评论（{{allData.totalCount}}）</p>
            </div>
            <div class="zyhuListWrap">
                <div class="list clear" :key="index" v-for="(item,index) in allData.list" @click="godiscussDetail(item.id)">
                    <img class="txLeft" :src="item.picUrl" alt="">
                    <div class="rCont">
                        <p class="name">{{item.realName}}</p>
                        <p class="rFontWords" v-html="item.content"></p>
                        <p class="time">{{item.createTime}}  · {{item.replayNum}}条回复</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            resourceId: this.$route.query.resourceId,           //
            projectId: this.$route.query.projectId,             //项目id
            ptCode: this.$route.query.ptCode,             //
            codeType: this.$route.query.codeType,             //工具类型 
            curPage: 1,
            pageSize: 20,
            allData: '',            //查看详情数据	
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getComments();       //查看详情
    },
    methods:{
        // 研修资源互动评论
        getComments(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,        //资源主键id	
                projectId: this.projectId,        //资源主键id	
                ptCode: this.ptCode,            
                curPage: this.curPage,        
                pageSize: this.pageSize,        
            };
            this.mainapi("getComments", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 点击进入详情
        godiscussDetail(commentId){
            this.$router.push({
                path: 'discussDetail',
                query: {
                    resourceId: this.resourceId,
                    projectId: this.projectId,
                    ptCode: this.ptCode,
                    commentId: commentId,
                    codeType: this.codeType,
                }
            })
        }
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: auto;
    }
    .allWrap .reInteraction{
        width: 100%;
        height: auto;
    }
</style>