<template>
    <div class="allWrap">
        <Header :title=headerTitle></Header>
        <div class="colAccount userinfo">
            <!-- 举报原因 -->
            <div class="allList">
                <div class="list" @click="showPayType()">
                    <p class="pLeft">举报原因</p>
                    <div class="clear fr">
                        <p class="pRight1">{{reasonOfReport}}</p>
                        <img class="img2" src="../../assets/images/youjiantou.png">
                    </div>
                </div>

                <div class="list">
                    <p class="reportContent">原因补充</p>
                    <textarea rows="10" placeholder="请输入" v-model="content"></textarea>
                </div>
                
            </div>
            <p class="sureUp sureUpOver" @click="setAccount()">确认提交</p>

            <!-- 举报原因选择 -->
            <van-popup v-model="popShow" position="bottom">
                <van-picker
                    title="请选择选择原因"
                    show-toolbar
                    :columns="columns"
                    @confirm="onConfirm"
                    @cancel="onCancel"
                />
            </van-popup>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'
import { Popup,Picker,Toast } from 'vant';

export default {
    data() {
        return {
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            solrId: this.$route.query.solrId,           // 资源id
            commentId: this.$route.query.commentId,     // 评论id
            replyId: this.$route.query.replyId,         // 回复id
            
            headerTitle: '',
            whatComeReport: this.$route.query.whatComeReport,  // 哪里来的举报 0资源举报  1资源评论_举报评论  2资源评论_举报回复


            popShow: false,                     // 蒙层
            columns: ['抄袭', '广告','违法','脏话','色情','其它'],
            reasonOfReport: '请选择',            // 举报原因选择
            reportStyle: 0,                     // 举报类型 1:抄袭 2:广告 3:违法 4:脏话 5:色情 6:其他
            content: '',                        // 举报描述
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {
        
    },
    mounted() {
        this.whereCome()
    },
    methods:{
        whereCome(){
            if(this.whatComeReport == 0){
                this.headerTitle = '举报资源'
            }else if(this.whatComeReport == 1){
                this.headerTitle = '举报评论'
            }else if(this.whatComeReport == 2){
                this.headerTitle = '举报回复'
            }
        },
        // 点击确定提交
        setAccount(){
            var _this = this;
            if(this.reportStyle == 0){
                _this.$dialog.alert({
                    title: '请选择举报类型',
                })
                return;
            }
            if(this.whatComeReport == 0){       //资源举报
                this.reportRes();
            }else if(this.whatComeReport == 1){ //资源评论_举报评论
                this.reportComment()
            }else if(this.whatComeReport == 2){ //资源评论_举报回复
                this.reportReply()
            }
        },
        // 资源举报
        reportRes(){
            var _this = this
            var obj = {
                userId: this.userId,
                solrId: this.solrId,                 //资源id
                reportStyle: this.reportStyle,//举报类型
                content: this.content                //补充内容
            }
            this.mainapi("reportRes", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.$dialog.alert({
                        title: '提交成功',
                    }).then(() => {
                        _this.$router.back(-1)
                    })
                }
            });
        },
        // 资源评论_举报评论
        reportComment(){
            var _this = this
            var obj = {
                userId: this.userId,
                commentId: this.commentId,           //评论id
                reason: this.reportStyle,            //举报类型
                content: this.content                //补充内容
            }
            this.mainapi("reportComment", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.$dialog.alert({
                        title: '提交成功',
                    }).then(() => {
                        _this.$router.back(-1)
                    })
                }
            });
        },
        // 资源评论_举报回复
        reportReply(){
            var _this = this
            var obj = {
                userId: this.userId,
                replyId: this.replyId,               //回复id
                reason: this.reportStyle,            //举报类型
                content: this.content                //补充内容
            }
            this.mainapi("reportReply", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.$dialog.alert({
                        title: '提交成功',
                    }).then(() => {
                        _this.$router.back(-1)
                    })
                }
            });
        },
        // 打开举报原因选项
        showPayType() {
            this.popShow = true;
        },
        // 蒙层点击确定
        onConfirm(value, index) {
            this.reasonOfReport = value;
            this.reportStyle = index + 1;
            this.popShow = false;
            console.log(this.reasonOfReport)
            console.log(`当前值：${value}, 当前索引：${index}`)
        },
        // 蒙层内点击取消
        onCancel() {
            this.popShow = false;
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #f4f4f4;
        font-family: Microsoft YaHei;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #f4f4f4;
        font-family: Microsoft YaHei;
    }
    .allWrap .userinfo{
        width: 100%;
        height: auto;
    }
    /* 间距 */
    .userinfo .jianju{
        width: 100%;
        height: 0.2rem;
        background: #F1F1F1;
    }
    .userinfo .allList{
        width: 100%;
        height: auto;
        background: white;
    }
    .userinfo .allList .list{
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid #F1F1F1;
    }
    .userinfo .allList .list:nth-child(2){
        width: 100%;
        height: auto;
        border-bottom: 1px solid #F1F1F1;
    }
    .userinfo .allList .list .pLeft{
        font-size: 0.28rem;
        color: #4A4A4A;
        line-height: 1rem;
        margin-left: 0.15rem;
        float: left;
    }
    .userinfo .allList .list .pRight1{
        font-size: 0.3rem;
        line-height: 1rem;
        color: #A3A3A3;
        margin-right: 0.2rem;
        float: left;
    }
    .userinfo .allList .list .img2{
        width: 0.2rem;
        height: 0.2rem;
        margin-top: 0.4rem;
        margin-right: 0.3rem;
        float: right;
    }
    .userinfo .allList .list .reportContent{
        font-size: 0.28rem;
        color: #4A4A4A;
        line-height: 1rem;
        margin-left: 0.15rem;
    }
    .userinfo .allList .list textarea{
        width: calc(100% - 0.3rem);
        padding: 0.15rem;
        font-size: 0.28rem;
        color: #4A4A4A;
        line-height: .5rem;
        resize: none;
        border-width: 0px;
        /* border-bottom-width: 1px; */
        border-top: 1px solid #F1F1F1;
    }
    .sureUp{
        width: 6.9rem;
        height: 0.88rem;
        line-height: 0.88rem;
        background: #D8D8D8;
        border-radius: 0.44rem;
        margin: 0.5rem auto;
        font-size: 0.3rem;
        color: #FFFFFF;
        text-align: center;
    }
    .sureUpOver{
        background: #42A8FF;
    }
</style>