<template>
    <div class="allWrap">
        <Header :title=headerTitle rightText="举报" @operation="goReport()" v-if="allData.isReport == 0"></Header>
        <Header :title=headerTitle rightText="已举报" v-if="allData.isReport == 1"></Header>
        <div class="seeResourse">
            <!-- 微课/教学资源上半部分 -->
            <div class="jxwk">
                <div class="listWrap">
                    <div class="list">
                        <!-- 微课资源独有start******* -->
                        <div class="imgWrap" v-if="resTypeCode == 102">
                            <!-- 不是自己发布的付费且未购买 -->
                            <div v-if="allData.isMy == 0 && allData.isPublic == 3 && allData.isPay == 0">
                                <img :src="allData.videoPic" alt />
                                <div class="blackBg">
                                    <p class="p1">该资源为“付费”资源</p>
                                    <p class="p1">请先购买！</p>
                                </div>
                            </div>
                            <!-- 自己发布的或者免费或者付费但已购买  -->
                            <div  class="videoWrap" v-if="allData.isMy == 1 || allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)">
                                <iframe id="vIframe" ref="vdIframe" name="vdIframe" style="width:100%;height:490px" src="static/video.html" frameborder="0"></iframe>
                            </div>

                        </div>
                        <!-- 微课资源独有end******* -->
                        <p class="className">{{allData.title}}</p>
                        <div class="clear">
                            <p class="shareName fl">分享人：{{allData.realname}}</p>
                            <p class="shareName fr">发布时间 {{allData.createTime.substring(0,16)}}</p>
                        </div>
                        <div class="clear lsbox">
                            <div class="starWrap">
                                <div style="position:relative;top:0.2rem">
                                    <van-rate
                                        v-model="allData.grade"
                                        :size="18"
                                        icon="star"
                                        void-icon="star-o"
                                        color="#ffd21e"
                                        :gutter='16'
                                        :readonly='true'
                                    />
                                </div>
                            </div>
                            <p class="scoreNum">{{allData.grade}}分 {{allData.gradeNum}}条评价</p>
                        </div>
                        <p class="price" v-if="allData.isPublic == 3 && allData.isPay == 0">{{allData.price}}元</p>
                        <p class="price" v-if="allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)">免费</p>
                    </div>
                </div>
                <router-link :to="'zyDetail?solrId=' + solrId" class="clear seeDetail" tag="div">
                    <p class="p1">资源详情</p>
                    <p class="p2">查看详情 ></p>
                </router-link>
                <div class="jianju"></div>


                <!-- 教学资源独有start******* -->
                <div v-if="resTypeCode == 101">
                    <!-- 文件预览部分 -->
                    <!-- 不是自己发布的付费且未购买 -->
                    <div class="seeFile" v-if="allData.isMy == 0 && allData.isPublic == 3 && allData.isPay == 0">
                        <p class="needBuy">付费资源无法完整预览，如果需要阅读或下载，请您购买</p>
                    </div>
                    <!-- 自己发布的或者免费或者付费但已购买 -->
                    <div class="seeFile" v-if="allData.isMy == 1 || allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)">
                        <div class="seeList">
                            <!-- 可预览 -->
                            <div v-if="allData.isView == 1">
                                <!-- 原版 -->
                                <iframe :style="{height:iframeHeight}" id="bdIframe" class="iframePDF" :src="allData.docViewUrl" frameborder="0" scrolling="no" v-if="jx_img_type == 0"></iframe>
                                <!-- 新改 -->
                                <img style="width: 6.9rem;margin:0 auto;display:block;" :src="allData.docViewUrl" v-if="jx_img_type == 1">
                            </div>
                            <!-- 不可预览 -->
                            <!-- 附件下载查看循环 -->
                            <div class="fileListWrap" v-if="allData.isView != 1">
                                <div class="list js-list">
                                    <img class="img1" :src="allData.fileSuffix">
                                    <div class="info">
                                        <p class="p1">{{allData.fileName}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <img src="../../assets/images/tx.jpg" alt=""> -->
                        </div>
                        <!-- <p class="goSee pb30">继续阅读
                            <van-icon name="arrow-down" style="top:0.05rem"/>
                        </p> -->
                        <!-- <van-divider class="divisionLine" :style="{ color: '#AEAEAE;',borderColor: '#AEAEAE'}">剩余70%未读</van-divider> -->
                    </div>
                    <div class="jianju"></div>
                </div>
                <!-- 教学资源独有end******* -->


                <!-- 研修资源独有start******* -->
                <div v-if="resTypeCode == 100">
                    <!-- 文章、交流工具 -->
                    <div v-if="codeType == 'article' || codeType == 'communicate'">
                        <div class="clear seeDetail">
                            <p class="p1">资源内容</p>
                        </div>
                        <div class="seeFile">
                            <p class="needBuy" style="margin:0 auto;" v-if="allData.isPublic == 3 && allData.isPay == 0">付费资源无法完整预览，如果需要阅读或下载，请您购买</p>
                            <div class="zyContp" v-if="allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)">
                                <div v-html="allData.content"></div>
                            </div>
                        </div>

                        <div class="listWrap">
                            <div class="list">
                                <div class="imgWrap">
                                    <!-- 不是自己发布的付费且未购买 -->
                                    <div v-if="allData.isMy == 0 && allData.isPublic == 3 && allData.isPay == 0">
                                        <img :src="allData.videoPic" alt />
                                        <div class="blackBg">
                                            <p class="p1">该资源为“付费”资源</p>
                                            <p class="p1">请先购买！</p>
                                        </div>
                                    </div>
                                    <!-- 自己发布的或者免费或者付费但已购买 -->
                                    <!-- 此处若用v-if jq无法进行插入 查看文章资源-->
                                    <div class="videoWrap" v-if="allData.isMy == 1 || allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)">
                                        <iframe id="vIframe" ref="vdIframe" name="vdIframe" :style="{width:'100%',height:(490*allData.videos.length)+'px'}" src="static/videoArr.html" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jianju"></div>
                        <!-- 附件下载查看循环 -->
                        <div class="fileListWrap" v-if="allData && allData.docs && allData.docs.length">
                            <div class="list js-list" :key="index" v-for="(item,index) in allData.docs">
                                <img class="img1" :src="item.picSuffix">
                                <div class="info">
                                    <p class="p1">{{item.name}}</p>
                                    <!-- <p class="p2">188K</p> -->
                                </div>
                                <p class="down js-godown" v-if="allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)" @click.stop="goDown(item.url)">点击下载</p>
                                <p class="down js-paydown" v-if="allData.isPublic == 3 && allData.isPay == 0">付费下载</p>
                            </div>
                        </div>
                        <div class="jianju"></div>
                        <div class="clear seeDetail" @click="goreInteraction(allData.resourceId,allData.projectId,allData.ptCode)">
                            <p class="p1">资源互动</p>
                            <p class="p2">查看详情 ></p>
                        </div>
                        <div class="jianju"></div>
                    </div>
                    <!-- 作业工具 -->
                    <div v-if="codeType == 'usertask'">
                        <div class="clear seeDetail" @click="gotaskAsk(allData.resourceId,allData.projectId,allData.ptCode)">
                            <p class="p1">作业要求</p>
                            <p class="p2">查看详情 ></p>
                        </div>
                        <div class="clear seeDetail">
                            <p class="p1">作业内容</p>
                        </div>

                        <div class="seeFile">
                            <p class="needBuy" style="margin:0 auto;" v-if="allData.isPublic == 3 && allData.isPay == 0">付费资源无法完整预览，如果需要阅读或下载，请您购买</p>
                            <div class="zyContp" v-if="allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)">
                                <div v-html="allData.content"></div>
                            </div>
                        </div>

                        <div class="listWrap">
                            <div class="list">
                                <div class="imgWrap">
                                    <!-- 不是自己发布的付费且未购买 -->
                                    <div v-if="allData.isMy == 0 && allData.isPublic == 3 && allData.isPay == 0">
                                        <img :src="allData.videoPic" alt />
                                        <div class="blackBg">
                                            <p class="p1">该资源为“付费”资源</p>
                                            <p class="p1">请先购买！</p>
                                        </div>
                                    </div>
                                    <!-- 自己发布的或者免费或者付费但已购买 -->
                                    <div class="videoWrap" v-if="allData.isMy == 1 || allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)">
                                        <iframe id="vIframe" ref="vdIframe" name="vdIframe"  :style="{width:'100%',height:(490*allData.videos.length)+'px'}" src="static/videoArr.html" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jianju"></div>
                        <!-- 附件下载查看循环 -->
                        <div class="fileListWrap" v-if="allData && allData.docs && allData.docs.length">
                            <div class="list js-list" :key="index" v-for="(item,index) in allData.docs">
                                <img class="img1" :src="item.picSuffix">
                                <div class="info">
                                    <p class="p1">{{item.name}}</p>
                                    <!-- <p class="p2">188K</p> -->
                                </div>
                                <p class="down js-godown" v-if="allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)" @click.stop="goDown(item.url)">点击下载</p>
                                <p class="down js-paydown" v-if="allData.isPublic == 3 && allData.isPay == 0">付费下载</p>
                            </div>
                        </div>
                        <div class="jianju"></div>
                        <div class="clear seeDetail" @click="goteaRemark(allData.resourceId,allData.projectId,allData.ptCode)">
                            <p class="p1">教师评语</p>
                            <p class="p2">查看详情 ></p>
                        </div>
                        <div class="clear seeDetail" @click="goreInteraction(allData.resourceId,allData.projectId,allData.ptCode)">
                            <p class="p1">资源互动</p>
                            <p class="p2">查看详情 ></p>
                        </div>
                        <div class="jianju"></div>
                    </div>
                    <!-- 活动工具 -->
                    <div v-if="codeType == 'activity'">
                        <div class="clear seeDetail" @click="goactInfo(allData.resourceId,allData.projectId,allData.ptCode)">
                            <p class="p1">活动信息</p>
                            <p class="p2">查看详情 ></p>
                        </div>
                        <div class="clear seeDetail">
                            <p class="p1">活动步骤</p>
                        </div>
                        <!-- 不是自己发布的付费且未购买 -->
                        <div class="seeFile">
                            <p class="needBuy" style="margin:0 auto;" v-if="allData.isMy == 0 && allData.isPublic == 3 && allData.isPay == 0">付费资源无法完整预览，如果需要阅读或下载，请您购买</p>
                            <div class="zyContp" v-if="allData.isPublic == 0">
                                <div v-html="allData.content"></div>
                            </div>
                        </div>
                        <!-- 活动步骤 -->
                        <div class="actListWrap pt20 pb30">
                            <!-- 自己发布的或者免费或者付费但已购买 -->
                            <div v-if="allData.isMy == 1 || allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)">
                                <div class="actList clear" :key="index" v-for="(item,index) in allData.stepList" @click="gostep(item.stepToolType,item.id,allData)">
                                    <p class="p1 fl">{{index+1}} {{item.name}}</p>
                                    <div>
                                        <p class="p2 fr" v-if="item.extInfo.stepStatus == -1">未开始 ></p>
                                        <p class="p2 fr" v-if="item.extInfo.stepStatus == 0">进行中 ></p>
                                        <p class="p2 fr" v-if="item.extInfo.stepStatus == 1">已结束 ></p>
                                    </div>
                                </div>
                            </div>
                            <!-- 不是自己发布的付费且未购买 -->
                            <div v-if="allData.isMy == 0 && allData.isPublic == 3 && allData.isPay == 0">
                                <div class="actList clear" :key="index" v-for="(item,index) in allData.stepList">
                                    <p class="p1 fl">{{index+1}} {{item.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="jianju"></div>
                    </div>
                    <!-- 同伴协作工具 -->
                    <div v-if="codeType == 'cooperate'">
                        <div class="clear seeDetail" @click="gocoopInfo(allData.resourceId,allData.projectId,allData.ptCode)">
                            <p class="p1">协作信息</p>
                            <p class="p2">查看详情 ></p>
                        </div>
                        <div class="clear seeDetail">
                            <p class="p1">主题列表</p>
                        </div>
                        <!-- 不是自己发布的付费且未购买 -->
                        <div class="seeFile mt30" v-if="allData.isMy == 0 && allData.isPublic == 3 && allData.isPay == 0">
                            <p class="needBuy" style="margin:0 auto;">付费资源无法完整预览，如果需要阅读或下载，请您购买</p>
                            <p class="zyContp pb30">在本次培训中，我们学习了相关课程，也参加了相关交流研讨活动。要进一步做到“教学实践改进”，需要在课堂中真正学会合理应用所学内容（完整展示）</p>
                            <div class="jianju"></div>
                        </div>
                        <!-- 主题列表 -->
                        <div class="actListWrap pt20 pb30">
                            <!-- 自己发布的或者免费或者付费但已购买 -->
                            <div v-if="allData.isMy == 1 || allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)">
                                <div class="actList clear" :key="index" v-for="(item,index) in allData.groupTitles" @click="gotheme(item.stepToolType,item.id,allData)">
                                    <p class="p1 fl">{{index+1}} {{item.title}}</p>
                                    <div>
                                        <p class="p2 fr" v-if="item.extInfo.stepStatus == -1">未开始 ></p>
                                        <p class="p2 fr" v-if="item.extInfo.stepStatus == 0">进行中 ></p>
                                        <p class="p2 fr" v-if="item.extInfo.stepStatus == 1">已结束 ></p>
                                    </div>
                                </div>
                            </div>
                            <!-- 不是自己发布的付费且未购买 -->
                            <div v-if="allData.isMy == 0 && allData.isPublic == 3 && allData.isPay == 0">
                                <div class="actList clear" :key="index" v-for="(item,index) in allData.groupTitles">
                                    <p class="p1 fl">{{index+1}} {{item.title}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="jianju"></div>
                    </div>
                </div>
                <!-- 研修资源独有end******* -->
            </div>
            <!-- 相关推荐 -->
            <div class="ost">
                <div class="oTitle clear">
                    <p class="p1">相关推荐</p>
                    <p class="p2" @click="changeRecom()">
                        <img src="../../assets/images/huanyipi.png" alt="">
                        换一批
                    </p>
                </div>
                <div class="ostlWrap">
                    <div class="ostList clear" :key="index" v-for="(item,index) in getRecommendData" @click="goSeeResourse(item.id,item.type,item.resTypeCode)">
                        <img class="imgLeft" :src="item.picSuffix" alt="">
                        <p class="name">{{item.showTitle}}</p>
                    </div>
                </div>
            </div>
            <div style="height:1.2rem"></div>

            <!-- 教学资源底部导航 -->
            <!-- 底部逻辑
                微课：   付费：收藏、评价、评论、购买
                        免费：收藏、评价、评论
                教学：   付费：收藏、评价、评论、购买
                        免费：收藏、评价、评论、下载
                研修：   付费：收藏、评价、评论、购买
                        免费：收藏、评价、评论
             -->
            <div class="wkFooter">
                <div class="list" @click="clickCollect(allData.isCollect)">
                    <img class="img1" src="../../assets/images/colloct1.png" v-if="allData.isCollect == 0">
                    <img class="img1" src="../../assets/images/colloct2.png" v-if="allData.isCollect == 1">
                    <p class="p1">收藏</p>
                </div>
                <div class="list" v-if="allData.isGrade == 0" @click="clcikEval(0)">
                    <img class="img1" src="../../assets/images/star.png" alt="">
                    <p class="p1">评价</p>
                </div>
                <div class="list" v-if="allData.isGrade == 1" @click="clcikEval(1)">
                    <p class="p1">已评价</p>
                </div>
                <div class="list" @click="commentList()">
                    <img class="img1" src="../../assets/images/comment.png" alt=""/>
                    <p class="p1">评论</p>
                </div>
                <!-- 付费资源才有 -->
                <div class="list" v-if="allData.isPublic == 3 && allData.isPay == 0 && allData.isMy != 1" style="background: #42A8FF;" @click="goPay(allData.price)">
                    <p class="p1" style="color: #FFFFFF;">购买</p>
                </div>
                <!-- 免费资源才有(只有教学资源有下载) -->
                <div class="list" v-if="(allData.isPublic == 0 || (allData.isPublic == 3 && allData.isPay == 1)) && headerTitle == '查看教学资源'">
                    <p class="p1" @click="downLoadFile(allData.fileUrl)">下载</p>
                </div>
            </div>

            <!-- 评价弹窗部分 -->
            <div class="evalTanWrap">
                <!-- 未评价 -->
                <van-popup
                    v-model="noEvalTan"
                    position="bottom"
                    close-icon="close"
                    close-icon-position="top-left">
                    <!-- 头部显示 -->
                    <van-nav-bar
                        title="请评价"
                        left-text="取消"
                        right-text="发布"
                        @click-left="noEvalTanClose"
                        @click-right="noEvalTanSure"
                    />
                    <!-- 星星评价 -->
                    <div class="starWrap">
                        <van-rate
                            v-model="grade"
                            :size="30"
                            gutter="30"
                            icon="star"
                            void-icon="star-o"
                            color="#ffd21e"
                            @change="changeStar"
                        />
                    </div>
                </van-popup>

                <!-- 已评价 -->
                <van-popup
                    v-model="yesEvalTan"
                    position="bottom"
                    close-icon="close"
                    close-icon-position="top-left">
                    <!-- 头部显示 -->
                    <van-nav-bar
                        title="已评价"
                        left-text="取消"
                        @click-left="yesEvalTanClose"
                    />
                    <!-- 星星评价 -->
                    <div class="starWrap">
                        <van-rate
                            v-model="allData.myGrade"
                            :size="30"
                            gutter="30"
                            icon="star"
                            void-icon="star-o"
                            color="#ffd21e"
                            readonly
                        />
                    </div>
                </van-popup>
            </div>
        </div>
    </div>
</template>

<script>
import Header from "../common/header";
import Footer from "../common/footer";
import axios from "axios";
import { Toast } from 'vant';                       //Toast 轻提示

export default {
    data() {
        return {
            obj: {
                isSelect: true, //header页面  select类名
                isImg1: true    //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            resTypeCode: this.$route.query.resTypeCode, //100研修资源 101教学资源 102微课资源
            headerTitle: '', //微课资源 教学资源 研修资源
            solrId: this.$route.query.solrId,           //资源id
            codeType: this.$route.query.codeType,       // codeType工具类型  article文章  usertask作业  activity活动  cooperate同伴协作  communicate交流
            orderId: "",            //订单号
            curPage: 1,
            pageSize: 10,
            getRecommendData: '',           //资源推荐接口数据
            allData: '',                    //获取教学资源所有数据
            // 教学资源部分
            noEvalTan: false,               //未评价弹窗
            yesEvalTan: false,              //已评价弹窗
            grade: 0,                       //未评价星星评分
            iframeHeight: '',               //iframe实际高度
            jx_img_type: '',                //后缀是.jpg|.png|.jpeg为1  其他为0
            //测试用 docViewUrl: 'http://office.teacheredu.cn//zaixianyulan/teacheredu/webroot/files/201904/resourceTool/37301/201925770899424399.pdf',
        };
    },
    components: {
        Header,
        Footer
    },
    created() {

    },
    mounted() {
        this.comeWhat()     //从哪里来

       
    },
    update(){
        console.log('----',this.allData);
    },
    methods: {
        // 从哪里来
        comeWhat(){
          console.log('0000-----',this.resTypeCode)
          console.log('111111-----',this.solrId)
            //100研修资源 101教学资源 102微课资源
            if(this.resTypeCode == 102){
                this.headerTitle = '查看微课资源'
                this.getMicro()          //查看微课资源
            }else if(this.resTypeCode == 101){
                this.headerTitle = '查看教学资源'
                this.getTeacherLib()     //查看教学资源
            }else if(this.resTypeCode == 100){
                this.headerTitle = '查看研修资源'
                console.log(this.codeType)
                if(this.codeType == 'article'){         //文章
                    this.getArticle()
                }else if(this.codeType == 'usertask'){  //作业
                    this.getUsertask()
                }else if(this.codeType == 'activity'){  //活动
                    this.getActivity()
                }else if(this.codeType == 'cooperate'){ //同伴写作
                    this.getCooperate()
                }else if(this.codeType == 'communicate'){ //交流
                    this.getCommunicate()
                }else if(this.codeType == 'mooc' || this.codeType == 'userPreparation'){    //磨课||备课
                    console.log('提示无法打开')
                }
            }
            this.getRecommend() //资源推荐接口
        },
        // 获取微课资源
        getMicro(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源id
            };
            this.mainapi("getMicro", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                    _this.$nextTick(() => {
                        _this.sendMessage(res.data.c.playCode)
                    }) 
                }else if(res.data.status == 'FAIL'){
                    _this.$dialog.alert({
                        title: res.data.message,
                    }).then(() => {
                        _this.$router.back(-1)
                    })
                }
            });
        },
        // 查看教学资源
        getTeacherLib(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源id
            };
            this.mainapi("getTeacherLib", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                    if(res.data.c.docViewUrl){
                        var strRegex = '(.jpg|.png|.jpeg)$';
                        var re= new RegExp(strRegex);
                        if(re.test(res.data.c.docViewUrl.toLowerCase())){
                            _this.jx_img_type = 1
                        }else{
                            _this.jx_img_type = 0
                        }
                    }

                    // iframe自适应高度
                    const oIframe = document.getElementById('bdIframe');
                    const deviceHeight = document.documentElement.clientHeight;
                    _this.iframeHeight = deviceHeight - 100 + 'px'
                    // iframe自适应高度end
                }else if(res.data.status == 'FAIL'){
                     _this.$dialog.alert({
                        title: res.data.message,
                    }).then(() => {
                        _this.$router.back(-1)
                    })
                }
            });
        },
        // iframe传值
        sendMessage (data) {
            const mapFrame = this.$refs['vdIframe']
            if (mapFrame.attachEvent) { // 兼容浏览器判断
                mapFrame.attachEvent('onload', function() {
                    const iframeWin = mapFrame.contentWindow
                    iframeWin.postMessage(data, '*')
                    // data传递的参数   *写成子页面的域名或者是ip
                })
            } else {
                mapFrame.onload = function() {
                    const iframeWin = mapFrame.contentWindow
                    iframeWin.postMessage(data, '*')
                }
            }
            
        },
        // 查看文章资源
        getArticle(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源id
            };
            this.mainapi("getArticle", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                    console.log('查看文章资源');
                    // 导入视频
                    $('.videoWrap').html('')
                    _this.$nextTick(() => {
                        if(res.data.c.videos){
                            _this.sendMessage(res.data.c.videos)
                       }
                    })
                }else if(res.data.status == 'FAIL'){
                     _this.$dialog.alert({
                        title: res.data.message,
                    }).then(() => {
                        _this.$router.back(-1)
                    })
                }
            });
        },
        // 查看作业
        getUsertask(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源id
            };
            this.mainapi("getUsertask", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                    console.log('查看作业');
                    // 导入视频
                    _this.$nextTick(() => {
                       if(res.data.c.videos){
                            _this.sendMessage(res.data.c.videos)
                       }
                    })
                }
            });
        },
        // 查看活动
        getActivity(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源id
            };
            this.mainapi("getActivity", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 查看同伴协作
        getCooperate(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源id
            };
            this.mainapi("getCooperate", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 查看交流
        getCommunicate(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源id
            };
            this.mainapi("getCommunicate", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                    console.log('查看交流');
                    // 导入视频
                   _this.$nextTick(() => {
                       if(res.data.c.videos){
                            _this.sendMessage(res.data.c.videos)
                       }
                       
                    })
                }else if(res.data.status == 'FAIL'){
                    _this.$dialog.alert({
                        title: res.data.message,
                    }).then(() => {
                        _this.$router.back(-1)
                    })
                }
            });
        },
        // 资源推荐接口
        getRecommend(){
            var _this = this;
            var obj = {
                userId: this.userId,
                documentId: this.solrId,        //资源solr主键id
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getRecommend", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.getRecommendData = res.data.c
                }
            });
        },
        // 点击换一批
        changeRecom(){
            this.curPage += 1;
            this.getRecommend()
        },
        // 底部
        // 点击收藏
        clickCollect(type){
            if(type == 0){
                this.addCollect()       //用户收藏资源
            }else{
                this.cancelCollect()    //用户收藏资源
            }
        },
        // 用户收藏资源
        addCollect(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源solr主键id
            };
            this.mainapi("addCollect", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    Toast.success('收藏成功');
                    if(_this.resTypeCode == 102){
                        _this.getMicro()            //查看微课资源
                    }else if(_this.resTypeCode == 101){
                        _this.getTeacherLib()       //查看教学资源
                    }else if(_this.resTypeCode == 100){
                        console.log('微课资源')
                        if(_this.codeType == 'article'){         //文章
                            _this.getArticle()
                        }else if(_this.codeType == 'usertask'){  //作业
                            _this.getUsertask()
                        }else if(_this.codeType == 'activity'){  //活动
                            _this.getActivity()
                        }else if(_this.codeType == 'cooperate'){ //同伴写作
                            _this.getCooperate()
                        }else if(_this.codeType == 'communicate'){ //交流
                            _this.getCommunicate()
                        }
                    }
                }
            });
        },
        // 取消收藏
        cancelCollect(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源solr主键id
            };
            this.mainapi("cancelCollect", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    Toast.success('取消收藏成功');
                    if(_this.resTypeCode == 102){
                        _this.getMicro()            //查看微课资源
                    }else if(_this.resTypeCode == 101){
                        _this.getTeacherLib()       //查看教学资源
                    }else if(_this.resTypeCode == 100){
                        if(_this.codeType == 'article'){         //文章
                            _this.getArticle()
                        }else if(_this.codeType == 'usertask'){  //作业
                            _this.getUsertask()
                        }else if(_this.codeType == 'activity'){  //活动
                            _this.getActivity()
                        }else if(_this.codeType == 'cooperate'){ //同伴写作
                            _this.getCooperate()
                        }else if(_this.codeType == 'communicate'){ //交流
                            _this.getCommunicate()
                        }
                    }
                }
            });
        },
        // 评价弹窗部分  未评价点击星星评分
        changeStar(value){
            this.grade = value
        },
        // 点击评价  0未评价 1已评价
        clcikEval(type){
            if(type == 0){
                this.noEvalTan = true
            }else{
                this.yesEvalTan = true
            }
        },
        // 评价弹窗部分  未评价点击取消
        noEvalTanClose(){
            this.noEvalTan = false
        },
        // 评价弹窗部分  未评价点击发布
        noEvalTanSure(){
            this.noEvalTan = false

            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源solr主键id
                grade: this.grade,          //评价分数
            };
            this.mainapi("addGrade", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    Toast.success('评价成功');
                    if(_this.resTypeCode == 102){
                        _this.getMicro()            //查看微课资源
                    }else if(_this.resTypeCode == 101){
                        _this.getTeacherLib()       //查看教学资源
                    }else if(_this.resTypeCode == 100){
                        if(_this.codeType == 'article'){         //文章
                            _this.getArticle()
                        }else if(_this.codeType == 'usertask'){  //作业
                            _this.getUsertask()
                        }else if(_this.codeType == 'activity'){  //活动
                            _this.getActivity()
                        }else if(_this.codeType == 'cooperate'){ //同伴写作
                            _this.getCooperate()
                        }else if(_this.codeType == 'communicate'){ //交流
                            _this.getCommunicate()
                        }
                    }
                }
            });
        },
        // 评价弹窗部分  已评价点击取消
        yesEvalTanClose(){
            this.yesEvalTan = false
        },
        // 点击评论
        commentList(){
            this.$router.push({
            　　path: '/commentList',
            　　query: {
                    solrId: this.solrId,
            　　}
            });
        },
        // 点击下载
        downLoadFile(fileUrl){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,
            }
            this.mainapi('addDownLoadCount',obj,function(res){
                if(res.data.status == "SUCCESS"){
                    window.location.href = fileUrl
                }
            })
        },
        // 点击去支付  获取用户订单(资源id,支付金额)
        goPay(money) {
            var payBackUrl = window.location.href; //当前地址
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,
            };
            this.mainapi("getOrderInfo", obj, function (res) {
                if (res.data.status == "SUCCESS") {
                    _this.orderId = res.data.c.orderId;
                    _this.$router.push({
                        path: "/payOrder",
                        query: {
                            orderId: _this.orderId,
                            money: money,
                            payBackUrl: payBackUrl,
                        },
                    });
                }
            });
        },

        // 点击进详情(资源id,工具类型,资源类型100研修资源 101教学资源 102微课资源)
        goSeeResourse(solrId,type,resTypeCode){
            // 工具类型
            // article 文章
            // usertask 作业
            // activity    活动
            // cooperate 同伴协作
            // communicate交流
            // mooc 磨课
            // userPreparation 备课
            if(type == 'mooc' || type == 'userPreparation'){
                return;
            }
            this.solrId = solrId;           //资源id
            this.comeWhat()
            // 防止用户刷新变成最原来数据start
            this.$router.push({
            　　path: '/seeResourse',
            　　query: {
                    resTypeCode: this.resTypeCode,       //资源类型
                    solrId: solrId,
                    codeType: type,         //工具类型
            　　}
            });
            this.$router.go(0)
            // 防止用户刷新变成最原来数据end
        },
        // 文章、交流工具 点击下载
        goDown(url){
            window.location.href = url;
        },
        // 点击资源互动
        goreInteraction(resourceId,projectId,ptCode){
            this.$router.push({
                path: 'reInteraction',
                query: {
                    resourceId: resourceId,
                    projectId: projectId,
                    ptCode: ptCode,
                    codeType: this.codeType,        // codeType工具类型  article文章  usertask作业  activity活动  cooperate同伴协作  communicate交流
                }
            })
        },
        // 点击作业要求
        gotaskAsk(resourceId,projectId,ptCode){
            this.$router.push({
                path: 'taskAsk',
                query: {
                    resourceId: resourceId,
                    projectId: projectId,
                    ptCode: ptCode,
                }
            })
        },
        // 点击教师评语
        goteaRemark(resourceId,projectId,ptCode){
            this.$router.push({
                path: 'teaRemark',
                query: {
                    resourceId: resourceId,
                    projectId: projectId,
                    ptCode: ptCode,
                }
            })
        },
        // 点击活动信息
        goactInfo(resourceId,projectId,ptCode){
            this.$router.push({
                path: 'actInfo',
                query: {
                    resourceId: resourceId,
                    projectId: projectId,
                    ptCode: ptCode,
                }
            })
        },
        // 点击协作信息
        gocoopInfo(resourceId,projectId,ptCode){
            this.$router.push({
                path: 'coopInfo',
                query: {
                    resourceId: resourceId,
                    projectId: projectId,
                    ptCode: ptCode,
                }
            })
        },
        // 点击活动步骤(tepToolType,步骤id)
        gostep(stepToolType,stepId,allData){
            // stepToolType 1讨论,2问答,3资源下载,4资源分享,5辩论,6视频,7观课,8指定提交人,9成果展示,10投票,11活动评价
            this.$router.push({
                path: 'step',
                query: {
                    stepId: stepId,                     //步骤id
                    resourceId: allData.resourceId,
                    projectId: allData.projectId,
                    ptCode: allData.ptCode,
                    stepToolType: stepToolType,         // stepToolType 1讨论,2问答,3资源下载,4资源分享,5辩论,6视频,7观课,8指定提交人,9成果展示,10投票,11活动评价
                    codeType: this.codeType,            // codeType工具类型  article文章  usertask作业  activity活动  cooperate同伴协作  communicate交流
                }
            })
        },
        // 点击主题(tepToolType,主题id)
        gotheme(stepToolType,titleId,allData){
            // stepToolType 1讨论,2问答,3资源下载,4资源分享,5辩论,6视频,7观课,8指定提交人,9成果展示,10投票,11活动评价
            this.$router.push({
                path: 'theme',
                query: {
                    titleId: titleId,                     //主题id
                    resourceId: allData.resourceId,
                    projectId: allData.projectId,
                    ptCode: allData.ptCode,
                    stepToolType: stepToolType,         // stepToolType 1讨论,2问答,3资源下载,4资源分享,5辩论,6视频,7观课,8指定提交人,9成果展示,10投票,11活动评价
                    codeType: this.codeType,            // codeType工具类型  article文章  usertask作业  activity活动  cooperate同伴协作  communicate交流
                }
            })
        },
        // 点击举报
        goReport() {
            this.$router.push({
                path: 'report',
                query: {
                    solrId: this.solrId,      //主题id
                    whatComeReport: 0,        //哪里来的举报 0资源举报  1资源评论_举报评论  2资源评论_举报回复
                }
            })
        },
    }
};
</script>

<style scoped>
    html,
    body {
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header img {
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap {
        width: 100%;
        height: auto;
    }
    .allWrap .seeResourse {
        width: 100%;
        height: auto;
    }
    .jxwk{
        width: 100%;
        height: auto;
    }
    .com_title1{
        font-family: PingFangSC-Medium;
        font-size: 0.36rem;
        color: rgba(0,0,0,0.85);
        margin-left: 0.3rem;
        padding: 0.24rem 0;
    }

    .ost{
        width: 100%;
        height: auto;
        position: relative;
    }
    .ost .oTitle{
        width: 6.9rem;
        height: auto;
        padding: 0 0.3rem;
        border-bottom: 1px solid #F2F2F2;
    }
    .ost .oTitle .p1{
        font-size: 0.3rem;
        color: #54544A;
        font-weight: bold;
        line-height: 0.9rem;
        float: left;
    }
    .ost .oTitle .p2{
        font-size: 0.24rem;
        color: #A3A3A3;
        line-height: 0.9rem;
        float: right;
    }
    .ost .oTitle .p2 img{
        width: 0.24rem;
        height: 0.2rem;
        margin-top: 0.37rem;
        margin-right: 0.05rem;
        float: left;
    }
    .ost .ostlWrap {
        width: 100%;
        height: auto;
    }
    .ost .ostlWrap .ostList{
        width: 6.5rem;
        height: auto;
        padding: 0 0.5rem;
        margin-top: 0.3rem;
    }
    .ost .ostlWrap .ostList .imgLeft{
        width: 0.28rem;
        height: 0.28rem;
        margin-top: 0.06rem;
        float: left;
    }
    .ost .ostlWrap .ostList .name{
        width: 5.9rem;
        height: auto;
        margin-left: 0.1rem;
        float: left;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /* 微课资源底部导航 */
    .wkFooter{
        width: 100%;
        height: 1rem;
        border-top: 1px solid #F2F2F2;
        position: fixed;
        left: 0;
        bottom: 0;
        background: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .wkFooter .list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .wkFooter .list:nth-of-type(4){
        /* width: 25%;
        height: 100%;
        line-height: 1rem;
        background: #42A8FF;
        border-radius: 0.03rem;
        color: #FFFFFF;
        text-align: center; */
    }
    .wkFooter .list .img1{
        width: 0.32rem;
        height: 0.3rem;
        margin-right: 0.15rem;
    }
    .wkFooter .list .p1{
        font-size: 0.28rem;
        color: #6D7278;
    }

</style>
