<template>
    <div class="allWrap">
        <Header :title=allData.title></Header>
        <div class="jxwk taskAsk">
            <div class="taskTop pb30">
                <div class="taskTopP1 pt30 f40">步骤名称：{{allData.title}}</div>
                <div class="taskTopP2 pt20">步骤时间：{{getTenTime(allData.startTime)}} ~ {{getTenTime(allData.endTime)}}</div>
                <div class="taskTopP2 pt20">工具类型：{{allData.toolTitle}}</div>
            </div>
            <div class="jianju"></div>
            <div class="clear seeDetail" @click="goaskExplain()">
                <p class="p1">步骤描述</p>
                <p class="p2">查看详情 ></p>
            </div>
            <!-- 上方不同步骤操作 -->
            <div>
                <!-- 步骤二资源下载/成果展示 -->
                <div v-if="stepToolType == 3 || stepToolType == 9">
                    <!-- 附件下载查看循环 -->
                    <div class="fileListWrap" v-if="allData && allData.docs && allData.docs.length">
                        <div class="list js-list" :key="index" v-for="(item,index) in allData.docs">
                            <img class="img1" :src="item.picSuffix">
                            <div class="info">
                                <p class="p1">{{item.name}}</p>
                                <!-- <p class="p2">188K</p> -->
                            </div>
                            <p class="down js-godown" @click.stop="goDown(item.url)">点击下载</p>
                            <!-- <p class="down js-paydown">付费下载</p> -->
                        </div>
                    </div>
                </div>
                
                <!-- 步骤四视频/观课 -->
                <div v-if="stepToolType == 6 || stepToolType == 7">
                    <div class="clear seeDetail">
                        <p class="p1">视频</p>
                    </div>
                    <div class="videoWrap" style="width:6.9rem;margin:0 auto;">
                        <!-- 内容已通过js插入 -->
                        <iframe v-if="allData.videos" id="vIframe" ref="vdIframe" name="vdIframe" :style="{width:'100%',height:(490*allData.videos.length)+'px'}" src="static/videoArr.html" frameborder="0"></iframe>
                    </div>
                </div>

                <!-- 步骤五辩论正方反方 -->
                <div v-if="stepToolType == 5">
                    <div :class="propp==1?'squareCon':'squareCon fan'">
                        <div class="sqBox" @click="proppTab('1')">
                            <p class="debater">正方</p>
                            <p class="num">{{allData.zfNum}}</p>
                        </div>
                        <div class="sqBox" @click="proppTab('2')">
                            <p class="debater">反方</p>
                            <p class="num">{{allData.ffNum}}</p>
                        </div>
                    </div>
                    <p class="blContWords pt20 pb20" v-html="allData.content"></p>
                </div>

            </div>
            <!-- 下方内容 -->
            <div>
                <!-- 
                    步骤一  讨论/问答
                    步骤二  资源下载/成果展示
                    步骤四  视频/观课
                    步骤五  辩论
                -->
                <div class="reInteraction" v-if="stepToolType == 1 || stepToolType == 2 || stepToolType == 3 || stepToolType == 9 || stepToolType == 6 || stepToolType == 7 || stepToolType == 5">
                    <div class="greyBox clear">
                        <p class="p1 fl">{{allData2.totalCount}}条评论/提问</p>
                    </div>
                    <div class="zyhuListWrap">
                        <div class="list clear" :key="index" v-for="(item,index) in allData2.list" @click="godiscussDetail(item.id)">
                            <img class="txLeft" :src="item.picUrl" alt="">
                            <div class="rCont">
                                <p class="name">{{item.realName}}</p>
                                <p class="rFontWords" v-html="item.content"></p>
                                <p class="time">{{item.createTime}}  · {{item.replayNum}}条回复</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 
                    步骤三
                    资源分享/指定提交人 
                -->
                <div class="reInteraction" v-if="stepToolType == 4 || stepToolType == 8">
                    <div class="greyBox clear">
                        <p class="p1 fl">{{allData2.totalCount}}条评论/提问</p>
                    </div>
                    <div class="zyhuListWrap">
                        <div class="list clear" :key="index" v-for="(item,index) in allData2.list" @click="godiscussDetail(item.id)">
                            <div class="clear">
                                <img class="txLeft" :src="item.picUrl" alt="">
                                <div class="rCont">
                                    <p class="name">{{item.realName}}</p>
                                    <p class="time pt0">{{item.createTime}}  · {{item.replayNum}}条回复</p>
                                </div>
                            </div>
                            <!-- 附件下载查看循环2 -->
                            <div class="fileListWrap pb0" v-if="item.docUrl">
                                <div class="list js-list clear" style="width: 6.3rem;margin: 0;padding: 0.3rem;border: 1px solid #F1F1F1;">
                                    <img class="img1" :src="item.picSuffix">
                                    <div class="info">
                                        <p class="p1">{{item.content}}</p>
                                        <!-- <p class="p2">188K</p> -->
                                    </div>
                                    <p class="down js-godown" @click.stop="goDown(item.docUrl)">点击下载</p>
                                    <!-- <p class="down js-paydown">付费下载</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 步骤六投票 -->
                <div v-if="stepToolType == 10">
                    <div class="jianju"></div>
                    <div class="clear seeDetail">
                        <p class="p1">投票主题</p>
                    </div>
                    <p class="blContWords pt20 pb20" v-html="allData.content"></p>
                    <!-- 活动步骤 -->
                    <div class="actListWrap pt20 pb30">
                        <div class="actList clear" :key="index" v-for="(item,index) in allData.optionList">
                            <p class="p1 fl wauto">{{item.context}}</p>
                            <p class="p1 fr orange mr15"> {{item.selectNum}}票</p>
                            <div>
                                <p class="p2 fr" v-if="allData.stepStatus == -1">未开始 ></p>
                                <!-- <p class="p2 fr">进行中 ></p> -->
                                <p class="p2 fr" v-if="allData.stepStatus == 1">已结束 ></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            resourceId: this.$route.query.resourceId,        
            projectId: this.$route.query.projectId,          
            ptCode: this.$route.query.ptCode,           
            stepId: this.$route.query.stepId,               //步骤id 
            stepToolType: this.$route.query.stepToolType,   // stepToolType 1讨论,2问答,3资源下载,4资源分享,5辩论,6视频,7观课,8指定提交人,9成果展示,10投票,11活动评价        
            codeType: this.$route.query.codeType,           // codeType工具类型  article文章  usertask作业  activity活动  cooperate同伴协作  communicate交流
            titleId: this.$route.query.titleId,           // 主题id 研修→同伴协作→主题独有
        
            curPage: 1,           
            pageSize: 20,           
            allData: '',            //查看详情数据	
            allData2: '',            //查看详情数据	
	    propp:'1', // 1正  2反方观点
            titleType: '',          // 1作业工具→作业要求→要求说明   2活动工具→活动信息   3同伴协作→协作信息→协作内容   4.活动→步骤一→步骤描述   5同伴协作→主题→主题描述  6同伴协作→主题→步骤一→步骤描述
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.comeWhat()
    },
    methods:{
        // 正反切换
        proppTab (propp) {
            this.propp = propp
            this.comeWhat();
        },
        // 从哪里来
        comeWhat(){
            // codeType工具类型  article文章  usertask作业  activity活动  cooperate同伴协作  communicate交流
            if(this.codeType == 'activity'){
                this.getActivityStep();       //查看活动步骤
                this.getActivityComments();   //查看活动评论
                this.titleType = 4            // 1作业工具→作业要求→要求说明   2活动工具→活动信息   3同伴协作→协作信息→协作内容   4.活动→步骤一→步骤描述   5同伴协作→主题→主题描述  6同伴协作→主题→步骤一→步骤描述
            }else if(this.codeType == 'cooperate'){
                this.getCooperateStep();      //获取同伴协作主题下的步骤
                this.getCooperateComments();  //同伴协作获取评论信息
                this.titleType = 6
            }
        },
        // 查看活动步骤
        getActivityStep(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                stepId: this.stepId,                //步骤id
            };
            this.mainapi("getActivityStep", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                    console.log('_this.allData----',_this.allData);
                    if(_this.stepToolType == 6 || _this.stepToolType == 7){
                        // 导入视频
                        // $('.videoWrap').html('')
                        _this.$nextTick(() => {
                            // var videoStr = res.data.c.videos[0].playCode
                            var videoStr = res.data.c.videos
                            // $('.videoWrap').append(videoStr)
                            _this.sendMessage(videoStr)
                        })
                    }
                }
            });
        },
        // 查看活动评论
        getActivityComments(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                stepId: this.stepId,                //步骤id
                stepToolType: this.stepToolType,

                commentId: '',
                curPage: this.curPage,
                pageSize: this.pageSize,
                propp: _this.propp,  
            };
            this.mainapi("getActivityComments", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData2 = res.data.c
                }
            });
        },
        // 点击步骤描述
        goaskExplain(){
            this.$router.push({
                path: 'askExplain',
                query: {
                    resourceId: this.resourceId,
                    projectId: this.projectId,
                    ptCode: this.ptCode,
                    stepId: this.stepId,
                    titleType: this.titleType,           // 1作业工具→作业要求→要求说明   2活动工具→活动信息   3同伴协作→协作信息→协作内容   4.活动→步骤一→步骤描述   5同伴协作→主题→主题描述  6同伴协作→主题→步骤一→步骤描述 
                }
            })
        },
        // 点击进入详情
        godiscussDetail(commentId){
            this.$router.push({
                path: 'discussDetail',
                query: {
                    resourceId: this.resourceId,
                    projectId: this.projectId,
                    ptCode: this.ptCode,
                    commentId: commentId,
                    codeType: this.codeType,
                    stepToolType: this.stepToolType,// stepToolType 1讨论,2问答,3资源下载,4资源分享,5辩论,6视频,7观课,8指定提交人,9成果展示,10投票,11活动评价        
                    stepId: this.stepId,            //步骤id  
                }
            })
        },
        // 文章、交流工具 点击下载
        goDown(url){
            window.location.href = url;
        },
        // 时间取前10位
        getTenTime(time){
            return String(time).substring(0,10)
        },

        // 获取同伴协作主题下的步骤
        getCooperateStep(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                stepId: this.stepId,                //步骤id
                titleId: this.titleId,              //主题id
            };
            this.mainapi("getCooperateStep", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 同伴协作获取评论信息
        getCooperateComments(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                stepId: this.stepId,                //步骤id
                stepToolType: this.stepToolType,

                commentId: '',
                curPage: this.curPage,
                pageSize: this.pageSize,
                propp: _this.propp,  
                titleId: this.titleId,              //主题id
            };
            this.mainapi("getCooperateComments", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData2 = res.data.c
                }
            });
        },
        // iframe传值
        sendMessage (data) {
            
            const mapFrame = this.$refs['vdIframe']
            if (mapFrame.attachEvent) { // 兼容浏览器判断
                mapFrame.attachEvent('onload', function() {
                    const iframeWin = mapFrame.contentWindow
                    iframeWin.postMessage(data, '*')
                    // data传递的参数   *写成子页面的域名或者是ip
                })
            } else {
                mapFrame.onload = function() {
                    const iframeWin = mapFrame.contentWindow
                    iframeWin.postMessage(data, '*')
                }
            }
            
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #fff;
        overflow: auto;
    }
    .allWrap .taskAsk{
        width: 100%;
        height: auto;
    }
</style>