<template>
    <div class="allWrap">
        <Header title='作业要求'></Header>
        <div class="jxwk taskAsk">
            <div class="taskTop">
                <div class="taskTopP1 pt30">资源分类</div>
                <div class="taskTopP2 pt20">{{allData.classifyMes}}</div>
                <div class="taskTopP1 pt20">作业周期：
                    <span class="taskTopP2">{{getTenTime(allData.startTime)}} ~ {{getTenTime(allData.endTime)}}</span>
                </div>
                <div class="taskTopP1 pt20 pb40">发布者：
                    <span class="taskTopP2">{{allData.realName}}</span>
                </div>
            </div>
            <div class="clear seeDetail mt20" @click="goaskExplain()">
                <p class="p1">要求说明</p>
                <p class="p2">查看详情 ></p>
            </div>
            <div class="listWrap">
                <div class="list">
                    <div class="imgWrap">
                        <div>
                            <video :src="allData.videoPic"></video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jianju"></div>
            <!-- 附件下载查看循环 -->
            <div class="fileListWrap" v-if="allData && allData.docs && allData.docs.length">
                <div class="list js-list" :key="index" v-for="(item,index) in allData.docs">
                    <img class="img1" :src="item.picSuffix">
                    <div class="info">
                        <p class="p1">{{item.name}}</p>
                        <!-- <p class="p2">188K</p> -->
                    </div>
                    <p class="down js-godown" @click.stop="goDown(item.url)">点击下载</p>
                    <!-- <p class="down js-paydown">付费下载</p> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            resourceId: this.$route.query.resourceId,        
            projectId: this.$route.query.projectId,          
            ptCode: this.$route.query.ptCode,           
            allData: '',            //查看详情数据	
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getTaskRequirement();       //作业要求
    },
    methods:{
        // 作业要求
        getTaskRequirement(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
            };
            this.mainapi("getTaskRequirement", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 文章、交流工具 点击下载
        goDown(url){
            window.location.href = url;
        },
        // 点击要求说明
        goaskExplain(){
            this.$router.push({
                path: 'askExplain',
                query: {
                    resourceId: this.resourceId,
                    projectId: this.projectId,
                    ptCode: this.ptCode,
                    titleType: 1,           // 1作业工具→作业要求→要求说明   2活动工具→活动信息   3同伴协作→协作信息→协作内容   4.活动→步骤一→步骤描述   5同伴协作→主题→主题描述  6同伴协作→主题→步骤一→步骤描述
                }
            })
        },
        // 时间取前10位
        getTenTime(time){
            return String(time).substring(0,10)
        }
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #F2F2F2;
        overflow: auto;
    }
    .allWrap .taskAsk{
        width: 100%;
        height: auto;
    }
</style>