<template>
    <div class="allWrap">
        <Header title='教师评语'></Header>
        <div class="jxwk taskAsk">
            <div class="taskTop">
                <div class="taskTopP1 pt30">教师评语</div>
                <div class="taskTopP2 pt20">
                    <div v-html="allData.evaluation"></div>
                </div>
                <div class="taskTopP1 pt20 pb40">评语时间：
                    <span class="taskTopP2">{{allData.evaluationTime}}</span>
                </div>
                <div class="taskTopP1 pt20 pb40">作业成绩：
                    <span class="taskTopP2" style="color:#FA6400;">{{allData.grade}}</span>
                </div>
            </div>
            <div class="jianju"></div>
            <!-- 附件下载查看循环 -->
            <div class="fileListWrap" v-if="allData && allData.docs && allData.docs.length">
                <div class="list js-list" :key="index" v-for="(item,index) in allData.docs">
                    <img class="img1" :src="item.picSuffix">
                    <div class="info">
                        <p class="p1">{{item.name}}</p>
                        <!-- <p class="p2">188K</p> -->
                    </div>
                    <p class="down js-godown" @click.stop="goDown(item.url)">点击下载</p>
                    <!-- <p class="down js-paydown">付费下载</p> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            resourceId: this.$route.query.resourceId,        
            projectId: this.$route.query.projectId,          
            ptCode: this.$route.query.ptCode,           
            allData: '',            //查看详情数据	
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getTaskEvaluation();       //作业教师评语
    },
    methods:{
        // 作业教师评语
        getTaskEvaluation(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
            };
            this.mainapi("getTaskEvaluation", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 文章、交流工具 点击下载
        goDown(url){
            window.location.href = url;
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: auto;
    }
    .allWrap .taskAsk{
        width: 100%;
        height: auto;
    }
</style>