<template>
    <div class="allWrap">
        <Header title='主题一'></Header>
        <div class="jxwk taskAsk">
            <div class="listWrap pb20">
                <div class="list">
                    <div class="className" style="" v-html="allData.content"></div>
                    <div class="clear">
                        <p class="shareName fl">主题周期：{{getTenTime(allData.startTime)}} ~ {{getTenTime(allData.endTime)}}</p>
                    </div>
                    <div class="clear">
                        <p class="shareName fl" v-if="allData.stepStatus == -1">主题状态：未开始</p>
                        <p class="shareName fl" v-if="allData.stepStatus == 0">主题状态：进行中</p>
                        <p class="shareName fl" v-if="allData.stepStatus == 1">主题状态：已结束</p>
                    </div>
                </div>
            </div>
            <div class="jianju"></div>
            <div class="clear seeDetail" @click="goaskExplain()">
                <p class="p1">主题描述</p>
                <p class="p2">查看详情 ></p>
            </div>
            <div class="jianju"></div>
            <!-- 主题列表 -->
            <div class="actListWrap pt20 pb30">
                <div class="actList clear" :key="index" v-for="(item,index) in allData.stepList" @click="gostep(item.stepToolType,item.id,allData)">
                    <p class="p1 fl">{{index+1}} {{item.name}}</p>
                    <div>
                        <p class="p2 fr" v-if="item.extInfo.stepStatus == -1">未开始 ></p>
                        <p class="p2 fr" v-if="item.extInfo.stepStatus == 0">进行中 ></p>
                        <p class="p2 fr" v-if="item.extInfo.stepStatus == 1">已结束 ></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            resourceId: this.$route.query.resourceId,        
            projectId: this.$route.query.projectId,          
            ptCode: this.$route.query.ptCode,           
            titleId: this.$route.query.titleId,         //主题id
            codeType: this.$route.query.codeType,       //codeType工具类型  article文章  usertask作业  activity活动  cooperate同伴协作  communicate交流
                   
            allData: '',            //查看详情数据	
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getCooperateTitle();       //查看同伴协作主题
    },
    methods:{

        // 点击活动步骤(tepToolType,步骤id)
        gostep(stepToolType,stepId,allData){
            console.log(stepToolType,stepId)
            // stepToolType 1讨论,2问答,3资源下载,4资源分享,5辩论,6视频,7观课,8指定提交人,9成果展示,10投票,11活动评价
            this.$router.push({
                path: 'step',
                query: {
                    stepId: stepId,                     //步骤id
                    resourceId: allData.resourceId,
                    projectId: allData.projectId,
                    ptCode: allData.ptCode,
                    stepToolType: stepToolType,         // stepToolType 1讨论,2问答,3资源下载,4资源分享,5辩论,6视频,7观课,8指定提交人,9成果展示,10投票,11活动评价
                    codeType: this.codeType,            // codeType工具类型  article文章  usertask作业  activity活动  cooperate同伴协作  communicate交流
                    titleId: this.titleId,              //主题id
                }
            })
        },
        // 查看同伴协作主题
        getCooperateTitle(){
            var _this = this;
            var obj = {
                userId: this.userId,
                resourceId: this.resourceId,       
                projectId: this.projectId,        
                ptCode: this.ptCode,        
                titleId: this.titleId,      //主题id     
            };
            this.mainapi("getCooperateTitle", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 文章、交流工具 点击下载
        goDown(url){
            window.location.href = url;
        },
        // 点击主题描述
        goaskExplain(){
            this.$router.push({
                path: 'askExplain',
                query: {
                    resourceId: this.resourceId,
                    projectId: this.projectId,
                    ptCode: this.ptCode,
                    titleType: 5,           // 1作业工具→作业要求→要求说明   2活动工具→活动信息   3同伴协作→协作信息→协作内容   4.活动→步骤一→步骤描述   5同伴协作→主题→主题描述  6同伴协作→主题→步骤一→步骤描述
                    titleId: this.titleId,
                }
            })
        },
        // 时间取前10位
        getTenTime(time){
            return String(time).substring(0,10)
        }
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #fff;
        overflow: auto;
    }
    .allWrap .taskAsk{
        width: 100%;
        height: auto;
    }
</style>