<template>
  <div class="allWrap">
    <Header :title="headerTitle" rightText="上传资源" @operation="operation()"></Header>
    <div class="reource">
      <div class="comTop">
        <router-link to="commonSearch" class="searchWrap" tag="div">
          <img src="../../assets/images/searchImg.png" alt />
          <p>搜索资源</p>
        </router-link>
      </div>
      <!-- <search></search> -->
      <van-dropdown-menu active-color="#55ABEB" class="pb20">
        <!-- <van-dropdown-item v-model="value1" :options="option1" /> -->
        <!-- 学段学科 -->
        <van-dropdown-item :title="navTitle1" ref="item1">
          <van-tree-select
            height="55vw"
            :items="periodOne.items"
            :main-active-index.sync="periodOne.active"
            @click-nav="clickPeriodOne"
          >
            <template #content>
              <van-tree-select
                height="55vw"
                :items="periodTwo.items"
                :main-active-index.sync="periodTwo.active"
                @click-nav="clickPeriodTwo"
              ></van-tree-select>
            </template>
          </van-tree-select>
          <!-- 按钮 -->
          <div class="classifyBtnWrap">
            <div class="btn" @click="clearPeriod">清空筛选</div>
            <div class="btn submit" @click="submitPeriod">确定</div>
          </div>
        </van-dropdown-item>
        <!-- 教材/知识点 -->
        <van-dropdown-item :title="navTitle2" ref="item2">
          <van-tree-select
            height="55vw"
            :items="abilityOne.items"
            :main-active-index.sync="abilityOne.active"
            @click-nav="clickAbilityOne"
          >
            <template #content>
              <van-tree-select
                height="55vw"
                :items="abilityTwo.items"
                :main-active-index.sync="abilityTwo.active"
                @click-nav="clickAbilityTwo"
              >
                <template #content>
                  <van-tree-select
                    height="55vw"
                    :items="abilityThree.items"
                    :main-active-index.sync="abilityThree.active"
                    @click-nav="clickAbilityThree"
                  ></van-tree-select>
                </template>
              </van-tree-select>
            </template>
          </van-tree-select>
          <!-- 按钮 -->
          <div class="classifyBtnWrap">
            <div class="btn" @click="clearAbility">清空筛选</div>
            <div class="btn submit" @click="submitAbility">确定</div>
          </div>
        </van-dropdown-item>
        <!-- 分类 -->
        <van-dropdown-item :title="navTitle3" ref="item3">
          <div class="classifyList">
            <div class="classifyTitle">{{classifyOne.title}}</div>
            <ul>
              <li
                v-for="(item,index) in classifyOne.list"
                :key="index"
                :class="index==selectClassifyOneIndex?'active':''"
                @click="selectClassifyOne(index)"
              >{{item.dictName}}</li>
            </ul>
          </div>
          <div class="classifyList">
            <div class="classifyTitle">{{classifyTwo.title}}</div>
            <ul>
              <li
                v-for="(item,index) in classifyTwo.list"
                :key="index"
                :class="index==selectClassifyTwoIndex?'active':''"
                @click="selectClassifyTwo(index)"
              >{{item.dictName}}</li>
            </ul>
          </div>
          <!-- 按钮 -->
          <div class="classifyBtnWrap">
            <div class="btn" @click="clearClassify">清空筛选</div>
            <div class="btn submit" @click="submitClassify">确定</div>
          </div>
        </van-dropdown-item>
        <!-- 排序 -->
        <van-dropdown-item :title="navTitle4" ref="item4">
          <van-tree-select
            height="90vw"
            :items="sortAll.items"
            :main-active-index.sync="sortAll.active"
            @click-nav="clickSortAll"
          ></van-tree-select>
        </van-dropdown-item>
      </van-dropdown-menu>

      <!-- 无数据 -->
      <div v-if="allData && allData.totalCount == 0">
        <div class="noData">
          <img src="../../assets/images/noData.png" alt />
          <p class="p1">没有找到相关数据</p>
        </div>
      </div>
      <!-- 微课资源 -->
      <van-list
        class="listWrap"
        v-if="resTypeCode == 102"
        v-model="loading"
        :finished="finished"
        finished-text="没有更多了"
        @load="loadMore"
      >
        <router-link
          :to="'seeResourse?resTypeCode=' + resTypeCode + '&solrId=' + item.id"
          class="list clear"
          tag="div"
          :key="index"
          v-for="(item,index) in allData.documentList"
        >
          <div class="lLeft">
            <img class="img1" :src="item.videoPic" alt />
            <p class="state pay" v-if="item.isPublic == 3">付费</p>
            <p class="state free" v-if="item.isPublic == 0">免费</p>
          </div>
          <div class="rRight">
            <p class="className">{{item.toolTitle}}</p>
            <p class="shareName">发布者：{{item.sharer}} {{item.view_count}}人观看</p>
            <div class="clear">
              <div class="starWrap">
                <van-rate
                  v-model="item.grade"
                  :size="16"
                  icon="star"
                  void-icon="star-o"
                  color="#ffd21e"
                />
              </div>
              <p class="scoreNum">{{item.grade}}分 {{item.comment_count}}条评价</p>
            </div>
          </div>
        </router-link>
      </van-list>
      <!-- 教学资源/研修资源  -->
      <van-list
        class="listWrap teaResou"
        v-if="resTypeCode == 101 || resTypeCode == 100"
        v-model="loading"
        :finished="finished"
        finished-text="没有更多了"
        @load="loadMore"
      >
        <div
          class="list clear"
          @click="goSeeResourse(item.id,item.type)"
          :key="index"
          v-for="(item,index) in allData.documentList"
        >
          <div class="lLeft">
            <img class="img1" :src="item.picSuffix" alt />
            <p class="state pay" v-if="item.isPublic == 3">付费</p>
            <p class="state free" v-if="item.isPublic == 0">免费</p>
          </div>
          <div class="rRight">
            <p class="className">{{item.toolTitle}}</p>
            <p class="shareName">分享人：{{item.sharer}}</p>
            <p
              class="shareName"
            >{{item.view_coun}}人浏览 • {{item.collectCount}}人收藏 • {{item.downLoadCount}}人下载</p>
            <div class="clear">
              <div class="starWrap">
                <van-rate
                  v-model="item.grade"
                  :size="16"
                  icon="star"
                  void-icon="star-o"
                  color="#ffd21e"
                />
              </div>
              <p class="scoreNum">{{item.grade}}分 {{item.comment_count}}条评价</p>
            </div>
          </div>
        </div>
      </van-list>
    </div>
  </div>
</template>

<script>
import Header from "../common/header";
import Footer from "../common/footer";
// import search from "../common/search";
import axios from "axios";

export default {
  data() {
    return {
      // navTitle1:localStorage.getItem("cUserInfo")?JSON.parse(localStorage.getItem("cUserInfo")).specialName?JSON.parse(localStorage.getItem("cUserInfo")).specialName:JSON.parse(localStorage.getItem("cUserInfo")).scStageName?JSON.parse(localStorage.getItem("cUserInfo")).scStageName:'学段学科':'学段学科', // 回显 nav Title
      navTitle1: "学段学科", // 回显 nav Title
      navTitle2: "教材/知识点",
      navTitle3: "分类",
      navTitle4: "排序",
      obj: {
        isSelect: true, //header页面  select类名
        isImg1: true, //header页面  img路径
      },
      userId: localStorage.getItem("user")
        ? JSON.parse(localStorage.getItem("user")).userId
        : "",
      resTypeCode: this.$route.query.resTypeCode,
      headerTitle: "",
      pageSize: 20,
      curPage: 0,
      sortField: "4", //排序字段1评分2浏览量3收藏量4分享时间5下载量6综合排序7资源价格8未审核举报数9举报总数数10购买量
      sortType: "1", //排序类型 1降序2升序
      searchContent: "", //匹配内容
      // stageId: JSON.parse(localStorage.getItem("cUserInfo"))?JSON.parse(localStorage.getItem("cUserInfo")).scStage!=-1?JSON.parse(localStorage.getItem("cUserInfo")).scStage:'' :'',        //学段id
      stageId: "", //学段id
      // subjectId: JSON.parse(localStorage.getItem("cUserInfo"))?JSON.parse(localStorage.getItem("cUserInfo")).special!=-1?JSON.parse(localStorage.getItem("cUserInfo")).special:'' :'',      //学科id
      subjectId: "", //学科id
      versionId1: "", //教材第1级
      versionId2: "", //教材第2级
      versionId3: "", //教材第3级
      versionId4: "", //教材第4级
      versionId5: "", //教材第5级
      knowledgeId1: "", //知识点第1级
      knowledgeId2: "", //知识点第2级
      knowledgeId3: "", //知识点第3级
      resourceTypeId1: "", //分类
      resourceTypeId2: "", //资源

      allData: {
        documentList: [],
        totalCount: 0,
      },
      periodAll: {},

      // 学段学科
      periodOne: {
        active: 0,
        items: [],
      },
      periodTwo: {
        active: 0,
        items: [],
      },
      clickTwo: -1,
      //教材/知识点
      abilityOne: {
        active: 0,
        items: [{ text: "全部" }, { text: "教材" }, { text: "知识点" }],
      },
      abilityTwo: {
        active: 0,
        items: [],
      },
      abilityThree: {
        active: 0,
        items: [],
      },
      sortAll: {
        active: 0,
        //排序字段1评分2浏览量3收藏量4分享时间5下载量6综合排序7资源价格8未审核举报数9举报总数数10购买量
        items: [],
      },
      // 分类
      classifyOne: {
        title: "",
        list: [],
      },
      selectClassifyOneIndex: 0,
      classifyTwo: {
        title: "",
        list: [],
      },
      selectClassifyTwoIndex: 0,
      finished: false,
      loading: false,
    };
  },
  components: {
    Header,
    Footer,
    // search
  },
  mounted() {
    if (this.resTypeCode == 102) {
      this.headerTitle = "微课资源";
      this.sortAll.items = [
        { text: "综合排序", id: "6" },
        { text: "发布时间排序", id: "4" },
        { text: "资源评分排序", id: "1" },
        { text: "浏览量排序", id: "2" },
        { text: "购买量排序", id: "10" },
        { text: "免费资源" },
      ];
    } else if (this.resTypeCode == 101) {
      this.headerTitle = "教学资源";
      this.sortAll.items = [
        { text: "综合排序", id: "6" },
        { text: "发布时间排序", id: "4" },
        { text: "资源评分排序", id: "1" },
        { text: "浏览量排序", id: "2" },
        { text: "购买量排序", id: "10" },
        { text: "下载量排序", id: "5" },
        { text: "免费资源" },
      ];
    } else if (this.resTypeCode == 100) {
      this.headerTitle = "研修资源";
      this.sortAll.items = [
        { text: "综合排序", id: "6" },
        { text: "发布时间排序", id: "4" },
        { text: "资源评分排序", id: "1" },
        { text: "浏览量排序", id: "2" },
        { text: "购买量排序", id: "10" },
        { text: "免费资源" },
      ];
    }

    // this.comeWhat()     //从哪里来
    this.getSolrDictList(0, 1); // 获取学段
    this.getClassify(); // 分类
  },
  methods: {
    loadMore() {
      this.loading = true;
      this.curPage = this.curPage + 1; //当前页

      if (this.resTypeCode == 102) {
        var _this = this;
        var obj = {
          userId: this.userId,
          curPage: this.curPage,
          pageSize: this.pageSize,
          sortField: this.sortField, //排序字段1评分2浏览量3收藏量4分享时间5下载量6综合排序7资源价格8未审核举报数9举报总数数10购买量
          sortType: this.sortType, //排序类型 1降序2升序
          searchContent: this.searchContent, //匹配内容
          stageId: this.stageId, //学段id
          subjectId: this.subjectId, //学科id
          versionId1: this.versionId1, //教材第1级
          versionId2: this.versionId2, //教材第2级
          versionId3: this.versionId3, //教材第3级
          versionId4: this.versionId4, //教材第4级
          versionId5: this.versionId5, //教材第5级
          knowledgeId1: this.knowledgeId1, //知识点第1级
          knowledgeId2: this.knowledgeId2, //知识点第2级
          knowledgeId3: this.knowledgeId3, //知识点第3级
          resourceTypeId1: this.resourceTypeId1, //分类
          resourceTypeId2: this.resourceTypeId2, //资源
        };
        this.mainapi("getResMicro", obj, function (res) {
          if (res.data.status == "SUCCESS") {
            _this.allData.documentList = [
              ..._this.allData.documentList,
              ...res.data.c.documentList,
            ];
            _this.allData.totalCount = res.data.c.totalCount;
            // 加载状态结束
            _this.loading = false;
            // 数据全部加载完成
            if (_this.allData.documentList.length >= _this.allData.totalCount) {
              _this.finished = true;
            }
          }
        });
      } else if (this.resTypeCode == 101) {
        var _this = this;
        var obj = {
          userId: this.userId,
          curPage: this.curPage,
          pageSize: this.pageSize,
          sortField: this.sortField, //排序字段1评分2浏览量3收藏量4分享时间5下载量6综合排序7资源价格8未审核举报数9举报总数数10购买量
          sortType: this.sortType, //排序类型 1降序2升序
          searchContent: this.searchContent, //匹配内容
          stageId: this.stageId, //学段id
          subjectId: this.subjectId, //学科id
          versionId1: this.versionId1, //教材第1级
          versionId2: this.versionId2, //教材第2级
          versionId3: this.versionId3, //教材第3级
          versionId4: this.versionId4, //教材第4级
          versionId5: this.versionId5, //教材第5级
          knowledgeId1: this.knowledgeId1, //知识点第1级
          knowledgeId2: this.knowledgeId2, //知识点第2级
          knowledgeId3: this.knowledgeId3, //知识点第3级
          resourceTypeId1: this.resourceTypeId1, //分类
          resourceTypeId2: this.resourceTypeId2, //资源
        };
        this.mainapi("getTeacherRes", obj, function (res) {
          if (res.data.status == "SUCCESS") {
            _this.allData.documentList = [
              ..._this.allData.documentList,
              ...res.data.c.documentList,
            ];
            _this.allData.totalCount = res.data.c.totalCount;
            // 加载状态结束
            _this.loading = false;
            // 数据全部加载完成
            if (_this.allData.documentList.length >= _this.allData.totalCount) {
              _this.finished = true;
            }
          }
        });
      } else if (this.resTypeCode == 100) {
        var _this = this;
        var obj = {
          userId: this.userId,
          curPage: this.curPage,
          pageSize: this.pageSize,
          sortField: this.sortField, //排序字段1评分2浏览量3收藏量4分享时间5下载量6综合排序7资源价格8未审核举报数9举报总数数10购买量
          sortType: this.sortType, //排序类型 1降序2升序
          searchContent: this.searchContent, //匹配内容
          stageId: this.stageId, //学段id
          subjectId: this.subjectId, //学科id
          versionId1: this.versionId1, //教材第1级
          versionId2: this.versionId2, //教材第2级
          versionId3: this.versionId3, //教材第3级
          versionId4: this.versionId4, //教材第4级
          versionId5: this.versionId5, //教材第5级
          knowledgeId1: this.knowledgeId1, //知识点第1级
          knowledgeId2: this.knowledgeId2, //知识点第2级
          knowledgeId3: this.knowledgeId3, //知识点第3级
          resourceTypeId1: this.resourceTypeId1, //分类
          resourceTypeId2: this.resourceTypeId2, //资源
          // isTestPro: 1,      //测试数据 比cs环境还低  测试用(cs环境需删除)
          // searchContent: '聂思源*', //测试数据
        };
        this.mainapi("getResTraining", obj, function (res) {
          if (res.data.status == "SUCCESS") {
            _this.allData.documentList = [
              ..._this.allData.documentList,
              ...res.data.c.documentList,
            ];
            _this.allData.totalCount = res.data.c.totalCount;
            // 加载状态结束
            _this.loading = false;
            // 数据全部加载完成
            if (_this.allData.documentList.length >= _this.allData.totalCount) {
              _this.finished = true;
            }
          }
        });
      }
      // this.comeWhat()
    },
    clickPeriodOne(e) {
      this.clickTwo = -1;
      this.periodOne.active = e;
      this.periodTwo.active = 0;
      if (this.periodOne.active == 0) {
        this.periodTwo.items = [];
        this.stageId = "";
        this.subjectId = "";
        this.navTitle2 = "学段学科";
      } else {
        this.stageId = this.periodOne.items[this.periodOne.active].id;
        this.getSolrDictList(this.stageId, 2); // 获取学科
      }
    },
    clickPeriodTwo(e) {
      this.clickTwo = 1;
      this.periodTwo.active = e;
      this.subjectId = this.periodTwo.items[this.periodTwo.active]
        ? this.periodTwo.items[this.periodTwo.active].id
        : "";
      // this.navTitle1 = this.periodTwo.items[this.periodTwo.active]?this.periodTwo.items[this.periodTwo.active].text:''
    },
    // 搜索左侧点击
    clickAbilityOne(e) {
      console.log("搜索左侧点击-----", e);
      this.abilityOne.active = e;
      this.abilityTwo.active = 0;
      this.abilityTwo.items = [];
      this.abilityThree.items = [];
      if (this.abilityOne.active == 0) {
        this.clearAbility();
        this.navTitle2 = "教材/知识点";
      } else {
        if (this.abilityOne.active == 1) {
          this.getSolrDictList(this.subjectId, 3); // 获取教材
        }
        if (this.abilityOne.active == 2) {
          this.getSolrDictList(this.subjectId, 9); // 获取知识点
        }
      }
    },
    clickAbilityTwo(e) {
      this.abilityTwo.active = e;
      this.abilityThree.active = 0;
      if (this.abilityTwo.active == 0) {
        this.versionId1 = "";
        this.versionId2 = "";
        this.abilityThree.items = [];
      } else {
        if (this.abilityOne.active == 1) {
          // 教材
          this.versionId1 = this.abilityTwo.items[this.abilityTwo.active].id;
          this.getSolrDictList(this.versionId1, 16); // 16年级_教材
        }
        if (this.abilityOne.active == 2) {
          // 知识点
          this.knowledgeId1 = this.abilityTwo.items[this.abilityTwo.active].id;
          this.getSolrDictList(this.knowledgeId1, 10); // 16年级_教材
        }
      }
    },
    clickAbilityThree(e) {
      this.abilityThree.active = e;
      if (this.abilityOne.active == 1) {
        // 教材
        this.versionId2 = this.abilityThree.items[this.abilityThree.active].id;
      }
      if (this.abilityOne.active == 2) {
        // 知识点
        this.knowledgeId2 = this.abilityThree.items[
          this.abilityThree.active
        ].id;
      }
      // this.navTitle2 = this.abilityThree.items[this.abilityThree.active].text
    },
    clickSortAll(e) {
      this.sortAll.active = e;
      this.sortField = this.sortAll.items[this.sortAll.active].id;
      this.navTitle4 = this.sortAll.items[this.sortAll.active].text;
      this.$refs.item4.toggle();
      this.comeWhat();
    },
    // 从哪里来
    comeWhat() {
      if (this.resTypeCode == 102) {
        this.headerTitle = "微课资源";
        this.getResMicro(); //获取微课资源列表
      } else if (this.resTypeCode == 101) {
        this.headerTitle = "教学资源";
        this.getTeacherRes(); //获取教学资源列表
      } else if (this.resTypeCode == 100) {
        this.headerTitle = "研修资源";
        this.getResTraining(); //获取研修资源列表
      }
    },
    // 获取微课资源列表
    getResMicro() {
      var _this = this;
      var obj = {
        userId: this.userId,
        curPage: this.curPage,
        pageSize: this.pageSize,
        sortField: this.sortField, //排序字段1评分2浏览量3收藏量4分享时间5下载量6综合排序7资源价格8未审核举报数9举报总数数10购买量
        sortType: this.sortType, //排序类型 1降序2升序
        searchContent: this.searchContent, //匹配内容
        stageId: this.stageId, //学段id
        subjectId: this.subjectId, //学科id
        versionId1: this.versionId1, //教材第1级
        versionId2: this.versionId2, //教材第2级
        versionId3: this.versionId3, //教材第3级
        versionId4: this.versionId4, //教材第4级
        versionId5: this.versionId5, //教材第5级
        knowledgeId1: this.knowledgeId1, //知识点第1级
        knowledgeId2: this.knowledgeId2, //知识点第2级
        knowledgeId3: this.knowledgeId3, //知识点第3级
        resourceTypeId1: this.resourceTypeId1, //分类
        resourceTypeId2: this.resourceTypeId2, //资源
      };
      this.mainapi("getResMicro", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.allData = res.data.c;
        }
      });
    },
    // 获取教学资源列表
    getTeacherRes() {
      var _this = this;
      var obj = {
        userId: this.userId,
        curPage: this.curPage,
        pageSize: this.pageSize,
        sortField: this.sortField, //排序字段1评分2浏览量3收藏量4分享时间5下载量6综合排序7资源价格8未审核举报数9举报总数数10购买量
        sortType: this.sortType, //排序类型 1降序2升序
        searchContent: this.searchContent, //匹配内容
        stageId: this.stageId, //学段id
        subjectId: this.subjectId, //学科id
        versionId1: this.versionId1, //教材第1级
        versionId2: this.versionId2, //教材第2级
        versionId3: this.versionId3, //教材第3级
        versionId4: this.versionId4, //教材第4级
        versionId5: this.versionId5, //教材第5级
        knowledgeId1: this.knowledgeId1, //知识点第1级
        knowledgeId2: this.knowledgeId2, //知识点第2级
        knowledgeId3: this.knowledgeId3, //知识点第3级
        resourceTypeId1: this.resourceTypeId1, //分类
        resourceTypeId2: this.resourceTypeId2, //资源
      };
      this.mainapi("getTeacherRes", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.allData = res.data.c;
        }
      });
    },
    // 获取研修资源列表
    getResTraining() {
      var _this = this;
      var obj = {
        userId: this.userId,
        curPage: this.curPage,
        pageSize: this.pageSize,
        sortField: this.sortField, //排序字段1评分2浏览量3收藏量4分享时间5下载量6综合排序7资源价格8未审核举报数9举报总数数10购买量
        sortType: this.sortType, //排序类型 1降序2升序
        searchContent: this.searchContent, //匹配内容
        stageId: this.stageId, //学段id
        subjectId: this.subjectId, //学科id
        versionId1: this.versionId1, //教材第1级
        versionId2: this.versionId2, //教材第2级
        versionId3: this.versionId3, //教材第3级
        versionId4: this.versionId4, //教材第4级
        versionId5: this.versionId5, //教材第5级
        knowledgeId1: this.knowledgeId1, //知识点第1级
        knowledgeId2: this.knowledgeId2, //知识点第2级
        knowledgeId3: this.knowledgeId3, //知识点第3级
        resourceTypeId1: this.resourceTypeId1, //分类
        resourceTypeId2: this.resourceTypeId2, //资源
        // isTestPro: 1,      //测试数据 比cs环境还低  测试用(cs环境需删除)
        // searchContent: '聂思源*', //测试数据
      };
      this.mainapi("getResTraining", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.allData = res.data.c;
        }
      });
    },

    // 获取分类体系(学段学科)通用
    getSolrDictList(parentId, level) {
      var _this = this;
      var levelNew;
      if (level == 16) {
        levelNew = 3;
      } else if (level == 10) {
        levelNew = 9;
      } else {
        levelNew = level;
      }
      var obj = {
        parentId: parentId, //父级id
        level: levelNew, //1学段 2学科 7资源 8年份 (3456)教学材料版本 9知识点 10试卷年份 11代表工具别名12微课类型(microtype)15 solr_grade 16年级_教材
      };
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          var data = res.data.c;
          switch (level) {
            case 1: //学段
              _this.periodOne.items = [{ text: "全部", id: "" }];
              for (let i = 0; i < data.length; i++) {
                _this.periodOne.items.push({
                  text: data[i].dictName,
                  id: data[i].id,
                });
              }
              break;
            case 2: //学科
              _this.periodTwo.items = [{ text: "全部", id: "" }];
              for (let i = 0; i < data.length; i++) {
                _this.periodTwo.items.push({
                  text: data[i].dictName,
                  id: data[i].id,
                });
              }
              break;
            case 3: //教材
              _this.abilityTwo.items = [{ text: "全部", id: "" }];
              for (let i = 0; i < data.length; i++) {
                _this.abilityTwo.items.push({
                  text: data[i].dictName,
                  id: data[i].id,
                });
              }
              break;
            case 16: //教材年级
              _this.abilityThree.items = [{ text: "全部", id: "" }];
              for (let i = 0; i < data.length; i++) {
                _this.abilityThree.items.push({
                  text: data[i].dictName,
                  id: data[i].id,
                });
              }
              break;
            case 9: //知识点
              _this.abilityTwo.items = [{ text: "全部", id: "" }];
              for (let i = 0; i < data.length; i++) {
                _this.abilityTwo.items.push({
                  text: data[i].dictName,
                  id: data[i].id,
                });
              }
              break;
            case 10: //试卷年份
              _this.abilityThree.items = [{ text: "全部", id: "" }];
              for (let i = 0; i < data.length; i++) {
                _this.abilityThree.items.push({
                  text: data[i].dictName,
                  id: data[i].id,
                });
              }
              break;
            default:
              break;
          }
        }
      });
    },
    // 获取分类
    getClassify() {
      var _this = this;
      var obj = {
        resTypeCode: this.resTypeCode,
      };
      this.mainapi("getClassify", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          if (_this.resTypeCode == 102) {
            _this.classifyOne.title = "类型";
            _this.classifyOne.list = [
              { dictName: "全部", id: "" },
              ...res.data.c.child1,
            ];
            //获取微课资源列表
          } else if (_this.resTypeCode == 101) {
            _this.classifyOne.title = "分类";
            _this.classifyOne.list = [
              { dictName: "全部", id: "" },
              ...res.data.c.child1,
            ];
            //获取教学资源列表
          } else if (_this.resTypeCode == 100) {
            _this.classifyOne.title = "对象";
            _this.classifyOne.list = [
              { dictName: "全部", id: "" },
              ...res.data.c.child1,
            ];

            _this.classifyTwo.title = "资源";
            _this.classifyTwo.list = [
              { dictName: "全部", id: "" },
              ...res.data.c.child2,
            ];
            //获取研修资源列表
          }
        }
      });
    },
    // 分类选择
    selectClassifyOne(index) {
      this.selectClassifyOneIndex = index;
      if (this.resTypeCode == 101) {
        this.classifyTwo.title = "资源";
        this.classifyTwo.list = [
          { dictName: "全部", id: "" },
          ...this.classifyOne.list[index].child,
        ];
        this.selectClassifyTwoIndex = 0;
      }
      this.resourceTypeId1 = this.classifyOne.list[
        this.selectClassifyOneIndex
      ].id;
    },
    selectClassifyTwo(index) {
      this.selectClassifyTwoIndex = index;
      this.resourceTypeId2 = this.classifyTwo.list[
        this.selectClassifyTwoIndex
      ].id;
    },
    // 清除学段 学科
    clearPeriod() {
      this.periodOne.active = 0;
      this.periodTwo.active = 0;
      this.curPage = 1; //初始化分页
      this.stageId = ""; //学段id
      this.subjectId = ""; //学科id
      this.navTitle1 = "学段学科";
    },
    // 提交 学段 学科
    submitPeriod() {
      this.curPage = 1; //初始化分页
      this.clearAbility();
      this.comeWhat();
      // this.navTitle1 = this.periodTwo.items[this.periodTwo.active].text
      this.navTitle1 = this.periodTwo.items[this.periodTwo.active]
        ? this.periodTwo.items[this.periodTwo.active].text
        : this.periodOne.items[this.periodOne.active]
        ? this.periodOne.items[this.periodOne.active].text
        : "";
      this.$refs.item1.toggle();
    },
    // 清除 教材知识点
    clearAbility() {
      this.curPage = 1; //初始化分页
      this.navTitle2 = "教材/知识点";
      this.abilityOne.active = 0;
      this.abilityTwo.active = 0;
      this.abilityThree.active = 0;
      this.abilityThree.items = [];
      this.versionId1 = ""; //教材第1级
      this.versionId2 = ""; //教材第2级
      this.versionId3 = ""; //教材第3级
      this.versionId4 = ""; //教材第4级
      this.versionId5 = ""; //教材第5级
      this.knowledgeId1 = ""; //知识点第1级
      this.knowledgeId2 = ""; //知识点第2级
      this.knowledgeId3 = ""; //知识点第3级
    },
    // 提交教材知识点
    submitAbility() {
      this.curPage = 1; //初始化分页
      this.comeWhat();
      if (this.abilityOne.items[this.abilityOne.active]) {
        this.navTitle2 = this.abilityOne.items[this.abilityOne.active].text;
      }
      if (this.abilityTwo.items[this.abilityTwo.active]) {
        this.navTitle2 = this.abilityTwo.items[this.abilityTwo.active].text;
      }
      if (this.abilityThree.items[this.abilityThree.active]) {
        this.navTitle2 = this.abilityThree.items[this.abilityThree.active].text;
      }
      this.$refs.item2.toggle();
    },
    // 清除分类
    clearClassify() {
      this.selectClassifyOneIndex = 0;
      this.selectClassifyTwoIndex = 0;
      this.resourceTypeId1 = "";
      this.resourceTypeId2 = "";
      this.curPage = 1; //初始化分页
    },
    // 提交分类
    submitClassify() {
      this.curPage = 1; //初始化分页
      this.comeWhat();
      if (this.resTypeCode == 102) {
        this.navTitle3 = this.classifyOne.list[
          this.selectClassifyOneIndex
        ].dictName;
      } else {
        this.navTitle3 = this.classifyTwo.list[
          this.selectClassifyTwoIndex
        ].dictName;
      }

      this.$refs.item3.toggle();
    },
    // 点击上传资源
    operation() {
      this.$router.push({ name: "upload" });
    },
    // 点击进详情(资源id,工具类型)
    goSeeResourse(solrId, type) {
      // 工具类型  article文章 usertask作业  activity活动  cooperate同伴协作  communicate交流  mooc磨课  userPreparation备课
      if (type == "mooc" || type == "userPreparation") {
        return;
      }
      this.$router.push({
        path: "/seeResourse",
        query: {
          resTypeCode: this.resTypeCode,
          solrId: solrId,
          codeType: type,
        },
      });
    },
  },
};
</script>
<style>
.van-dropdown-menu__bar {
  justify-content: space-around;
}
.van-dropdown-menu__item {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}
</style>
<style scoped>
.van-sidebar-item {
  background-color: #fff;
}
.van-sidebar-item--select {
  color: #55abeb;
}
.van-sidebar-item--select::before {
  background-color: transparent;
}

.van-tree-select__content {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}
.van-tree-select__nav {
  width: 33.33vw;
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  background-color: #fff;
}
.van-dropdown-menu__title {
  font-size: 0.6rem;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.header img {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0.25rem;
}
.allWrap {
  width: 100%;
  height: auto;
}
.comTop {
  border-bottom: 1px solid #f2f2f2;
}
.comTop2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.3rem 0;
}
.comTop2 .l_tab {
  margin-left: 0.5rem;
}
.comTop2 .l_tab:nth-of-type(1) {
  margin-left: 0;
}
.comTop2 .l_tab .pName {
  font-size: 0.28rem;
  color: #4a4a4a;
}
.comTop2 .l_tab .pNameSel {
  color: #42a8ff;
}
.comTop2 .l_tab .pName .imgXJT {
  width: 0.2rem;
  height: 0.12rem;
  display: inline-block;
}
/* search 分类 */
.classifyList {
  padding: 0.3rem 0.2rem;
}
.classifyList .classifyTitle {
  padding-left: 0.1rem;
  margin-bottom: 0.15rem;
  font-size: 0.28rem;
  font-weight: bold;
  color: #4a4a4a;
  letter-spacing: 0;
}
.classifyList ul {
  display: flex;
  flex-wrap: wrap;
}
.classifyList ul li {
  padding: 0.09rem 0.44rem;
  margin: 0.15rem 0.1rem;
  border: 0.01rem solid #d8d8d8;
  border-radius: 0.28rem;
}
.classifyList ul li.active {
  color: #55abeb;
  background: rgba(85, 171, 235, 0.15);
  border: 0.01rem solid #55abeb;
}
/**分类按钮 */
.classifyBtnWrap {
  width: 100vw;
  display: flex;
}
.classifyBtnWrap .btn {
  height: 0.98rem;
  line-height: 0.98rem;
  flex: 1;
  text-align: center;
  color: #4a4a4a;
}
.classifyBtnWrap .btn.submit {
  background: #42a8ff;
  color: #ffffff;
}
/* 微课资源 */
.listWrap {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
}
.listWrap .list {
  width: 6.9rem;
  height: auto;
  margin: 0 auto 0.3rem;
}
.listWrap .list .lLeft {
  width: 2.44rem;
  height: 1.68rem;
  border-radius: 0.1rem;
  float: left;
  position: relative;
}
.listWrap .list .lLeft .img1 {
  width: 2.44rem;
  height: 1.68rem;
  display: block;
  margin: 0 auto;
}
.listWrap .list .lLeft .state {
  font-size: 0.2rem;
  color: #ffffff;
  border-radius: 0.04rem;
  display: block;
  padding: 0 0.05rem;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}
.listWrap .list .lLeft .pay {
  background: #fd4c50;
}
.listWrap .list .lLeft .free {
  background: #f58a06;
}
.listWrap .list .rRight {
  width: 4.26rem;
  height: auto;
  margin-left: 0.18rem;
  float: left;
}
.listWrap .list .rRight .className {
  width: 100%;
  font-family: PingFangSC-Medium;
  font-size: 0.3rem;
  color: rgba(0, 0, 0, 0.85);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}
.listWrap .list .rRight .shareName {
  width: 100%;
  font-family: PingFangSC-Regular;
  font-size: 0.22rem;
  color: #6d7278;
  padding-top: 0.12rem;
}
.listWrap .list .rRight .starWrap {
  width: 2.2rem;
  height: 0.3rem;
  float: left;
}
.listWrap .list .rRight .scoreNum {
  font-family: PingFangSC-Regular;
  font-size: 0.24rem;
  color: #6d7278;
  float: left;
}
.listWrap .list .rRight .price {
  font-size: 0.26rem;
  color: #fd4c50;
  font-weight: bold;
  padding-top: 0.12rem;
  float: right;
}
/* 教学资源/研修资源 */
.teaResou .list .lLeft {
  width: 1.86rem;
  height: 1.86rem;
  background: #e2f3ff;
  border-radius: 0.1rem;
}
.teaResou .list .lLeft .img1 {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.13rem auto;
}
.teaResou .list .rRight {
  width: 4.8rem;
}
.teaResou .list .rRight .className {
  -webkit-line-clamp: 1;
}
/* 无数据 */
.noData {
  width: 100%;
  height: auto;
  position: relative;
}
.noData img {
  width: 4.5rem;
  height: auto;
  margin: 3rem auto 0;
  display: block;
}
.noData .p1 {
  font-size: 0.24rem;
  color: #c0c0c0;
  text-align: center;
}
</style>
