<template>
    <div class="allWrap">
        <Header title='资源详情'></Header>
        <div class="zyDetail">
            <p class="pOne">资源分类</p>
            <p class="pTwo">{{allData.classifyMes}}</p>
            <p class="pOne">文件描述</p>
            <p class="pTwo">{{allData.resNote}}</p>
            <p class="pTwo">视频时长：{{allData.duration}}</p>
            <p class="pTwo" v-if="allData.isPublic == 1">公开方式：付费公开</p>
            <p class="pTwo" v-if="allData.isPublic == 0">公开方式：免费公开</p>
            <p class="pTwo">浏览：{{allData.viewedNum}}</p>
            <p class="pTwo">收藏：{{allData.downloadedNum}}</p>
            <p class="pTwo" v-if="allData.isPublic == 1">购买：{{allData.sellNum}}</p>
            <p class="pTwo">评论：{{allData.commentedNum}}</p>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            solrId: this.$route.query.solrId,           //资源主键id
            allData: '',            //查看详情数据	
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getDetail();       //查看详情
    },
    methods:{
        // 查看详情
        getDetail(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源主键id	
            };
            this.mainapi("getDetail", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: auto;
    }
    .allWrap .zyDetail{
        width: 100%;
        height: auto;
    }
    .pOne{
        width: 6.9rem;
        font-size: 0.32rem;
        color: #2B2B2B;
        font-weight: bold;
        margin: 0.3rem auto 0;
    }
    .pTwo{
        width: 6.9rem;
        font-size: 0.28rem;
        color: #6D7278;
        margin: 0.3rem auto 0;
    }
</style>