/*格式化样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
q:before,q:after {content:''} 
abbr,acronym { border:0}
p{font-size: 0.28rem;}
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

.jianju{height: 0.24rem;background: #F2F2F2;}
/*文字排版、颜色*/
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.f40{font-size: 0.4rem !important;}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.red,a.red{color:#cc0031}
.orange{color: #FA6400 !important;}
.darkblue{color: #2A538E !important;}
.gray,a.gray{color:#878787}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}


/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.fl{float:left;}
.fr{float:right;}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle} 
.pr{position:relative} 
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1} 
.hidden{visibility:hidden} 
.none{display:none}
.show{display:block}

/*长度高度*/
.wauto{width: auto !important;}
.w10{width:0.1rem}
.w20{width:0.2rem}
.w50{width:0.5rem}
.w90{width:0.9rem}
.w100{width:1rem}
.w200{width:2rem}
.w250{width:2.5rem}
.w500{width:5rem !important}
.w600{width:6rem !important}
.w800{width:8rem}
.w{width:100%}
.h50{height:50px}
.h80{height:80px}
.h100{height:100px}
.h200{height:200px}
.h{height:100%}

/*边距*/
.m10{margin:0.1rem}
.m15{margin:0.15rem}
.m30{margin:0.3rem}
.mt5{margin-top:0.05rem}
.mt10{margin-top:0.1rem}
.mt15{margin-top:0.15rem}
.mt20{margin-top:0.2rem}
.mt30{margin-top:0.3rem}
.mt35{margin-top:0.35rem}
.mt40{margin-top:0.4rem}
.mt50{margin-top:0.5rem}
.mt100{margin-top:1rem}
.mb5{margin-bottom:0.05rem}
.mb10{margin-bottom:0.1rem}
.mb15{margin-bottom:0.15rem}
.mb100{margin-bottom:1rem}
.ml5{margin-left:0.05rem}
.ml10{margin-left:0.1rem}
.ml15{margin-left:0.15rem}
.ml20{margin-left:0.2rem}
.ml30{margin-left:0.3rem}
.ml50{margin-left:0.5rem}
.ml100{margin-left:1rem}
.mr5{margin-right:0.05rem}
.mr10{margin-right:0.1rem}
.mr15{margin-right:0.15rem}
.mr30{margin-right:0.3rem}
.mr50{margin-right:0.5rem}
.mr100{margin-right:1rem}
.p0{padding: 0 !important;}
.p10{padding:0.1rem;}
.p15{padding:0.15rem;}
.p30{padding:0.3rem;}
.pt0{padding-top: 0 !important;}
.pt5{padding-top:0.05rem}
.pt10{padding-top:0.1rem}
.pt15{padding-top:0.15rem}
.pt20{padding-top:0.2rem}
.pt30{padding-top:0.3rem}
.pt50{padding-top:0.5rem}
.pb0{padding-bottom: 0 !important;}
.pb5{padding-bottom:0.05rem}
.pb20{padding-bottom:0.2rem}
.pb30{padding-bottom:0.3rem}
.pb40{padding-bottom:0.4rem}
.pb100{padding-bottom:1rem !important}
.pb130{padding-bottom:1.3rem !important}
.pl5{padding-left:0.05rem}
.pl10{padding-left:0.1rem}
.pl50{padding-left:0.5rem}
.pl100{padding-left:1rem}
.pr5{padding-right:0.05rem}
.pr10{padding-right:0.1rem}
.pr15{padding-right:0.15rem}
.pr100{padding-right:1rem}

/* 小弹窗 */

/* 弹窗 */
.samllTanchuang{
    font-size: 0.28rem;
    color: #fff;
    padding: 0.15rem 0.4rem;
    background: black;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    border-radius: 0.4rem;
    opacity: 0.7;
    width: max-content;
}
.van-toast--html, .van-toast--text{
    padding: 0.15rem 0.4rem !important;
    border-radius: 0.4rem !important;
}


.tanWrap{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
}
/* 底部弹窗 上传头像 */
.tanWrap .footTan{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
}
.tanWrap .footTan .fooTips{
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.26rem;
    background: #fff;
    font-family: PingFangSC-Regular;
    color: #9B9B9B;
    text-align: center;
}
.tanWrap .footTan .pFonts{
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    font-family: PingFangSC-Regular;
    font-size: 0.32rem;
    text-align: center;
    color: #4A4A4A;
    background: #fff;
    position: relative;
}
.tanWrap .footTan .photograph,
.tanWrap .footTan .gallery{
    border-bottom: 1px solid #C5C5C5;
    background: #FCFCFC;
    color: #4A4A4A;
}
.tanWrap .footTan .cancel{
    color: #55ABEB;
    margin-top: 0.1rem;
}
.tanWrap .footTan .photograph input,
.tanWrap .footTan .gallery input{
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
/* 提示弹窗 */
.tanWrap .tipTan{
    width: 5rem;
    height: auto;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.2rem;
}
.tanWrap .tipTan .p1{
    font-family: PingFangSC-Regular;
    font-size: 0.28rem;
    color: #4A4A4A;
    text-align: center;
    padding-top: 0.87rem;
}
.tanWrap .tipTan .sure{
    width: 4.4rem;
    height: 0.7rem;
    line-height: 0.7rem;
    font-family: PingFangSC-Regular;
    font-size: 0.32rem;
    color: #FFFFFF;
    background: #55ABEB;
    border-radius: 0.12rem;
    text-align: center;
    margin: 0.7rem auto 0.4rem;
}


    /* 确认删除弹窗 */
    .tanWrap .sureDel{
        width: 5.26rem;
        height: auto;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 0.2rem;
    }
    .tanWrap .sureDel .sureTips{
        width: 3.64rem;
        font-size: 0.28rem;
        color: #4A4A4A;
        padding: 0.5rem 0 0.45rem 0;
        margin: 0 auto;
    }
    .tanWrap .sureDel .botOper{
        width: 100%;
        height: 0.8rem;
        border-top: 2px solid #F0F6F8;
    }
    .tanWrap .sureDel .botOper p{
        width: 49%;
        line-height: 0.9rem;
        font-family: PingFangSC-Medium;
        font-size: 0.28rem;
        text-align: center;
    }
    .tanWrap .sureDel .botOper .sure_Cancel{
        color: #4A4A4A;
        border-right: 1px solid #F0F6F8;
    }
    .tanWrap .sureDel .botOper .sure_Sure{
        color: #55ABEB;
    }
    /* comTop */
    .comTop{
        width: 100%;
        height: auto;
        background: #fff;
        padding: 0.3rem 0;
    }
    .comTop .searchWrap{
        width: 6.9rem;
        height: 0.64rem;
        background: #F0F1F3;
        border: 1px solid #DEDFE1;
        border-radius: 0.1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .comTop .searchWrap img{
        width: 0.33rem;
        height: 0.33rem;
        margin-top: 0.15rem;
        margin-right: 0.1rem;
    }
    .comTop .searchWrap p{
        line-height: 0.64rem;
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #7B7C80;
    }
    .comTop .lunboWrap{
        width: 6.9rem;
        height: 2.3rem;
        margin: 0.25rem auto 0;
        border-radius: 0.1rem;
    }
    .comTop .lunboWrap img{
        width: 100%;
        height: 100%;
    }
    .comTop .lunboWrap .my-swipe{
        width: 100%;
        height: 100%;
    }
    .comTop .boxData{
        width: 6.9rem;
        height: auto;
        margin: 0.2rem auto 0;
    }
    .comTop .boxData .upResou,
    .comTop .boxData .teaZY,
    .comTop .boxData .realName{
        width: 2rem;
        height: 1rem;
        line-height: 1rem;
        font-size: 0.24rem;
        border-radius: 0.1rem;
        font-weight: bold;
        padding-left: 0.2rem;
        position: relative;
    }
    .comTop .boxData .upResou{
        color: #55BD76;
        background: #E4FDD1;
        float: left;
    }
    .comTop .boxData .teaZY{
        color: #843939;
        background: #FEEBE5;
        margin-left: 0.15rem;
        float: left;
    }
    .comTop .boxData .realName{
        color: #674C35;
        background: #FAEECD;
        float: right;
    }
    .comTop .boxData .imgIcon{
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        right: 0.18rem;
        top: 0.1rem;
    }
    /* 评价弹窗部分 */
    .evalTanWrap{
        
    }
    .evalTanWrap .starWrap{
        padding: 0.7rem 0;
        background: #FAFAFA;
        text-align: center;
    }
    .van-nav-bar__text{
        color: #666666 !important;
    }


    /* 微课资源上半部分 */
    .jxwk .listWrap{
        width: 100%;
        height: auto;
    }
    .jxwk .listWrap .list{
        width: 6.9rem;
        height: auto;
        margin-left: 0.3rem;
        display: inline-block;
    }
    .jxwk .listWrap .list .imgWrap{
        width: 6.9rem;
        height: auto;
        position: relative;
    }
    .jxwk .listWrap .list .imgWrap img{
        width: 100%;
        height: 4rem;
    }
    .jxwk .listWrap .list .imgWrap .blackBg{
        width: 4.12rem;
        height: 1.3rem;
        opacity: 0.4;
        background: linear-gradient(270deg, rgba(0,0,0,0.00) 0%, #000000 26%, #000000 71%, rgba(0,0,0,0.00) 99%);
        /* background: rgba(0,0,0,0.4); */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .jxwk .listWrap .list .imgWrap .blackBg .p1{
        font-size: 0.28rem;
        color: #FFFFFF;
        text-align: center;
    }
    .jxwk .listWrap .list .imgWrap .blackBg .p1:nth-of-type(1){
        padding-top: 0.28rem;
    }
    .jxwk .listWrap .list .imgWrap .videoWrap{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .jxwk .listWrap .list .imgWrap .videoWrap .ccH5playerBox{
        width: 7rem !important;
        height: auto !important;
    }
    .jxwk .listWrap .list .className{
        width: 6.9rem;
        height: auto;
        font-family: PingFangSC-Medium;
        font-size: 0.32rem;
        color: rgba(0,0,0,0.85);

        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
        overflow:hidden;
        word-break: break-all;
        padding-top: 0.18rem;
    }
    .jxwk .listWrap .list .shareName{
        font-family: PingFangSC-Regular;
        font-size: 0.24rem;
        color: #6D7278;
        padding-top: 0.12rem;
    }
    .jxwk .listWrap .list .lsbox{
        width: 6.9rem;
        height: 0.8rem;
        background: #FAFAFA;
        border: 1px solid #F5F5F5;
        margin-top: 0.25rem;
    }
    .jxwk .listWrap .list .lsbox .starWrap{
        width: 3.5rem;
        height: 0.8rem;
        float: left;
    }
    .jxwk .listWrap .list .lsbox .scoreNum{
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        line-height: 0.8rem;
        color: #6D7278;
        float: left;
    }
    .jxwk .listWrap .list .price{
        font-size: 0.4rem;
        color: #FD4C50;
        font-weight: bold;
        padding: 0.25rem 0;
    }
    .jxwk .seeDetail{
        width: 6.9rem;
        padding: 0.3rem;
        border-top: 1px solid #F5F5F5;
        background: #fff;
    }
    .jxwk .seeDetail .p1{
        font-size: 0.3rem;
        color: #54544A;
        font-weight: bold;
        float: left;
    }
    .jxwk .seeDetail .p2{
       font-size: 0.3rem;
        color: #42A8FF;
        float: right;
    }
    /* 文件预览部分 */
    /* 相关推荐 */
    .jxwk .seeFile{
        width: 100%;
        height: auto;
    }
    .jxwk .seeFile .needBuy{
        width: 5.9rem;
        font-size: 0.28rem;
        color: #FD4C50;
        padding: 0.35rem 0.5rem;
        background: #FAFAFA;
        margin: 0.5rem auto;
    }
    .jxwk .seeFile .zyContp{
        width: 5.9rem;
        font-size: 0.28rem;
        color: #6D7278;
        margin: 0 auto;
        word-break: break-all;
        overflow: hidden;
    }
    .jxwk .seeFile .zyContp >>> img{
        width: 5.9rem !important;
        height: auto !important;
    }
    .jxwk .seeFile .seeList{
        width: 100%;
        height: auto;
    }
    .jxwk .seeFile .seeList .iframePDF{
        width: 100%;
        overflow: hidden;
        /* height: auto !important; */
    }
    .jxwk .seeFile .goSee{
        font-size: 0.3rem;
        color: #4A4A4A;
        text-align: center;
        padding-top: 0.25rem;
    }
    .jxwk .seeFile .divisionLine{
        width: 6.9rem;
        margin: 0 auto;
        padding: 0.1rem 0 0.25rem 0;
    }
    /* 附件下载查看循环 */
    .fileListWrap{
        width: 100%;
        height: auto;
        padding: 0.3rem 0;
    }
    .fileListWrap .list{
        width: 6.3rem;
        height: 0.7rem;
        padding: 0.3rem;
        margin: 0 auto;
        background: #f7f8fa;
        /* border: 1px solid #F1F1F1; */
        border-radius: 0.08rem;
        margin-bottom: 0.2rem;
    }
    .fileListWrap .list .img1{
        width: 0.7rem;
        height: 0.7rem;
        background: bisque;
        float: left;
    }
    .fileListWrap .list .info{
        width: 65%;
        margin-left: 0.3rem;
        float: left;
    }
    .fileListWrap .list .info .p1{
        width: 100%;
        font-size: 0.28rem;
        line-height: 0.38rem;
        color: #4A4A4A;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
    .fileListWrap .list .info .p2{
        font-size: 0.2rem;
        color: #9B9B9B;
    }
    .fileListWrap .list .down{
        font-size: 0.2rem;
        color: #55ABEB;
        line-height: 0.7rem;
        float: right;
    }
    .fileListWrap .list .js-paydown{
        color: #FD4C50;
    }
    .fileListWrap .list .img2{
        width: 0.2rem;
        height: 0.2rem;
        margin-top: 0.3rem;
        float: right;
    }

    /* 评论部分 */

    .titleBorderBox{
        width: 6.9rem;
        height: auto;
        padding: 0.25rem 0.3rem;
        border-bottom: 2px solid #F1F1F1;
        background: #fff;
    }
    .titleBorderBox .p1{
        font-size: 0.3rem;
        color: #4A4A4A;
        font-weight: bold;
    }
    .zyhuListWrap{
        width: 100%;
        height: auto;
        padding-bottom: 0.3rem;
    }
    .zyhuListWrap .list{
        width: 6.9rem;
        height: auto;
        padding: 0 0.3rem;
        margin-top: 0.5rem;
    }
    .zyhuListWrap .list:nth-of-type(1){
        margin-top: 0.3rem;
    }
    .zyhuListWrap .list .txLeft{
        width: 0.66rem;
        height: 0.66rem;
        border-radius: 50%;
        float: left;
    }
    .zyhuListWrap .list .rCont{
        width: 6.08rem;
        height: auto;
        float: right;
    }
    .zyhuListWrap .list .rCont .name{
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #2A538E;
    }
    .zyhuListWrap .list .rCont .rFontWords{
        font-family: PingFangSC-Regular;
        font-size: 0.32rem;
        color: #333333;
        padding-top: 0.2rem;
        word-break: break-all;
    }
    .zyhuListWrap .list .rCont .time{
        font-family: PingFangSC-Regular;
        font-size: 0.22rem;
        color: #969EAB;
        padding-top: 0.2rem;
    }

    /* 活动步骤 */
    .actListWrap{
        width: 100%;
        height: auto;
    }
    .actListWrap .actList{
        width: 6.9rem;
        height: auto;
        background: #F4F4F4;
        border-radius: 0.1rem;
        margin: 0.1rem auto 0;
        padding: 0.23rem 0;
    }
    .actListWrap .actList .p1{
        width: 80%;
        font-size: 0.28rem;
        padding-left: 0.2rem;
        color: #2B2B2B;
        font-weight: bold;

        display:-webkit-box;
        -webkit-line-clamp:1;
        -webkit-box-orient:vertical;
        overflow:hidden;
        word-break: break-all;
    }
    .actListWrap .actList .p2{
        font-size: 0.22rem;
        color: #A3A3A3;
        padding-right: 0.2rem;
        line-height: 0.4rem;
    }

    /* 公共头步骤 */
    .taskTop{
        width: 100%;
        height: auto;
        background: #fff;
    }
    .taskTop .taskTopP1{
        width: 6.9rem;
        font-size: 0.3rem;
        color: #2B2B2B;
        font-weight: bold;
        margin: 0 auto;
    }
    .taskTop .taskTopP2{
        width: 6.9rem;
        font-family: PingFangSC-Regular;
        font-size: 0.24rem;
        color: #6D7278;
        font-weight: normal;
        margin: 0 auto;
    }
    .greyBox{
        width: 100%;
        height: auto;
        background: #F2F2F2;
    }
    .greyBox .p1{
        font-size: 0.24rem;
        color: #A3A3A3;
        margin-left: 0.3rem;
        padding: 0.3rem 0;
    }
    /* 辩论，正方反方 */
    .squareCon{
        width: 100%;
        height: 1.15rem;
        background: url('../../assets/images/vsImg.png') no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
    }
    .squareCon.fan{
        background: url('../../assets/images/vsImg_f.png') no-repeat;
        background-size: 100% 100%;
    }
    .squareCon .sqBox{
        text-align: center;
        flex: 1;
    }
    .squareCon .sqBox .debater{
        font-size: 0.24rem;
        color: #FFFFFF;
    }
    .squareCon .sqBox .num{
        font-size: 0.36rem;
        color: #FFFFFF;
        font-weight: bold;
    }
    .blContWords{
        width: 6.9rem;
        height: auto;
        font-size: 0.28rem;
        color: #545454;
        margin: 0 auto;
    }
    
    /* 固定尾部 */
    .stuFooter{
        width: 7.1rem;
        height: 1.1rem;
        padding: 0 0.2rem;
        background: #fff;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .stuFooter .write{
        width: 7.1rem;
        height: 0.8rem;
        background: #F1F1F1;
        border-radius: 1rem;
        margin-top: 0.15rem;
        float: left;
    }
    .stuFooter .write img{
        width: 0.3rem;
        height: 0.3rem;
        margin: 0.25rem 0.25rem 0 0.3rem;
        float: left;
    }
    .stuFooter .write .p1{
        font-size: 0.24rem;
        color: #9B9B9B;
        margin-top: 0.23rem;
        float: left;
    }
    .stuFooter>img{
        width: 0.44rem;
        /* height: 0.44rem; */
        height: auto;
        margin-top: 0.35rem;
        float: left;
    }
    /* 弹窗二   点击写评论弹窗 */
    .tanWrap2{
        width: 100%;
        height: 3rem;
        background: #efefef;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .tanWrap2 .title{
        width: 7.1rem;
        height: 0.7rem;
        margin: 0 auto;
        display: flex;
    }
    .tanWrap2 .title p{
        line-height: 0.7rem;
        float: left;
        flex: 1;
    }
    .tanWrap2 .title .p1{
        font-size: 0.24rem;
        color: #737373;
    }
    .tanWrap2 .title .p2{
        font-size: 0.28rem;
        text-align: center;
    }
    .tanWrap2 .title .p3{
        font-size: 0.24rem;
        color: #737373;
        text-align: right;
    }
    .tanWrap2 textarea{
        width: 6.9rem;
        height: 1.7rem;
        display: block;
        padding: 0.2rem;
        margin: 0 auto;
        border: none;
        outline: none;
        border-radius: 0.1rem;
    }