/* 底部导航1   工作室--我 */
.footer1{
    width: 100%;
    height: 0.96rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,1);
    border-top: 1px solid #F1F1F1;
}
.footer1 .nav{
    display: flex;
}
.footer1 .nav .select{
    color: #5BADEB;
}
.footer1 .nav>div{
    flex: 1;
    height: 0.96rem;
}
.footer1 .nav img{
    width: 0.48rem;
    height: 0.48rem;
    margin: 0.04rem auto;
    display: block;
}
.footer1 .nav p{
    text-align: center;
    font-size: 0.09rem;
}

/* 头部 */
.header{
    width: 100%;
    height: 0.9rem;
    position: relative;
}
.header img{
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 0.2rem;
}
.header .img1{
    left: 0.15rem;
}
.header .img2{
    right: 0.15rem;
}
.header .img3{
    right: 1rem;
}
.header .p1{
    width: 100%;
    font-size: 0.36rem;
    line-height: 0.9rem;
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
}
.header .p2{
    position: absolute;
    right: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.34rem;
    line-height: 0.9rem;
    text-align: center;
}