<template>
    <div class="allWrap">
        <Header title='评论详情'></Header>
        <div class="reInteraction">
            
            <div class="zyhuListWrap">
                <div class="list clear">
                    <img class="txLeft" :src="allData.comment.extInfo.member.picurl" alt="">
                    <div class="rCont">
                        <p class="name">{{allData.comment.extInfo.member.realname}}</p>
                        <p class="rFontWords" v-html="allData.comment.content"></p>
                        <p class="time">{{allData.comment.extInfo.createTime}}  · {{allData.totalCount}}条回复
                            <span class="fr ml10 darkblue" v-if="userId == allData.authId">删除</span>
                            <span class="fr darkblue" v-if="allData.comment.extInfo.isAccusation == false" @click.stop="goReport0()">举报</span>
                            <span class="fr darkblue" v-if="allData.comment.extInfo.isAccusation == true">已举报</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="jianju"></div>
            <div class="titleBorderBox">
                <p class="p1">全部评论（{{allData.totalCount}}）</p>
            </div>
            <div class="zyhuListWrap pb130">
                <div class="list clear" :key="index" v-for="(item,index) in allData.objectList" @click="clickOne(item.id)">
                    <img class="txLeft" :src="item.extInfo.member.picurl" alt="">
                    <div class="rCont">
                        <p class="name">{{item.extInfo.realName}}</p>
                        <p class="rFontWords" v-html="'回复<span style=color:#2A538E>' + item.extInfo.toReplyUserName + ':</span>' + item.content" v-if="item.commentId != item.replyId"></p>
                        <p class="rFontWords" v-html="item.content" v-if="item.commentId == item.replyId"></p>
                        <p class="time">{{item.extInfo.createTime}}
                            <span class="fr ml10 darkblue" v-if="userId == item.authId" @click.stop="delReply(item.id)">删除</span>
                            <span class="fr darkblue" v-if="item.extInfo.isAccusation == false" @click.stop="goReport(item.id)">举报</span>
                            <span class="fr darkblue" v-if="item.extInfo.isAccusation == true">已举报</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 固定尾部 -->
            <div class="stuFooter" @click="comment()">
                <div class="write">
                    <img src="../../assets/images/bi.png">
                    <p class="p1">写评论...</p>
                </div>
            </div>
            <!-- 弹窗二   点击写评论弹窗 -->
            <div class="tanWrap2" v-if="showTC2">
                <div class="title">
                    <p class="p1" @click="tan2Cancel()">取消</p>
                    <p class="p2">发布评论</p>
                    <p class="p3" @click="tan2Sure()">发布</p>
                </div>
                <textarea @blur="blurs" name="" id="" cols="30" rows="10" :placeholder="placeholder" v-model="commentCont"></textarea>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            commentId: this.$route.query.commentId,               //评论id
            solrId: this.$route.query.solrId,  
            curPage: 1,
            pageSize: 20,
            allData: {              //查看详情数据
                comment:{
                    extInfo: {
                        member: ''
                    }
                }
            },            
            replyId: '',            //评论id
            
            // 弹窗二
            showTC2: false,       //点底部显示弹窗二
            commentCont: '',      //输入的内容
            placeholder: '请输入内容',
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getResReplys();       //查看详情
    },
    methods:{
        // 资源评论_获取评论下的回复
        getResReplys(){
            var _this = this;
            var obj = {
                userId: this.userId,
                commentId: this.commentId,        //评论id
                curPage: this.curPage,        
                pageSize: this.pageSize,        
            };
            this.mainapi("getResReplys", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 资源评论_删除回复
        delReply(id){
            this.$dialog.confirm({
                title: '是否确定删除该评论内容?',
            }).then(() => {
                // on confirm 点击确定的操作
                var _this = this
                var obj = {
                    userId: this.userId,
                    id: id,
                };
                this.mainapi("delReply", obj, function(res) {
                    if (res.data.status == 'SUCCESS') {
                        _this.getResReplys()      //资源评论_获取资源评论列表
                    } 
                });
            })
        },
        // 点击举报
        goReport0() {
            this.$router.push({
                path: 'report',
                query: {
                    commentId: this.commentId,//评论id	
                    whatComeReport: 1,        //哪里来的举报 0资源举报  1资源评论_举报评论  2资源评论_举报回复
                }
            })
        },
        // 点击举报
        goReport(replyId,whatComeReport) {
            this.$router.push({
                path: 'report',
                query: {
                    replyId: replyId,   //评论id	
                    whatComeReport: 2,        //哪里来的举报 0资源举报  1资源评论_举报评论  2资源评论_举报回复
                }
            })
        },
        // 点击列表某一个
        clickOne(replyId){
            this.replyId = replyId;
            this.showTC2 = true;
        },

        // 弹窗
        // 点击底部进入评论列表
        comment(){
            this.showTC2 = true;
            this.replyId = ''     
        },
        // 点取消
        tan2Cancel(){
            this.showTC2 = false;
        },
        // 点发布 资源回复_添加回复
        tan2Sure(){
            var _this = this
            if(!this.commentCont.replace(/^\s+|\s+$/g,"")){
                return false;
            }
            var obj = {
                userId: this.userId,
                content: this.commentCont,       //评论内容
                commentId: this.commentId,   //所处评论id
                replyId: this.replyId,       //评论id
                solrId: this.solrId,         //资源id	
            };
            this.mainapi("addReply", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.showTC2 = false;
                    _this.getResReplys()      //资源评论_获取资源评论列表
                } 
            });
        },
        // textarea失去焦点(为了解决ios键盘收回区域错乱的问题)
        blurs(){
            window.scroll(0, 0);
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: auto;
    }
    .allWrap .reInteraction{
        width: 100%;
        height: auto;
    }
</style>