<template>
    <div class="allWrap">
        <Header title='评论列表'></Header>
        <div class="reInteraction">
            <div class="greyBox clear">
                <p class="p1 fl">{{allData.totalCount}}条评论/提问</p>
            </div>
            <div class="zyhuListWrap pb130">
                <div class="list clear" :key="index" v-for="(item,index) in allData.objectList" @click="godiscussDetail(item.id)">
                    <img class="txLeft" :src="item.extInfo.member.picurl" alt="">
                    <div class="rCont">
                        <p class="name">{{item.extInfo.member.realname}}</p>
                        <p class="rFontWords" v-html="item.content"></p>
                        <p class="time">{{item.extInfo.createTime}}  · {{item.replayNum}}条回复
                            <span class="fr ml10 darkblue" v-if="userId == item.authId" @click.stop="delAppComment(item.id)">删除</span>
                            <span class="fr darkblue" v-if="item.authId!=userId&&item.extInfo.isAccusation == false" @click.stop="goReport(item.id)">举报</span>
                            <span class="fr darkblue" v-if="item.authId!=userId&&item.extInfo.isAccusation == true">已举报</span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- 固定尾部 -->
            <div class="stuFooter" @click="comment()">
                <div class="write">
                    <img src="../../assets/images/bi.png">
                    <p class="p1">写评论...</p>
                </div>
            </div>
            <!-- 弹窗二   点击写评论弹窗 -->
            <div class="tanWrap2" v-if="showTC2">
                <div class="title">
                    <p class="p1" @click="tan2Cancel()">取消</p>
                    <p class="p2">发布评论</p>
                    <p class="p3" @click="tan2Sure()">发布</p>
                </div>
                <textarea @blur="blurs" name="" id="" cols="30" rows="10" :placeholder="placeholder" v-model="commentCont"></textarea>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'

export default {
    data() {
        return {
            obj:{
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            solrId: this.$route.query.solrId,               //资源id
            curPage: 1,
            pageSize: 20,
            allData: '',            //查看详情数据


            // 弹窗二
            showTC2: false,       //点底部显示弹窗二
            commentCont: '',      //输入的内容
            placeholder: '请输入内容',
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {
        this.getResComments();       //查看详情
    },
    methods:{
        // 资源评论_获取资源评论列表
        getResComments(){
            var _this = this;
            var obj = {
                userId: this.userId,
                solrId: this.solrId,        //资源id
                curPage: this.curPage,
                pageSize: this.pageSize,
            };
            this.mainapi("getResComments", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 点击进入详情
        godiscussDetail(commentId){
            this.$router.push({
                path: 'commentDetail',
                query: {
                    solrId: this.solrId,
                    commentId: commentId,
                }
            })
        },
        // 点击删除评论
        delAppComment(commentId){
            console.log(commentId)
            this.$dialog.confirm({
                title: '是否确定删除该评论内容?',
            }).then(() => {
                // on confirm 点击确定的操作
                var _this = this
                var obj = {
                    userId: this.userId,
                    id: commentId,
                };
                this.mainapi("delAppComment", obj, function(res) {
                    if (res.data.status == 'SUCCESS') {
                        _this.getResComments()      //资源评论_获取资源评论列表
                    }
                });
            })
        },

        // 点击举报
        goReport(commentId) {
            this.$router.push({
                path: 'report',
                query: {
                    commentId: commentId,//评论id
                    whatComeReport: 1,        //哪里来的举报 0资源举报  1资源评论_举报评论  2资源评论_举报回复
                }
            })
        },

        // 弹窗
        // 点击底部进入评论列表
        comment(){
            this.showTC2 = true;
        },
        // 点取消
        tan2Cancel(){
            this.showTC2 = false;
        },
        // 点发布 资源评论_添加评论
        tan2Sure(){
            var _this = this
            if(!this.commentCont.replace(/^\s+|\s+$/g,"")){
                return false;
            }
            var obj = {
                userId: this.userId,
                content: this.commentCont,   //评论内容
                solrId: this.solrId,         //资源id
            };
            this.mainapi("addComment", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.showTC2 = false;
                    _this.getResComments()      //资源评论_获取资源评论列表
                }
            });
        },
        // textarea失去焦点(为了解决ios键盘收回区域错乱的问题)
        blurs(){
            window.scroll(0, 0);
        },
    }
}
</script>

<style scoped>
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap{
        width: 100%;
        height: auto;
    }
    .allWrap .reInteraction{
        width: 100%;
        height: auto;
    }



</style>
