<template>
    <div class="allWrap">
        <Header :title=title></Header>
        <div class="upCover">
            <div v-if="title == '封面上传'">
                <p class="topTitle1">文档支持格式：jpg(gif、png、bmp)</p>
                <img class="addImg" src="../../assets/images/photoImg.png" alt="">
            </div>
            <div v-if="title == '附件上传'">
                <p class="topTitle2">文档支持格式：doc(docx)、xls(xlsx)、ppt(pptx)、pdf、txt、rar、zip、jpg(gif、png、bmp)</p>
                <van-uploader 
                    v-model="file_list"
                    accept=".jpg,.gif,.png,.bmp,.jpeg,.txt,.pdf,.ppt,.pptx,.doc,.docx,.xls,.xlsx,.rar,.zip"
                    :max-size=10485760
                    :preview-image="false"
                    @oversize="prompt_for_oversize"
                    :disabled = "file_list[0]?true:false"
                >
                    <img class="addImg" src="../../assets/images/addImg.png" alt="">
                    <p class="localTips">本地导入文档</p>
                </van-uploader>
            </div>
            <div>
                <p class="topTitle1" v-if="title == '封面上传'">上传成功</p>
                <div class="listWrap">
                    <div class="list clear" v-if="file_list[0]">
                        <img class="imgLeft" src="../../assets/images/icon13.png" alt="">
                        <p class="fileName">{{file_list[0].file.name}}</p>
                        <img class="delImg" src="../../assets/images/delImg.png" alt="" @click="delFild">
                    </div>
                </div>
            </div>
            <p class="sureUp sureUpOver" @click="submitUpload">确定上传</p>

        </div>
        
    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'
import { Toast } from 'vant';   
import siteconfig from '../../assets/js/api'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true        //header页面  img路径
            },
            title: this.$route.query.title,
            file_list:[]
        };
    },
    components: {
        Header,
        Footer,
    },
    created() {},
    mounted() {

    },
    methods:{
        // 检测上传文件大小
        prompt_for_oversize: function(file) {
            console.log(file)
            this.$dialog.alert({
                title: '上传文件过大！',
            })
        },
        // 删除文件
        delFild(){
            this.file_list = []
        },
        // 确定上传
        submitUpload: function() {
            const _this = this
            if(this.file_list.length>0){
               
                var data = new FormData();                  //创建formData对象,以便进行赋值传参
                data.append('face',this.file_list[0].file)                    //指定类型file
                data.append('return_uri','jsonp')         //给后台传的参数(return_uri:fileurl)
                let config = {                              //headers头类型
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                let baseUrl = process.env.NODE_ENV == 'development' ? '/api' : siteconfig.api.yxt()     
                axios.post(baseUrl + '/uploader/imgupload.do?params=subPath:C_yearMonth', data, config).then(res => {   //(接口地址,参数,header头类型)
                     if (res.data.success == 'success') {
                        
                        Toast('上传成功！');
                        let fileInfo = {
                            url: res.data.url,
                            file: _this.file_list[0].file
                        }
                       localStorage.setItem("user",JSON.stringify(fileInfo))
                        //调用router回退页面
                        _this.$router.go(-1);
                    }
                    
                })
            } else {
                 Toast('请先选择要上传的文件！')
            }
        },
        // 点击退出登录
        logout(){
            localStorage.clear();
            this.$router.push('/login');
        }
    }
}
</script>
<style>
    .van-uploader__wrapper{
        justify-content: center;
    }
</style>
<style scoped>
    .van-uploader{
        width: 100%;
    }
    
    html,body{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
    .upCover .topTitle1{
        width: 6.9rem;
        height: 0.88rem;
        padding: 0 0.3rem;
        line-height: 0.88rem;
        background: #FFF6DC;
        font-size: 0.3rem;
        color: #E77C0E;
    }
    .upCover .topTitle2{
        width: 6.9rem;
        height: auto;
        padding: 0.2rem 0.3rem;
        background: #FFF6DC;
        font-size: 0.3rem;
        color: #E77C0E;
    }
    .upCover .addImg{
        width: 2.16rem;
        height: 2.16rem;
        display: block;
        margin: 3.4rem auto 0;
    }
    .upCover .localTips{
        font-size: 0.36rem;
        color: #A3A3A3;
        padding-top: 0.3rem;
        text-align: center;
    }
    .upCover .listWrap{
        width: 100%;
        height: auto;
    }
    .upCover .listWrap .list{
        width: 6.9rem;
        height: auto;
        margin: 0.36rem auto 0;
        background: #F6F8FA;
        border-radius: 0.08rem;
        padding: 0.2rem 0;
    }
    .upCover .listWrap .list .imgLeft{
        width: 0.8rem;
        height: 0.8rem;
        margin-left: 0.2rem;
        float: left;
    }
    .upCover .listWrap .list .fileName{
        font-size: 0.3rem;
        color: rgba(0,0,0,0.85);
        line-height: 0.8rem;
        margin-left: 0.2rem;
        float: left;
        max-width: 5rem;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
    .upCover .listWrap .list .delImg{
        width: 0.3rem;
        height: 0.3rem;
        margin-top: 0.25rem;
        margin-right: 0.25rem;
        float: right;
    }
    .sureUp {
        width: 6.9rem;
        height: 0.88rem;
        line-height: 0.88rem;
        background: #d8d8d8;
        border-radius: 0.44rem;
        margin: 0.5rem auto;
        font-size: 0.3rem;
        color: #ffffff;
        text-align: center;
    }
    .sureUpOver {
        background: #42a8ff;
    }
</style>