<template>
  <div class="allWrap">
    <Header title="上传资源"></Header>
    <div class="userinfo">
      <div class="allList">
        <div class="jianju"></div>
        <div class="list">
          <p class="pLeft">
            <span>*</span>上传位置
          </p>
          <div class="clear fl">
            <p
              :class="['pCircleOne',whatType == 0 ? 'pCircleOneSel' : '']"
              @click="clickWhatType(0)"
            >
              <span></span>
            </p>
            <p class="whatPosi">教学资源</p>
          </div>
          <div class="clear fl">
            <p
              :class="['pCircleOne',whatType == 1 ? 'pCircleOneSel' : '']"
              @click="clickWhatType(1)"
            >
              <span></span>
            </p>
            <p class="whatPosi">微课资源</p>
          </div>
        </div>
        <!-- 教学资源 -->
        <div v-show="whatType == 0">
          <div class="list">
            <p class="pLeft">
              <span>*</span>资源名称
            </p>
            <div class="clear fl">
              <p
                class="pupWords"
              >{{file_list[0] ? file_list[0].file.name.split('.')[0] : '请先上传文档（0/30）'}}</p>
            </div>
          </div>
          <div class="list list2">
            <p class="pLeft">文件描述</p>
            <textarea
              class="describe"
              name
              id
              cols="30"
              rows="10"
              placeholder="请输入（0/200)"
              v-model="describe"
            ></textarea>
          </div>
          <div class="jianju1">
            <p
              class="topTitle2"
            >文档支持格式：doc(docx)、xls(xlsx)、ppt(pptx)、pdf、txt、rar、zip、jpg(gif、png、bmp)</p>
          </div>
          <div class="list">
            <p class="pLeft">
              <span>*</span>附件上传
            </p>
            <div class="clear fr">
              <p class="pRight1">上传的附件最大为50M</p>
              <van-uploader
                v-model="file_list"
                accept=".jpg, .gif, .png, .bmp, .jpeg, .txt, .pdf, .ppt, .pptx, .doc, .docx, .xls, .xlsx, .rar, .zip"
                :max-size="10485760"
                :preview-image="false"
                @oversize="prompt_for_oversize"
                :after-read="afterRead"
              >
                <img class="addImg" src="../../assets/images/addImg.png" alt />
              </van-uploader>
            </div>
          </div>

          <div class="fileListWrap" v-if="file_list[0]">
            <div class="fileList clear">
              <img class="imgLeft" src="../../assets/images/icon13.png" alt />
              <p class="fileName">{{file_list[0].file.name}}</p>
              <img class="delImg" src="../../assets/images/delImg.png" alt @click="delFild" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">
              <span>*</span>公开方式
            </p>
            <div class="clear fr" @click="clickApproach">
              <p class="pRight1">{{checkedApproach?checkedApproach.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list" v-if="checkedApproach?checkedApproach.id==3:false">
            <p class="pLeft">
              <span>*</span>设置金额
            </p>
            <div class="clear fr">
              <input class="input1" type="text" v-model="amount" @blur="disAmount" placeholder="请输入(0.1-999.99)" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">
              <span>*</span>分类
            </p>
            <div class="clear fr" @click="clickClassify">
              <p class="pRight1">{{checkedClassify?checkedClassify.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>

          <div class="list">
            <p class="pLeft">
              <span>*</span>资源类型
            </p>
            <div class="clear fr" @click="clickResource">
              <p class="pRight1">{{checkedResource?checkedResource.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">学段</p>
            <div class="clear fr" @click="clickStage">
              <p class="pRight1">{{checkedStage?checkedStage.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">学科</p>
            <div class="clear fr" @click="clickSubject">
              <p class="pRight1">{{checkedSubject?checkedSubject.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">教材</p>
            <div class="clear fr" @click="clickTextbook">
              <p class="pRight1">{{checkedTextbook?checkedTextbook.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">年级</p>
            <div class="clear fr" @click="clickGrade">
              <p class="pRight1">{{checkedGrade?checkedGrade.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">章</p>
            <div class="clear fr" @click="clickChapter">
              <p class="pRight1">{{checkedChapter?checkedChapter.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">节</p>
            <div class="clear fr" @click="clickNode">
              <p class="pRight1">{{checkedNode?checkedNode.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list" v-if="nodulusList.length>0">
            <p class="pLeft">小节</p>
            <div class="clear fr" @click="clickNodulus">
              <p class="pRight1">{{checkedNodulus?checkedNodulus.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">一级知识点</p>
            <div class="clear fr" @click="clickKnowledge1">
              <p class="pRight1">{{checkedKnowledge1?checkedKnowledge1.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">二级知识点</p>
            <div class="clear fr" @click="clickKnowledge2">
              <p class="pRight1">{{checkedKnowledge2?checkedKnowledge2.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list" v-if="knowledge3List.length>0">
            <p class="pLeft">三级知识点</p>
            <div class="clear fr" @click="clickKnowledge3">
              <p class="pRight1">{{checkedKnowledge3?checkedKnowledge3.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
        </div>
        <!-- 微课资源 -->
        <div v-show="whatType == 1">
          <div class="list">
            <p class="pLeft">
              <span>*</span>资源名称
            </p>
            <div class="clear fl">
              <p class="pupWords">{{videoFile.name ? videoFile.name : '请先上传文档（0/30）'}}</p>
            </div>
          </div>
          <div class="list list2">
            <p class="pLeft">文件描述</p>
            <textarea
              class="describe"
              name
              id
              cols="30"
              rows="10"
              placeholder="请输入（0/200)"
              v-model="describe"
            ></textarea>
          </div>
          <div class="jianju1">
            <p class="topTitle2">文档支持格式：flv、mp4、mp3,上传的视频最大为1024M</p>
          </div>
          <div class="list" style="height: auto">
            <form id="fileupload" method="POST" enctype="multipart/form-data">
              <div class="row fileupload-buttonbar">
                <div
                  class="col-lg-7 mb10"
                  style="display: flex;justify-content: space-between;align-items: center;"
                >
                  <p class="pLeft">
                    <span style="color: #f14d44;margin-right: 0.05rem;">*</span>视频上传
                  </p>
                  <span class="btn btn-primary fileinput-button" style="margin-right: .3rem">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>上传视频</span>
                    <input style="width: 100%;height: 100%;" type="file" name="files" />
                  </span>
                </div>
              </div>

              <div class="updiv mt1" v-if="videoFile.name">
                <table class="uptable table table-striped table-hover" style="margin-bottom: 0">
                  <tbody class="files">
                    <tr class="template-upload">
                      <td style="width:300px;">
                        <p class="name">{{videoFile.name}}</p>
                      </td>
                      <td style class="operate">
                        <img
                          class="delImg"
                          src="../../assets/images/delImg.png"
                          style="margin-top: 0"
                          @click="delVideo"
                        />
                      </td>
                      <td width="0%" style="display:none">
                        <input id="isPause" value="false" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>

          <div class="jianju1">
            <p class="topTitle2">文档支持格式：jpg(gif、png、bmp)</p>
          </div>
          <div class="list">
            <p class="pLeft">封面上传</p>
            <div class="clear fr">
              <p class="pRight1">图片小于1M</p>
              <van-uploader
                v-model="pic_list"
                accept=".jpg, .gif, .png, .bmp, .jpeg"
                :max-size="10485760"
                :preview-image="false"
                @oversize="prompt_for_oversize"
                :after-read="picAfterRead"
              >
                <img class="addImg" src="../../assets/images/addImg.png" alt />
              </van-uploader>
            </div>
          </div>
          <div class="fileListWrap" v-if="pic_list[0]">
            <div class="fileList clear">
              <img class="imgLeft" src="../../assets/images/icon13.png" alt />
              <p class="fileName">{{pic_list[0].file.name}}</p>
              <img class="delImg" src="../../assets/images/delImg.png" alt @click="delPic" />
            </div>
          </div>

          <div class="list">
            <p class="pLeft">
              <span>*</span>公开方式
            </p>
            <div class="clear fr" @click="clickApproach">
              <p class="pRight1">{{checkedApproach?checkedApproach.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list" v-if="checkedApproach?checkedApproach.id==3:false">
            <p class="pLeft">
              <span>*</span>设置金额
            </p>
            <div class="clear fr">
              <input class="input1" type="text" v-model="amount" @blur="disAmount" placeholder="请输入(0.1-999.99)" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">
              <span>*</span>微课类型
            </p>
            <div class="clear fr" @click="clickMicrolecture">
              <p class="pRight1">{{checkedMicrolecture?checkedMicrolecture.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">学段</p>
            <div class="clear fr" @click="clickStage">
              <p class="pRight1">{{checkedStage?checkedStage.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">学科</p>
            <div class="clear fr" @click="clickSubject">
              <p class="pRight1">{{checkedSubject?checkedSubject.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">教材版本</p>
            <div class="clear fr" @click="clickTextbook">
              <p class="pRight1">{{checkedTextbook?checkedTextbook.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">年级</p>
            <div class="clear fr" @click="clickGrade">
              <p class="pRight1">{{checkedGrade?checkedGrade.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">章</p>
            <div class="clear fr" @click="clickChapter">
              <p class="pRight1">{{checkedChapter?checkedChapter.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">节</p>
            <div class="clear fr" @click="clickNode">
              <p class="pRight1">{{checkedNode?checkedNode.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list" v-if="nodulusList.length>0">
            <p class="pLeft">小节</p>
            <div class="clear fr" @click="clickNodulus">
              <p class="pRight1">{{checkedNodulus?checkedNodulus.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">一级知识点</p>
            <div class="clear fr" @click="clickKnowledge1">
              <p class="pRight1">{{checkedKnowledge1?checkedKnowledge1.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list">
            <p class="pLeft">二级知识点</p>
            <div class="clear fr" @click="clickKnowledge2">
              <p class="pRight1">{{checkedKnowledge2?checkedKnowledge2.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
          <div class="list" v-if="knowledge3List.length>0">
            <p class="pLeft">三级知识点</p>
            <div class="clear fr" @click="clickKnowledge3">
              <p class="pRight1">{{checkedKnowledge3?checkedKnowledge3.text:'请选择'}}</p>
              <img class="img2" src="../../assets/images/youjiantou.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="clear agreement">
        <input type="checkbox" v-model="checkbox" />
        <p class="p1">我同意</p>
        <router-link to="agreementZYSC" tag="p" class="p2">资源上传协议</router-link>
      </div>
      <van-button :disabled="!checkbox" class="sureUp" type="info" @click="submit">确定上传</van-button>
    </div>
    <!-- 弹出选择器 -->
    <PopupPicker
      :pTitle="pTitle"
      :isShow="isShowPicker"
      :columns="columns"
      @cancelPop="cancelPop($event)"
      @confirmPop="confirmPop($event)"
    ></PopupPicker>

    <!-- 提示 加载 -->
    <div class="loading-wrap" v-show="showLoading">
      <van-loading type="spinner" size="24px"  color="#ffffff" vertical>正在上传...</van-loading>
    </div>
    
  </div>
</template>

<script>
import siteconfig from "../../assets/js/api";
import Header from "../common/header";
import Footer from "../common/footer";
import PopupPicker from "../common/popupPicker";
import axios from "axios";
import { Popup, Picker, Toast } from "vant";

export default {
  data() {
    return {
      obj: {
        isSelect: true, //header页面  select类名
        isImg1: true, //header页面  img路径
      },
      userId: localStorage.getItem("user")
        ? JSON.parse(localStorage.getItem("user")).userId
        : "",
      whatType: 0, //0教学资源  1微课资源
      describe: "", // 文件描述
      file_list: [], //上传附件
      fileUrl: "",
      videoUploadId: "",
      picUrl: "",
      videoFile: {
        name: "",
      }, //上传视频
      pic_list: [], //上传封面
      isShowPicker: false,
      pTitle: "",
      objName: "", // 配合确定自定义的字段
      approach: [
        { text: "免费公开", id: 0 },
        { text: "个人私有", id: 2 },
        { text: "付费公开", id: 3 },
      ], // 公开方式 	0免费公开1仅项目可见2是个人私有3付费公开
      checkedApproach: null, //公开方式
      amount: "", //设置金额
      checkedClassify: null, // 分类
      checkedResource: null, //资源类型
      checkedStage: null, //学段
      checkedSubject: null, //学科
      checkedTextbook: null, //教材
      checkedGrade: null, //年级
      checkedChapter: null, //章
      checkedNode: null, //节
      checkedNodulus: null, //小节
      nodulusList: [], // 小节列表
      checkedKnowledge1: null, //知识点目录1
      checkedKnowledge2: null, //知识点目录2
      checkedKnowledge3: null, //知识点目录3
      knowledge3List: [], //知识点目录3 列表
      checkedMicrolecture: null, //微课类型
      columns: [],
      checkbox: false, // 同意协议
      videoUploadInfo: null, // 视频上传创建信息
      showLoading: false
    };
  },
  components: {
    Header,
    Footer,
    PopupPicker,
  },
  watch: {
    isShowPicker(newName, oldName) {
      console.log(newName, oldName);
    },
    columns(newName, oldName) {
      console.log(newName, oldName);
    },
    pTitle(newName, oldName) {
      console.log(newName, oldName);
    },
  },
  mounted() {
    var _this = this;
    var uploader = new CCH5Uploader({
      timeout: 180000, // 设置超时处理时间 超时时间3分钟 超时会重试
      maxChunkSize: 1024 * 1024, // 1M 最大不超过4M
      maxSize:1073741824,
      limitConcurrentUploads: 1, //并发上传文件数
      maxRetries: 10, // 文件上传失败重试次数,默认10次
      retryTimeout: 500, //重试延迟时间（毫秒）
      autoUpload: true, //是否添加文件后自动上传
      fileInput: $("#fileupload").find("input[type='file']"), //文件输入组件，必需要有的配置,可以是多个
      filesContainer: $(".files"), //上传文件记录显示的容器

      // 重写获取分类名的方法,没有分类时不需要配置或者返回null
      getCategoryName: function () {
        var hasCategory = $("#uploadCategory").length > 0;
        if (!hasCategory) {
          return null;
        }
        return $("#selectCategoryInput").attr("title");
      },
      //重写获取分类id的方法,没有分类时不需要配置或者返回null
      getCategoryId: function () {
        var hasCategory = $("#uploadCategory").length > 0;
        if (!hasCategory) {
          return null;
        }
        return $("#uploadCategory").val();
      },
      //上传失败重试指定次数后依然失败后的回调
      uploadFail: function (recordNode, fileName, failMsg) {
        _this.errorMsgHandler(_this.getShortStr(fileName, 10) + "文件上传失败");
        if (recordNode.find(".rate").length > 0) {
          if (recordNode.find("#pause").css("display") != "none") {
            recordNode.find("#pause").click();
          }
          // 有暂停操作的示例
          recordNode
            .find(".rate")
            .html(
              '<div class="tc" style="margin-top:6px;color:red;">上传失败</div>'
            );
        } else {
          // 无暂停操作的示例
          recordNode
            .find(".start")
            .parent()
            .append('<span style="color:red;">上传失败</span>');
        }
      },

      //上传成功回调,可不做任何处理
      uploadSuccess: function (recordNode, fileName, ccvid) {
        
        _this.videoFile = { name: fileName };
        _this.videoUploadId = ccvid; // submitCC
        var obj = {
          userId: _this.userId,
          title: fileName,
          vid: _this.videoUploadInfo.videoid,
          servicetype: _this.videoUploadInfo.servicetype,
          metaurl: _this.videoUploadInfo.metaurl,
          chunkurl: _this.videoUploadInfo.chunkurl,
        };
        _this.mainapi("submitCC", obj, function (res) {
          if (res.data.status == "SUCCESS") {
            _this.videoUploadId = res.data.c.videoUploadId;
            _this.showLoading = false
          }
        });
        // console.log(fileName + "上传成功", _this.videoUploadInfo);
        // console.log("对应的视频id为：" + ccvid);
        // console.log(recordNode);
      },

      // 生成视频信息
      createuploadinfo: function (fileName, fileSize, categoryId) {
        _this.showLoading = true
        var video = {};
        var encodeFileName = encodeURIComponent(fileName);
        var d = {
          title: encodeFileName,
          filename: encodeFileName,
          filesize: fileSize,
          userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
        };

        //默认分类时不传分类id参数
        if (!!categoryId && categoryId != 0) {
          d.categoryid = categoryId;
        }

       let baseUrl = siteconfig.api.yxt();
       //http://cas.cs.teacheredu.cn
        $.ajax({
          url: baseUrl+"proj/proj/tlogin/mobile/resourcelib/resCCUploadAjax/createVideoUploadInfo.json",
          async: false, //必须以同步的方式执行，否则后续操作拿不到接口返回的数据
          type: "post",
          data: d,
          cache: false,
          dataType: "json",
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          error: function () {
            _this.showLoading = false
            video = {
              errMsg: "获取视频文件vid出错",
              errorType: "network",
            };
          },
          success: function (data) {
            // console.log('0000----',data);
           
            var data = data.c
            _this.videoUploadInfo = data.videoUploadInfo
            if(data.errMsg){
              video.errMsg = data.errMsg;
              return;
            }
            video.success = true;
            video.uid = data.videoUploadInfo.userid;
            video.ccvid = data.videoUploadInfo.videoid;
            video.servicetype = data.videoUploadInfo.servicetype;
            video.name = fileName;
            video.uri = data.videoUploadInfo.chunkurl;
            video.metauri = data.videoUploadInfo.metaurl;
            video.size = fileSize;
          }
        });
        // console.log("0000---", video);
        return video;
      },
    });
  },
  methods: {
    getShortStr(str, maxLen) {
      if (typeof str != "string" || str.length <= maxLen) {
        return str;
      }
      return str.substr(0, maxLen) + "...";
    },
    errorMsgHandler(msg) {
      alert(msg);
    },
    // 上传前  附件
    afterRead(file) {
      const _this = this;
      this.file_list = [];
      this.file_list.push(file);
      var data = new FormData(); //创建formData对象,以便进行赋值传参
      data.append("face", this.file_list[0].file); //指定类型file
      data.append("return_uri", "jsonp"); //给后台传的参数(return_uri:fileurl)
      let config = {
        //headers头类型
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };
      let baseUrl = siteconfig.api.yxt();
      console.log("baseUrl---", baseUrl);
      axios
        .post(
          baseUrl + "/uploader/imgupload.do?params=subPath:C_yearMonth",
          data,
          config
        )
        .then((res) => {
          //(接口地址,参数,header头类型)
          if (res.data.success == "success") {
            _this.fileUrl = res.data.url;
          }
        });
    },
    // 检测上传文件大小
    prompt_for_oversize: function (file) {
      this.$dialog.alert({
        title: "上传文件过大！",
      });
    },
    // 删除文件
    delFild() {
      this.file_list = [];
      this.fileUrl = "";
    },

    // 删除视频
    delVideo() {
      this.videoFile = {
        name: "",
      };
      this.videoUploadId = "";
    },
    // 上传前  封面
    picAfterRead(file) {
      const _this = this;
      this.pic_list = [];
      this.pic_list.push(file);
      var data = new FormData(); //创建formData对象,以便进行赋值传参
      data.append("face", this.pic_list[0].file); //指定类型file
      data.append("return_uri", "jsonp"); //给后台传的参数(return_uri:fileurl)
      let config = {
        //headers头类型
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };
      let baseUrl = process.env.NODE_ENV == "development" ? "/api" : "";
      axios
        .post(
          baseUrl + "/uploader/imgupload.do?params=subPath:C_yearMonth",
          data,
          config
        )
        .then((res) => {
          //(接口地址,参数,header头类型)
          if (res.data.success == "success") {
            _this.picUrl = res.data.url;
          }
        });
    },
    // 删除文件
    delPic() {
      this.pic_list = [];
    },
    //点击教学资源/微课资源
    clickWhatType(type) {
      this.whatType = type == 0 ? 0 : 1;

      this.file_list = [];
      this.videoFile = {
        name: "",
      };
      this.videoUploadId = "";
      this.pic_list = [];
      this.checkedApproach = null; //公开方式
      this.amount = ""; //设置金额
      this.checkedClassify = null; // 分类
      this.checkedResource = null; //资源类型
      this.checkedStage = null; //学段
      this.checkedSubject = null; //学科
      this.checkedTextbook = null; //教材
      this.checkedGrade = null; //年级
      this.checkedChapter = null; //章
      this.checkedNode = null; //节
      this.checkedNodulus = null; //小节
      this.checkedKnowledge1 = null; //一级知识点
      this.checkedKnowledge2 = null; //二级知识点
      this.checkedKnowledge3 = null; //三级知识点
      this.checkedMicrolecture = null; //微课类型
      this.columns = [];
      this.fileUrl = "";
    },
    // 公开方式
    clickApproach() {
      this.isShowPicker = true;
      this.columns = this.approach;
      this.pTitle = "公开方式";
      this.objName = "checkedApproach";
    },
    // 分类
    clickClassify() {
      var _this = this;
      var obj = {
        parentId: 0, //父级id
        level: 7,
      };
      this.objName = "checkedClassify";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "分类";
          }
        }
      });
    },
    // 资源类型
    clickResource() {
      if (!this.checkedClassify) {
        return false;
      }
      var _this = this;
      var obj = {
        parentId: this.checkedClassify.id,
        level: 7,
      };
      this.objName = "checkedResource";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "资源类型";
          }
        }
      });
    },
    // 微课类型
    clickMicrolecture() {
      var _this = this;
      var obj = {
        parentId: 0, //父级id
        level: 12,
      };
      this.objName = "checkedMicrolecture";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "微课类型";
          }
        }
      });
    },
    // 学段
    clickStage() {
      var _this = this;
      var obj = {
        parentId: 0,
        level: 1,
      };
      this.objName = "checkedStage";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "学段";
          }
        }
      });
    },
    // 学科
    clickSubject() {
      if (!this.checkedStage) {
        return false;
      }
      var _this = this;
      var obj = {
        parentId: this.checkedStage.id,
        level: 2,
      };
      this.objName = "checkedSubject";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "学科";
          }
        }
      });
    },
    // 教材
    clickTextbook() {
      if (!this.checkedSubject) {
        return false;
      }
      var _this = this;
      var obj = {
        parentId: this.checkedSubject.id,
        level: 3,
      };
      this.objName = "checkedTextbook";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "教材版本";
          }
        }
      });
    },
    // 年级
    clickGrade() {
      if (!this.checkedTextbook) {
        return false;
      }
      var _this = this;
      var obj = {
        parentId: this.checkedTextbook.id,
        level: 3,
      };
      this.objName = "checkedGrade";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "年级";
          }
        }
      });
    },
    // 章
    clickChapter() {
      if (!this.checkedGrade) {
        return false;
      }
      var _this = this;
      var obj = {
        parentId: this.checkedGrade.id,
        level: 3,
      };
      this.objName = "checkedChapter";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "章";
          }
        }
      });
    },
    // 节
    clickNode() {
      if (!this.checkedChapter) {
        return false;
      }
      var _this = this;
      var obj = {
        parentId: this.checkedChapter.id,
        level: 3,
      };
      this.objName = "checkedNode";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "节";
          }
        }
      });
    },
    // 小节
    clickNodulus() {
      this.objName = "checkedNodulus";
      this.columns = [];
      for (let i = 0; i < this.nodulusList.length; i++) {
        this.columns[i] = {
          text: this.nodulusList[i].dictName,
          id: this.nodulusList[i].id,
        };
        this.isShowPicker = true;
        this.pTitle = "小节";
      }
    },
    // 一级知识点
    clickKnowledge1() {
      if (!this.checkedSubject) {
        return false;
      }
      var _this = this;
      var obj = {
        parentId: this.checkedSubject.id,
        level: 9,
      };
      this.objName = "checkedKnowledge1";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "一级知识点";
          }
        }
      });
    },
    // 二级知识点
    clickKnowledge2() {
      if (!this.checkedKnowledge1) {
        return false;
      }
      var _this = this;
      var obj = {
        parentId: this.checkedKnowledge1.id,
        level: 9,
      };
      this.objName = "checkedKnowledge2";
      this.mainapi("getSolrDictList", obj, function (res) {
        if (res.data.status == "SUCCESS") {
          _this.columns = [];
          for (let i = 0; i < res.data.c.length; i++) {
            _this.columns[i] = {
              text: res.data.c[i].dictName,
              id: res.data.c[i].id,
            };
            _this.isShowPicker = true;
            _this.pTitle = "二级知识点";
          }
        }
      });
    },
    // 三级知识点
    clickKnowledge3() {
      //
      this.objName = "checkedKnowledge3";
      this.columns = [];
      for (let i = 0; i < this.knowledge3List.length; i++) {
        this.columns[i] = {
          text: this.knowledge3List[i].dictName,
          id: this.knowledge3List[i].id,
        };
        this.isShowPicker = true;
        this.pTitle = "三级知识点";
      }
    },
    // 确定
    confirmPop(v) {
      this.isShowPicker = v.isShow;
      this[this.objName] = v.value;
      switch (this.objName) {
        case "checkedClassify": // 分类切换 ==》 初始化资源
          this.checkedResource = null;
          break;
        case "checkedStage": // 学段切换 ==》 初始化学科/教材版本/章节目录/一级/二级/三级知识点
          this.checkedSubject = null; //学科
          this.checkedTextbook = null; //教材
          this.checkedGrade = null; //年级
          this.checkedChapter = null; //章
          this.checkedNode = null; //节
          this.checkedNodulus = null; //小节
          this.checkedKnowledge1 = null; //一级知识点
          this.checkedKnowledge2 = null; //二级知识点
          this.checkedKnowledge3 = null; //三级知识点
          break;
        case "checkedSubject": // 学科切换 ==》 初始化教材版本/章/节/小节
          this.checkedTextbook = null; //教材
          this.checkedGrade = null; //年级
          this.checkedChapter = null; //章
          this.checkedNode = null; //节
          this.checkedNodulus = null; //小节
          this.checkedKnowledge1 = null; //一级知识点
          this.checkedKnowledge2 = null; //二级知识点
          this.checkedKnowledge3 = null; //三级知识点
          break;
        case "checkedTextbook": // 教材切换 ==》 初始化年级/章/节/小节
          this.checkedGrade = null; //年级
          this.checkedChapter = null; //章
          this.checkedNode = null; //节
          this.checkedNodulus = null; //小节
          break;
        case "checkedGrade": // 年级切换 ==》 初始化章/节/小节
          this.checkedChapter = null; //章
          this.checkedNode = null; //节
          this.checkedNodulus = null; //小节
          break;
        case "checkedChapter": // 章切换 ==》 初始化节/小节
          this.checkedNode = null; //节
          this.checkedNodulus = null; //小节
          break;
        case "checkedNode": // 教节切换 ==》 初始化小节
          // 检测是否有小节  nodulusList
          this.checkedNodulus = null; //小节
          var _this = this;
          var obj = {
            parentId: this.checkedNode.id,
            level: 3,
          };
          this.mainapi("getSolrDictList", obj, function (res) {
            if (res.data.status == "SUCCESS" && res.data.c) {
              _this.nodulusList = res.data.c;
            }
          });
          break;
        case "checkedKnowledge1": //一级知识点切换  切换 ==》 初始化 二级/三级 知识点
          this.checkedKnowledge2 = null; //二级知识点
          this.checkedKnowledge3 = null; //三级知识点
          break;
        case "checkedKnowledge2": //二级知识点切换  切换 ==》 初始化 三级 知识点
          this.checkedKnowledge3 = null; //三级知识点
          var _this = this;
          var obj = {
            parentId: this.checkedKnowledge2.id,
            level: 9,
          };
          this.mainapi("getSolrDictList", obj, function (res) {
            if (res.data.status == "SUCCESS" && res.data.c) {
              _this.knowledge3List = res.data.c;
            }
          });
          break;
      }
    },
    // 关闭
    cancelPop(b) {
      this.isShowPicker = b;
    },
    // 金额处理
    disAmount (){
     
      var URL = window.location.href
      if (URL.indexOf("cspub") > 0 || URL.indexOf("cs") > 0) { // 内网测试环境
        if(this.amount>0 && this.amount < 1000){
          if(this.amount.split('.')[1].length>2){
             Toast("最多可输入两位小数！");
            this.amount = ''
          }
        }else{
          Toast("请正确输入金额！");
          this.amount = ''
        }
      }else{  // 外网正式环境
        if(this.amount>0.1 && this.amount < 1000){
          if(this.amount.split('.')[1].length>2){
            Toast("最多可输入两位小数！");
            this.amount = ''
          }
        }else{
          Toast("请正确输入金额！");
          this.amount = ''
        }
      }
    },
    // 确定上传
    submit() {
      const _this = this;
      
      if (this.whatType == 0) {
        if (!this.file_list[0]) {
          Toast("请上传附件");
          return false;
        }
        if (!this.checkedApproach) {
          Toast("请选择公开方式");
          return false;
        }
        if (  this.checkedApproach &&  this.checkedApproach.id == 3 &&  !this.amount  ) {
          Toast("请填写金额");
          return false;
        }
        if (!this.checkedClassify) {
          Toast("请选择分类");
          return false;
        }
        if (!this.checkedResource) {
          Toast("请选择资源类型");
          return false;
        }
        var obj = {
          userId: this.userId,
          name: this.file_list[0].file.name.split(".")[0], //资源名
          note: this.describe, // 资源描述
          file: this.fileUrl, // 附件地址
          price:this.amount, //金额
          isPublic: this.checkedApproach ? this.checkedApproach.id : "", //是否公开
          sysDictId11: this.checkedClassify ? this.checkedClassify.id : "", //分类id
          sysDictId7: this.checkedResource ? this.checkedResource.id : "", //资源类型
          sysDictId1: this.checkedStage ? this.checkedStage.id : "", //学段id
          sysDictId2: this.checkedSubject ? this.checkedSubject.id : "", //学科id
          sysDictId3: this.checkedTextbook ? this.checkedTextbook.id : "", //教材版本id
          sysDictId4: this.checkedGrade ? this.checkedGrade.id : "", //年级id
          sysDictId5: this.checkedChapter ? this.checkedChapter.id : "", //章id
          sysDictId6: this.checkedNode ? this.checkedNode.id : "", //节目录id
          usrDictId10: this.checkedNodulus ? this.checkedNodulus.id : "", //小节目录id
          sysDictId8: this.checkedKnowledge1 ? this.checkedKnowledge1.id : "", //知识点第一级
          sysDictId9: this.checkedKnowledge2 ? this.checkedKnowledge2.id : "", //知识点第2级
          sysDictId10: this.checkedKnowledge3 ? this.checkedKnowledge3.id : "", //知识点第3级
        };

        this.mainapi("addResource", obj, function (res) {
          if (res.data.status == "SUCCESS") {
            Toast("添加成功");
            _this.$router.push("/myUp?headerTitle=我的上传"); // 成功后跳转到我的上传页
          }
        });
      } else if (this.whatType == 1) {
        if (!this.videoUploadId) {
          Toast("请上传视频");
          return false;
        }
        if (!this.checkedApproach) {
          Toast("请选择公开方式");
          return false;
        }
        if (
          this.checkedApproach &&
          this.checkedApproach.id == 3 &&
          !this.amount
        ) {
          Toast("请填写金额");
          return false;
        }
        if (!this.checkedMicrolecture) {
          Toast("请选择微课类型");
          return false;
        }
        var obj = {
          userId: this.userId,
          fileName: this.videoFile.name, //微课名称带后缀
          description: this.describe, // 资源描述
          videoUploadId: this.videoUploadId, // submit接口返回参数
          videoImage: this.picUrl, // 封面地址
          isPublic: this.checkedApproach ? this.checkedApproach.id : "", //是否公开
           price:this.amount, //金额
          sysDictId11: this.checkedMicrolecture
            ? this.checkedMicrolecture.id
            : "", //微课类型id
          sysDictId1: this.checkedStage ? this.checkedStage.id : "", //学段id
          sysDictId2: this.checkedSubject ? this.checkedSubject.id : "", //学科id
          sysDictId3: this.checkedTextbook ? this.checkedTextbook.id : "", //教材版本id
          sysDictId4: this.checkedGrade ? this.checkedGrade.id : "", //年级id
          sysDictId5: this.checkedChapter ? this.checkedChapter.id : "", //章id
          sysDictId6: this.checkedNode ? this.checkedNode.id : "", //节目录id
          usrDictId10: this.checkedNodulus ? this.checkedNodulus.id : "", //小节目录id
          sysDictId8: this.checkedKnowledge1 ? this.checkedKnowledge1.id : "", //知识点第一级
          sysDictId9: this.checkedKnowledge2 ? this.checkedKnowledge2.id : "", //知识点第2级
          sysDictId10: this.checkedKnowledge3 ? this.checkedKnowledge3.id : "", //知识点第3级
        };
this.$dialog.confirm({
                title: '是否确定上传？',
            }).then(()=>{
              this.mainapi("addLibVideo", obj, function (res) {
          if (res.data.status == "SUCCESS") {
            Toast("添加成功");
            _this.$router.push("/myUp?headerTitle=我的上传"); // 成功后跳转到我的上传页
          }
        });
            })
        
      }
    },
  },
};
</script>
<style scoped src="../../assets/css/bootstrap.css"></style>
<style scoped>
.loading-wrap{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.van-loading__text{
color: #ffffff;
}
.addImg {
  width: 1rem;
  height: 1rem;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.header {
  background: #fff;
}
.header img {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0.25rem;
}
.allWrap {
  width: 100%;
  height: auto;
  position: absolute;
  background: #f4f4f4;
  font-family: Microsoft YaHei;
}

.userinfo .allList {
  width: 100%;
  height: auto;
  background: white;
}
.userinfo .allList .list {
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
}
.userinfo .allList .list .img1 {
  width: 0.3rem;
  height: 0.3rem;
  margin-top: 0.35rem;
  margin-left: 0.3rem;
  float: left;
}
.userinfo .allList .list .pLeft {
  font-size: 0.28rem;
  color: #4a4a4a;
  line-height: 1rem;
  margin-left: 0.3rem;
  float: left;
}
.userinfo .allList .list .pLeft span {
  color: #f14d44;
  margin-right: 0.05rem;
}
.userinfo .allList .list .p2 {
  margin-right: 0.3rem;
  float: right;
}
.userinfo .allList .list .pRight1 {
  font-size: 0.3rem;
  line-height: 1rem;
  color: #a3a3a3;
  margin-right: 0.2rem;
  float: left;
}
.userinfo .allList .list .img2 {
  width: 0.2rem;
  height: 0.2rem;
  margin-top: 0.4rem;
  margin-right: 0.3rem;
  float: right;
}
.userinfo .allList .list2 {
  height: auto;
  padding-bottom: 0.2rem;
}
.userinfo .allList .list2 .input1 {
  width: 7.2rem;
  height: 0.6rem;
  outline: 0;
  border: 0;
  margin: 0 auto;
  font-size: 0.3rem;
  display: block;
}
.userinfo .allList .list .colorBlue {
  color: #55abeb;
}
.userinfo .allList .list .pCircleOne {
  width: 0.26rem;
  height: 0.26rem;
  border-radius: 50%;
  border: 1px solid #a3a3a3;
  margin-left: 0.6rem;
  margin-top: 0.33rem;
  float: left;
  position: relative;
}
.userinfo .allList .list .pCircleOneSel {
  border: 1px solid #55abeb;
}
.userinfo .allList .list .pCircleOneSel span {
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background: #55abeb;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -45%);
}
.userinfo .allList .list .whatPosi {
  font-size: 0.3rem;
  color: #212121;
  line-height: 1rem;
  margin-left: 0.12rem;
  float: left;
}
.userinfo .allList .list .pupWords {
  font-size: 0.3rem;
  color: #a3a3a3;
  line-height: 1rem;
  margin-left: 0.6rem;
  float: left;
  max-width: 5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.userinfo .allList .list .describe {
  width: 6.9rem;
  height: 1.5rem;
  font-size: 0.3rem;
  margin-left: 0.3rem;
  border: 0;
  outline: 0;
}
.userinfo .allList .list .input1 {
  font-size: 0.3rem;
  line-height: 1rem;
  border: 0;
  outline: 0;
  text-align: right;
  margin-right: 0.3rem;
}
.userinfo .jianju {
  width: 100%;
  height: 0.2rem;
  background: #f1f1f1;
}
.userinfo .jianju1 {
  width: 100%;
  padding: 0.2rem;
  background: #f1f1f1;
}
.userinfo .jianju1 .topTitle2 {
  font-size: 0.2rem;
  color: red;
}
.agreement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.4rem;
}
.agreement input {
  margin-top: 0.05rem;
}
.agreement .p1 {
  font-size: 0.26rem;
  color: #a3a3a3;
  margin-left: 0.1rem;
}
.agreement .p2 {
  font-size: 0.26rem;
  color: #42a8ff;
}
.sureUp {
  display: block;
  width: 6.9rem;
  border-radius: 0.44rem;
  margin: 0.5rem auto;
  font-size: 0.3rem;
  color: #fff;
}
.fileListWrap {
  width: 100%;
  height: auto;
}
.fileListWrap .fileList {
  width: 100%;
  height: auto;
  background: #f6f8fa;
  border-radius: 0.08rem;
  padding: 0.2rem 0;
}
.fileListWrap .fileList .imgLeft {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.2rem;
  float: left;
}
.fileListWrap .fileList .fileName {
  font-size: 0.3rem;
  color: rgba(0, 0, 0, 0.85);
  line-height: 0.8rem;
  margin-left: 0.2rem;
  float: left;
  max-width: 5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.delImg {
  width: 0.3rem;
  height: 0.3rem;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  float: right;
}
</style>
