<template>
    <div class="allWrap">
        <Header :title='headerTitle' rightText='下一步' @operation="operation()"></Header>
        <div class="userinfo">
            <p class="reTips" v-if="allData.phone">当前手机号为{{allData.phone}}，请输入新手机号：</p>
            <div class="allList">
                <div class="list">
                    <p class="clear">
                        <van-icon name="plus" class="fl" size="14" style="margin-top:0.37rem;"/>
                        <span class="fl">86</span>
                        <van-icon name="arrow-down" class="fl ml10 mt35 mr30"/>
                    </p>
                    <input type="text" class="input1 fl" placeholder="请输入手机号码" v-model="newPhone">
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'
import { Popup } from 'mint-ui';
import { Toast } from 'vant';                       //Toast 轻提示



export default {
    data() {
        return {
            obj:{       
                isSelect: 3,     //header页面  select类名
                isImg1: 3        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            headerTitle: '',     //header头
            allData: '',
            newPhone: '',
        };
    },
    components: {
        Header,
        Footer,
        Popup
    },
    created() {},
    mounted() {
        this.getUserInfo();         //获取用户个人资料
    },
    methods:{
        // 获取用户个人资料
        getUserInfo(){
            var _this = this;
            var obj = {
                userId: this.userId,
            };
            this.mainapi("getUserInfo", obj, function(res){
                if(res.data.status == 'SUCCESS'){
                    _this.allData = res.data.c      //获取用户个人资料数据
                    if(res.data.c.phone){
                        _this.headerTitle = '更换手机号'
                    }else{
                        _this.headerTitle = '绑定手机号'
                    }
                }
            })
        },
        // 点击下一步
        operation(){
            var newPhone = this.newPhone
			if(!(/^1[34578]\d{9}$/.test(newPhone))){ 
				Toast('请输入有效手机号'); 
				return false; 
			} else{
                this.$router.push(
                    {
                        path: './verPhone',
                        query:{
                            newPhone: this.newPhone
                        }
                    }
                )

            }
        }
    }
}
</script>

<style scoped>
    html,
    body {
        width: 100%;
        height: 100%;
        background: #f1f1f1;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        background: #F1F1F1;
        position: absolute;
        left: 0;
        top: 0;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .reTips{
        width: 6.9rem;
        height: auto;
        font-size: 0.28rem;
        color: #686568;
        padding: 0.3rem;
    }
    .userinfo .allList{
        width: 100%;
        height: auto;
        background: white;
    }
    .userinfo .allList .list{
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid #F1F1F1;
    }
    .userinfo .allList .list p{
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #333;
        line-height: 1rem;
        margin-left: 0.3rem;
        float: left;
        border-right: 1px solid #f1f1f1;
    }
    .userinfo .allList .list .input1{
        padding-left: 0.2rem;
        width: 4rem;
        height: 1rem;
        font-size: 0.28rem;
        border: none;
        outline: none;
    }

</style>