<template>
    <div class="allWrap">
        <Header title='个人资料'></Header>
        <div class="userinfo">
            <div class="allList">
                <div class="list" tag="div" to="/certification" @click="goHelp()">
                    <p>用户名</p>
                    <p class="p2">{{allData.username}}</p>
                </div>
                <div class="list" tag="div" to='/szRecord'>
                    <p>姓名</p>
                    <p class="p2">{{allData.realname}}</p>
                </div>
                <router-link class="list" tag="div" to='/replacePhone'>
                    <p>手机号</p>
                    <img class="img2" src="../../assets/images/youjiantou.png">
                    <p class="p2">绑定/更换手机号</p>
                </router-link>
                <div class="list" tag="div" @click="getSolrDictList(0,1)">
                    <p>学段</p>
                    <img class="img2" src="../../assets/images/youjiantou.png">
                    <p class="p2">{{staSub.stageName}}</p>
                </div>
                <div class="list" tag="div" @click="getSolrDictList(staSub.stageId,2)">
                    <p>学科</p>
                    <img class="img2" src="../../assets/images/youjiantou.png">
                    <p class="p2">{{staSub.subjectName}}</p>
                </div>
            </div>

            <!-- 学段 -->
            <van-popup v-model="staSub.stageMC" position="bottom">
                <van-picker
                    title="请选择学段"
                    show-toolbar
                    :columns="staSub.stageList"
                    @confirm="onConfirmStage"
                    @cancel="onCancel"
                />
            </van-popup>
            <!-- 学科 -->
            <van-popup v-model="staSub.subjectMC" position="bottom">
                <van-picker
                    title="请选择学科"
                    show-toolbar
                    :columns="staSub.subjectList"
                    @confirm="onConfirmSubject"
                    @cancel="onCancel"
                />
            </van-popup>
        </div>

    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'
import { Popup } from 'mint-ui';
import { Toast } from 'vant';                       //Toast 轻提示



export default {
    data() {
        return {
            obj:{       
                isSelect: 3,     //header页面  select类名
                isImg1: 3        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
            allData: '',        //获取用户个人资料数据
            // 学段学科信息
            staSub: {
                stageName: '',      //选择的学段
                stageId: '',                //学段id
                stageIdArr: [],             //学段id集合
                stageMC: false,             //学段蒙层
                stageList: [],              //学段循环数据
                

                subjectName: '',
                subjectId: '',              //学科id
                subjectIdArr: [],           //学科id集合
                subjectMC: false,           //学科蒙层
                subjectList: [],            //学科循环数据
            },
            type: '',                       //phone手机号码scStage学段special学科
        };
    },
    components: {
        Header,
        Footer,
        Popup
    },
    created() {},
    mounted() {
        this.getUserInfo()      //获取用户个人资料
    },
    methods:{
        // 获取用户个人资料
        getUserInfo(){
            var _this = this;
            var obj = {
                userId: this.userId,
            };
            this.mainapi("getUserInfo", obj, function(res){
                if(res.data.status == 'SUCCESS'){
                    _this.allData = res.data.c      //获取用户个人资料数据
                    if(res.data.c.scStage == -1){
                        _this.staSub.stageName = '请选择学段'
                    }else{
                        _this.staSub.stageName = res.data.c.scStageName
                        _this.staSub.stageId = res.data.c.scStage
                    }
                    if(res.data.c.special == -1){
                        _this.staSub.subjectName = '请选择学科'
                    }else{
                        _this.staSub.subjectName = res.data.c.specialName
                        _this.staSub.subjectId = res.data.c.special
                    }
                }
            })
        },
        // 获取分类体系(学段学科)字典   //父级id	
        getSolrDictList(parentId,level){
            console.log(parentId)
            if(level == 2 && !parentId){
                Toast('请先选择学段');
                return;
            }
            var _this = this;
            var obj = {
                parentId: parentId,
                level: level,   //1学段 2学科 7资源 8年份 (3456)教学材料版本 9知识点 10试卷年份 11代表工具别名12微课类型(microtype)15 solr_grade 16年级_教材	
            };
            this.mainapi("getSolrDictList", obj, function(res){
                if(level == 1){         //学段
                    _this.staSub.stageList = []
                    _this.staSub.stageIdArr = []
                    for(let i = 0;i < res.data.c.length;i++){
                        _this.staSub.stageList.push(res.data.c[i].dictName) //
                        _this.staSub.stageIdArr.push(res.data.c[i].id)      //学段id集合
                    }
                    _this.staSub.stageMC = true;      //显示蒙层
                }else if(level == 2){   //学科
                    _this.staSub.stageList = []
                    for(let i = 0;i < res.data.c.length;i++){
                        _this.staSub.subjectList.push(res.data.c[i].dictName)
                        _this.staSub.subjectIdArr.push(res.data.c[i].id)
                    }
                    _this.staSub.subjectMC = true;    //显示蒙层
                }
            })

        },
        // 学段蒙层点击确定
        onConfirmStage(value, index) {
            this.staSub.stageName = value;                          //赋值学段名
            this.staSub.stageId = this.staSub.stageIdArr[index]     //赋值学段id
            this.staSub.subjectName = '请选择学科'
            this.type = 'scStage'            //phone手机号码scStage学段special学科
            this.updateUserInfo()            //修改个人资料
        },
        // 学科蒙层点击确定
        onConfirmSubject(value,index){
            this.staSub.subjectName = value;                          //赋值学段名
            this.staSub.subjectId = this.staSub.subjectIdArr[index]     //赋值学段id
            this.type = 'special'            //phone手机号码scStage学段special学科
            this.updateUserInfo()            //修改个人资料
        },
        // 学段学科蒙层内点击取消
        onCancel() {
            this.staSub.stageMC = false;
            this.staSub.subjectMC = false;
        },
        // 修改个人资料
        updateUserInfo(){
            var _this = this;
            var obj = {
                userId: this.userId,
                type: this.type,                //phone手机号码scStage学段special学科	
                phone: this.allData.phone,      //手机号码	
                scStage: this.staSub.stageId,          //学段id
                special: this.staSub.subjectId,      //学科id
            };
            this.mainapi("updateUserInfo", obj, function(res){
                if(res.data.status == 'SUCCESS'){
                    _this.staSub.stageMC = false;
                    _this.staSub.subjectMC = false;
                }
            })
        }
    }
}
</script>

<style scoped>
    html,
    body {
        width: 100%;
        height: 100%;
        background: #f1f1f1;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        background: #F1F1F1;
        position: absolute;
        left: 0;
        top: 0;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }

    .userinfo .allList{
        width: 100%;
        height: auto;
        background: white;
    }
    .userinfo .allList .list{
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid #F1F1F1;
    }
    .userinfo .allList .list .img1{
        width: 0.3rem;
        height: 0.3rem;
        margin-top: 0.35rem;
        margin-left: 0.3rem;
        float: left;
    }
    .userinfo .allList .list p{
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #686568;
        line-height: 1rem;
        margin-left: 0.3rem;
        float: left;
    }
    .userinfo .allList .list .p2{
        margin-right: 0.3rem;
        float: right;
    }
    .userinfo .allList .list .img2{
        width: 0.2rem;
        height: 0.2rem;
        margin-top: 0.4rem;
        margin-right: 0.3rem;
        float: right;
    }
</style>