<template>
    <div class="allWrap">
        <Header title='验证手机号' rightText='完成' @operation="operation()"></Header>
        <div class="userinfo">
            <p class="reTips">短信验证码已发送，请填写6位数验证码：</p>
            <div class="allList">
                <div class="list">
                    <div class="clear p1">
                        <van-icon name="plus" class="fl" size="14" style="margin-top:0.37rem;"/>
                        <span class="fl">86</span>
                        <span class="fl ml10" v-html="phone"></span>
                    </div>
                </div>
                <div class="list">
                    <div class="clear">
                        <input class="input1" type="text" placeholder="输入验证码" v-model="code">
				        <p :class="['getcode','mt20','mr30',!canClick?'getcodeing':'']" @click="getCode()">{{content}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Header from '../common/header'
import Footer from '../common/footer'
import axios from 'axios'
import { Popup } from 'mint-ui';
import { Toast } from 'vant';                       //Toast 轻提示



export default {
    data() {
        return {
            obj:{       
                isSelect: 3,     //header页面  select类名
                isImg1: 3        //header页面  img路径
            },
            userId: localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")).userId : '',
			phone: this.$route.query.newPhone, //手机号
			// 获取验证码相关
			content: '发送验证码',	//按钮显示内容
			totalTime: 60,		  //记录具体倒计时时间
			canClick: true,		  //是否可以点击(在倒计时过程中不可点击)
			code: '',			  //输入的验证码
        };
    },
    components: {
        Header,
        Footer,
        Popup
    },
    created() {},
    mounted() {
        
    },
    methods:{
        // 点击完成
        operation(){
            var _this = this;
            var obj = {
                userId: this.userId,
                type: 'phone',                //phone手机号码scStage学段special学科	
                phone: this.phone,            //手机号码
                yzm: this.code,               //验证码	
            };
            this.mainapi("updateUserInfo", obj, function(res){
                if(res.data.status == 'SUCCESS'){
                    Toast('操作成功啦'); 
                    _this.$router.go(-2) 
                }else{
                    Toast(res.data.message); 
                }
            })
        },
        // 点击获取验证码
        getCode() {
            var _this = this;
			var obj = {
                phone: _this.phone,
                type: 'phone',       //修改电话号码:phone 修改密码无	
			}
            this.mainapi('sendPhone',obj,function(res){
				if(res.data.status == "SUCCESS"){
                    Toast('发送成功'); 
                    _this.content = _this.totalTime + 's后重新发送' //这里解决60秒不见了的问题
                    if(!_this.canClick) return;					//默认true,若为false,不可点击,跳出循环
                    _this.canClick = false						//使其不可点击
                    let clock = window.setInterval(() => {
                        _this.totalTime--
                        _this.content = _this.totalTime + 's后重新发送'
                        if (_this.totalTime < 0) {     			//当倒计时小于0时清除定时器
                            window.clearInterval(clock)
                            _this.content = '重新发送验证码'
                            _this.totalTime = 60
                            _this.canClick = true				//倒计时结束,使其可点击
                        }
                    },1000)
                }else{
                    Toast(res.data.message); 
                }
            })
		},
    }
}
</script>

<style scoped>
    html,
    body {
        width: 100%;
        height: 100%;
        background: #f1f1f1;
    }
    .allWrap{
        width: 100%;
        height: 100%;
        background: #F1F1F1;
        position: absolute;
        left: 0;
        top: 0;
    }
    .header{
        background: #fff;
    }
    .header img{
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .reTips{
        width: 6.9rem;
        height: auto;
        font-size: 0.28rem;
        color: #686568;
        padding: 0.3rem;
    }
    .userinfo .allList{
        width: 100%;
        height: auto;
        background: white;
    }
    .userinfo .allList .list{
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid #F1F1F1;
    }
    .userinfo .allList .list .p1{
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #333;
        line-height: 1rem;
        margin-left: 0.3rem;
        float: left;
    }
    .userinfo .allList .list .input1{
        padding-left: 0.25rem;
        width: 4rem;
        height: 1rem;
        font-size: 0.28rem;
        border: none;
        outline: none;
    }
    .userinfo .allList .list .getcode{
        font-size: 0.24rem;
        color: #55ABEB;
        background: #DFEEFA;
        padding: 0.12rem 0.15rem;
        border-radius: 2rem;
        float: right;
    }

    .userinfo .allList .list .getcodeing{
        color: #9B9B9B;;
        background: #F2F2F2;
    }

</style>