<template>
  <div class="myOffice">
    <van-tabs v-model="active">
        <van-tab title="预受理">
          <van-list v-model="loading1" :finished="finished1" finished-text="没有更多了" @load="onLoad1" :error.sync="error1" error-text="请求失败，点击重新加载">
            <van-cell v-for="(item,index) in list1" :key="item.PROJID" @click="handle('1',index)">
              <div class="num">{{item.PROJID}}</div>
              <div class="name">{{item.SERVICENAME}}</div>
              <div class="cleatFloat detailInfo">
                <div class="floatLeft deptName">
                  <i></i>
                  <span>{{item.DEPTNAME}}</span>
                </div>
                <div class="floatRight time">
                  <i></i>
                  <span>{{item.ACCEPTTIME.slice(0,item.ACCEPTTIME.length-2)}}</span>
                </div>
              </div>
            </van-cell>
          </van-list>
        </van-tab>
        <van-tab title="正在处理">
          <van-list v-model="loading2" :finished="finished2" finished-text="没有更多了" @load="onLoad2" :error.sync="error2" error-text="请求失败，点击重新加载">
            <van-cell v-for="(item,index) in list2" :key="item.flowroleid" @click="handle('2',index)">
              <div class="num">{{item.PROJID}}</div>
              <div class="name">{{item.SERVICENAME}}</div>
              <div class="cleatFloat detailInfo">
                <div class="floatLeft deptName">
                  <i></i>
                  <span>{{item.DEPTNAME}}</span>
                </div>
                <div class="floatRight time">
                  <i></i>
                  <span>{{item.ACCEPTTIME.slice(0,item.ACCEPTTIME.length-2)}}</span>
                </div>
              </div>
            </van-cell>
          </van-list>
        </van-tab>
      </van-tabs>
  </div>
</template>

<script>
export default {
  name:'MyOffice',
  data(){
    return {
      active: 0,
      list1: [],
      loading1: false,
      finished1: false,
      error1: false,
      page1: 1,
      list2: [],
      loading2: false,
      finished2: false,
      error2: false,
      page2: 1
    }
  },
  methods:{
    onLoad1(){
      var _vm = this;
      _vm.param.pageNo = _vm.page1;
      _vm.param.handleState = '1';
      _vm.axios.post('*************',_vm.param).then(response => {
        _vm.page1 ++;
        var moreList = response.data.data.data;
        if(moreList){
          _vm.list1.push(...moreList);
          _vm.loading1 = false;
          _vm.finished1 = false;
        }else{
          _vm.loading1 = false;
          _vm.finished1 = true;
        }
      }).catch(error => {
        _vm.error1 = true;
        _vm.loading1 = false;
      })
    },
    onLoad2(){
      var _vm = this;
      _vm.param.pageNo = _vm.page2;
      _vm.param.handleState = '2';
      _vm.axios.post('******************',_vm.param).then(response => {
        _vm.page2 ++;
        var moreList = response.data.data.data;
        if(moreList){
          _vm.list2.push(...moreList);
          _vm.loading2 = false;
          _vm.finished2 = false;
        }else{
          _vm.loading2 = false;
          _vm.finished2 = true;
        }
      }).catch(error => {
        console.log(error);
        _vm.error2 = true;
        _vm.loading2 = false;
      })
    },
    handle(type,index){
      this.$router.push('/itemDetail?type=' + type + '&index=' + index);
    }
  }
}
</script>



