<template>
    <div class="allWrap">
        <Header :title="headerTitle" rightText=""></Header>
        <div class="reource">
            <div class="comTop">
                <div class="clear">
                    <div :class="['searchWrap2','fl',isGetFocus == 1 ? 'w600' : '']">
                        <img class="imgLeft" src="../../assets/images/searchImg.png" alt />
                        <input type="text" placeholder="关键词" v-model="searchKey" @focus="getFocus()">
                        <img class="chchaImg" src="../../assets/images/chacha.png" v-if="searchKey" @click.stop="clickChaCha()">
                    </div>
                    <p class="c_cancel fr" v-if="isGetFocus == 1" @click="goBack()">取消</p>
                </div>
            </div>
        </div>
        <!-- 有数据 -->
        <div v-if="allData && allData.totalCount != 0">
            <div class="totalNum">
                <span>查询结果共计{{allData.totalCount}}条数据</span>
            </div>
            <div class="ost">
                <div class="ostlWrap">
                    <div class="ostList clear" :key="index" v-for="(item,index) in allData.documentList" @click="goSeeResourse(item.id,item.type,item.resTypeCode)">
                        <img class="imgLeft" :src="item.picSuffix" alt="">
                        <p class="name">{{item.showTitle}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 无数据 -->
        <div v-if="allData && allData.totalCount == 0">
            <div class="noData">
                <img src="../../assets/images/noData.png" alt="">
                <p class="p1">没有找到相关数据</p>
            </div>
        </div>
    </div>
</template>

<script>
import Header from "./header.vue";
import axios from "axios";

export default {
    data() {
        return {
            headerTitle: "搜索",
            searchKey: '',
            curPage: 1,
            pageSize: 20,
            isGetFocus: 0,      //是否获取了焦点 1为是
            allData: '',
        };
    },
    components: {
        Header
    },
    created() {
    },
    mounted() {
        
    },
    watch: {
        // 监听搜索文字
        searchKey(newName,oldName){
            this.searchKey = newName;
            this.getSearch()        //获取资源搜索列表
        }
    },
    methods: {
        // 获取资源搜索列表
        getSearch(){
            var _this = this;
            let obj = {
                curPage: this.curPage,
                pageSize: this.pageSize,
                searchContent: this.searchKey
            }
            this.mainapi("getSearch", obj, function(res) {
                if (res.data.status == 'SUCCESS') {
                    _this.allData = res.data.c
                }
            });
        },
        // 点击叉子
        clickChaCha(){
            this.searchKey = ''
            this.isGetFocus = 1
        },
        // 获取焦点时
        getFocus(){
            this.isGetFocus = 1;
        },
        // 点击进详情(资源id,工具类型)
        goSeeResourse(solrId,type,resTypeCode){
            // 工具类型  article文章 usertask作业  activity活动  cooperate同伴协作  communicate交流  mooc磨课  userPreparation备课
            if(type == 'mooc' || type == 'userPreparation'){
                return;
            }
            this.$router.push({
            　　path: '/seeResourse',
            　　query: {
                    resTypeCode: resTypeCode,
                    solrId: solrId,
                    codeType: type,
            　　}
            });
        },
        // 点击取消
        goBack(){
            this.$router.go(-1)
        },
    }
};
</script>
<style scoped>
    html,
    body {
        width: 100%;
        height: 100%;
    }
    .header img {
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 0.2rem;
        top: 0.25rem;
    }
    .allWrap {
        width: 100%;
        height: auto;
    }
    .comTop{
        width: 6.9rem;
        padding: 0.15rem 0.3rem;
        border-bottom: 1px solid #f2f2f2;
    }
    .comTop .searchWrap2{
        width: 100%;
        border: none;
        background: none;
        position: relative;
    }
    .comTop .searchWrap2 .imgLeft{
        width: 0.33rem;
        height: 0.33rem;
        position: absolute;
        left: 0;
        top: 0.15rem;
        margin: 0;
    }
    .comTop .searchWrap2 input{
        width: 80%;
        height: 0.64rem;
        line-height: 0.64rem;
        font-size: 0.28rem;
        border: none;
        border-radius: 0.1rem;
        padding-left: 0.58rem;
    }
    .comTop .searchWrap2 .chchaImg{
        width: 0.3rem;
        height: 0.3rem;
        position: absolute;
        right: 0;
        top: 0.18rem;
        margin: 0;
    }
    .comTop .c_cancel{
        font-size: 0.28rem;
        line-height: 0.65rem;
        color: #9B9B9B;
        float: right;
    }

    .totalNum{
        width: 100%;
        height: 0.8rem;
        line-height: 0.8rem;
        font-size: 14px;
        text-align: center;
    }
    .ost{
        width: 100%;
        height: calc(100% - 3.14rem);;
        position: relative;
        overflow: auto;
    }
    .ost .ostlWrap {
        width: 100%;
        height: auto;
    }
    .ost .oTitle img{
        width: 0.24rem;
        height: 0.2rem;
        margin-top: 0.37rem;
        margin-right: 0.05rem;
        float: left;
    }
    .ost .ostlWrap .ostList{
        width: 6.5rem;
        height: auto;
        padding: 0 0.5rem;
        margin-top: 0.3rem;
    }
    .ost .ostlWrap .ostList .imgLeft{
        width: 0.28rem;
        height: 0.28rem;
        margin-top: 0.06rem;
        float: left;
    }
    .ost .ostlWrap .ostList .name{
        width: 5.9rem;
        height: auto;
        margin-left: 0.1rem;
        float: left;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /* 无数据 */
    .noData{
        width: 100%;
        height: auto;
        position: relative;
    }
    .noData img{
        width: 4.5rem;
        height: auto;
        margin: 3rem auto 0;
        display: block;
    }
    .noData .p1{
        font-size: 0.24rem;
        color: #C0C0C0;
        text-align: center;
    }
</style>