<template>
    <!-- 底部导航1   工作室--我  -->
    <div class="footer1">
        <div class="nav">
            <div :class="['workRoom',show.isSelect == 1 ? 'select' : '']" @click="index()">
                <img :src="[show.isImg1 == 1 ? imgList[0].image : imgList[1].image]">
                <p>首页</p>
            </div>
            <div :class="['live',show.isSelect == 2 ? 'select' : '']" @click="teaStudy()">
                <img :src="[show.isImg1 == 2 ? imgList[4].image : imgList[5].image]">
                <p>教研</p>
            </div>
        
            <div :class="['me',show.isSelect ==3 ? 'select' : '']" @click="userinfo()">
                <img :src="[show.isImg1 == 3 ? imgList[2].image : imgList[3].image]">
                <p>我的</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:["show"],
    data() {
        return {
            imgList:[           //底部图片
                {image:require('../../assets/images/index.png')},
                {image:require('../../assets/images/index1.png')},
                {image:require('../../assets/images/me.png')},
                {image:require('../../assets/images/me1.png')},
                {image:require('../../assets/images/tea.png')},
                {image:require('../../assets/images/tea1.png')},
            ]
        }
    },
    component:{

    },
    created() {
        
    },
    mounted() {

    },
    methods: {
        userinfo(){
            this.$router.push("/userinfo")
        },
        teaStudy(){
            this.$router.push("/teaStudy")
        },
        index(){
            this.$router.push("/index")
        }
    },
}
</script>


<style scoped>
    /* 底部导航1   工作室--我 */
.footer1{
    width: 100%;
    height: 0.96rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,1);
    border-top: 1px solid #F1F1F1;
}
.footer1 .nav{
    display: flex;
}
.footer1 .nav .select{
    color: #5BADEB;
}
.footer1 .nav>div{
    flex: 1;
    height: 0.96rem;
}
.footer1 .nav img{
    width: 0.44rem;
    height: 0.48rem;
    margin: 0.04rem auto;
    display: block;
}
.footer1 .nav p{
    text-align: center;
    font-size: 0.24rem;
}

</style>

