<template>
    <!-- 底部导航1   -->
    <div class="footer1">
        <div class="nav">
            <router-link :class="['workRoom',show.isSelect == 1 ? 'select' : '']" tag="div" to='/index'>
                <img :src="[show.isImg1 == 1? imgList[0].image : imgList[1].image]">
                <p>项目</p>
            </router-link>
        
            <router-link :class="['friCircle',show.isSelect == 2? 'select' : '']" tag="div" to='/kong'>
                <img :src="[show.isImg1 == 2 ? imgList[2].image : imgList[3].image]">
                <p>通讯录</p>
            </router-link>
            <router-link :class="['friCircle',show.isSelect ==3 ? 'select' : '']" tag="div" to='/friCircle'>
                <img :src="[show.isImg1 ==3 ? imgList[4].image : imgList[5].image]">
                <p>研修圈</p>
            </router-link>
            <router-link :class="['friCircle',show.isSelect == 4 ? 'select' : '']" tag="div" to='/kong'>
                <img :src="[show.isImg1 == 4 ? imgList[6].image : imgList[7].image]">
                <p>用户反馈</p>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    props:["show"],
    data() {
        return {
            imgList:[           //底部图片
                {image:require('../../assets/images/index1.png')},
                {image:require('../../assets/images/index2.png')},
                {image:require('../../assets/images/mail1.png')},
                {image:require('../../assets/images/mail2.png')},
                {image:require('../../assets/images/friCircle1.png')},
                {image:require('../../assets/images/friCircle2.png')},
                {image:require('../../assets/images/userFback1.png')},
                {image:require('../../assets/images/userFback2.png')},
            ]
        }
    },
    component:{

    },
    created() {
        
    },
    mounted() {

    },
    methods: {
        userinfo(){
            this.$router.push("/userinfo")
        },
        workRoom(){
            this.$router.push("/workRoom")
        },
    },
}
</script>


<style scoped>
    /* 底部导航1   工作室--我 */
.footer1{
    width: 100%;
    height: 0.96rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,1);
    border-top: 1px solid #F1F1F1;
}
.footer1 .nav{
    display: flex;
}
.footer1 .nav .select{
    color: #5BADEB;
}
.footer1 .nav>div{
    flex: 1;
    height: 0.96rem;
}
.footer1 .nav img{
    width: 0.48rem;
    height: 0.48rem;
    margin: 0.04rem auto;
    display: block;
}
.footer1 .nav p{
    text-align: center;
    font-size: 0.24rem;
}

</style>

