<template>
<!-- 头部 -->
        <div class="header">
            <!-- 返回图片 -->
            <img src="../../assets/images/zuojiantou.png" alt="" v-if="isBack" @click="back()">
            <!-- 中间标题 -->
            <p class="p1">
                <!-- disDetail 中间标题加图片 -->
                <img :src="disTitleImg" v-if='disTitleImg' alt="">     
                {{title}}
            </p>
            <!-- 右侧文字 -->
            <p class="p2" v-if="rightText" @click="operation()">{{rightText}}</p>
            <!-- friCircle -->
            <img class="img2" :src="imgArr[0]" v-if='img2' @click="fri_myCircle()">
            <img class="img3" :src="imgArr[1]" v-if='img3' @click="fri_writeCircle()">
            <!-- index 扫一扫 -->
            <img class="img4" src="../../assets/images/saoyisao.png" v-if='img4'> 
            <!-- userinfo 设置 -->
            <img class="img5" src="../../assets/images/set.png" v-if='img5' @click="operation2()">
            <!-- liveIndex直播 -->
            <img class="img6" src="../../assets/images/liveIcon1.png" v-if="img6" @click="operation2()" alt="">
        </div>
</template>

<script>
export default {
    data() {
        return {
            imgArr:
            [
                require('../../assets/images/fri_myCircle.png'),             //研修圈图片
                require('../../assets/images/fri_01.png'),      //研修圈图片
            ]
        }
    },
    props: {
        isBack: {               //返回图片
            type: Boolean,
            default: true
        },
        title: {                //title头
            type: String,
            default: ''
        },
        disTitleImg: {             //disDetail 中间标题加图片
            type: String,
            default: ''
        },
        rightText: {             //右侧文字
            type: String,
            default: ''
        },
        img2: {                 //研修圈图片
            type: String,
            default: ''
        },
        img3: {                 //研修圈图片
            type: Boolean,
            default: false
        },
        img4: {                 //index 扫一扫
            type: Boolean,
            default: false
        },
        img5: {                 //userinfo 设置
            type: Boolean,
            default: false
        },
        img6: {                 //liveIndex 直播
            type: Boolean,
            default: false
        },
    },
    component:{

    },
    created() {
        
    },
    mounted() {

    },
    methods: {
        // 返回
        // backUrl   均返回我/工作室
        // backUrl2  均返回研修圈
        // backUrl3  均返回研修详情
        back(){
            window.history.go(-1)
        },

        // 右侧文字操作  子传父 
        operation(){
            this.$emit("operation")
        },
        // 右侧图片操作  子传父  userinfo
        operation2(){
            this.$emit("operation2")
        },
        // 研修圈
        fri_myCircle(){
            this.$emit("gomyCircle")
        },
        fri_writeCircle(){
            this.$emit("fri_writeCircle")
        }
        
    },
}
</script>


<style scoped>
    
/* 头部 */
.header{
    width: 100%;
    height: 0.9rem;
    position: relative;
}
.header img{
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 0.2rem;
}
.header .img1{
    left: 0.15rem;
}
.header .img2,
.header .img4{
    right: 0.15rem;
}
.header .img3{
    right: 1rem;
}
.header .img5,
.header .img6{
    width: 0.4rem;
    height: 0.4rem;
    top: 0.25rem;
    right: 0.3rem;
}
.header .p1{
    width: 100%;
    padding: 0 1rem;
    font-size: 0.36rem;
    line-height: 0.9rem;
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}
.header .p1 img{
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    position: relative;
    left: 0;
    top: 0.01rem;
}
.header .p2{
    position: absolute;
    right: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.34rem;
    line-height: 0.9rem;
    text-align: center;
}
</style>

