<template>
    <div class="allWrap">
        <Header title = '敬请期待'></Header>
        <!-- 无数据时 -->
        <div class="noContWrap">
            <img class="noCont" src="../../assets/images/noCont.png" alt="">
        </div>
        
    </div>
</template>

<script>
import Header from '../common/header'

export default {
    data() {
        return {
            obj:{       
                isSelect: true,     //header页面  select类名
                isImg1: true,        //header页面  img路径
			},
        };
    },
    components: {
        Header,
    },
    created() {},
    mounted() {
    },
    methods:{
        
    }
}
</script>

<style scoped>

html,body{
  height:100%;
  background:#f4f4f4;
}
.allWrap{
    width: 100%;
    height: auto;
}
.noContWrap .noCont{
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -2rem;
}
</style>