<template>
    <div class="allWrap">
        <div class="map">
            <!-- 引入地图 -->
            <div id="allmap" :style="mapStyle"></div>
            <!-- 引入地图完毕 -->
            <div class="bottom">
                <div class="b_left">
                    <p class="provincePlace">{{allPosition.address}}</p>
                    <div class="specificPlace">
                        <img src="../../assets/images/shishidingwei.png" alt="">
                        <p>{{allPosition.signinAddress}}</p>
                    </div>
                </div>
                <div class="b_right" @click="openMap()">
                    <img src="../../assets/images/daohang.png" alt="">
                </div>
            </div>
        </div>   
    </div>
</template>
<script>
import Header from '../common/header'
import Footer from '../common/footer1'

import BMap from 'BMap'     //引入地图
    export default {
        data() {
            return {
                obj:{       
                    isSelect: 3,     //header页面  select类名
                    isImg1: 3        //header页面  img路径
                },
                userId: localStorage.getItem("userId"),         
                roleId: localStorage.getItem("roleId"),
                roleTypeId: localStorage.getItem("roleTypeId"),
                projectId: localStorage.getItem("projectId"),
                lng: 1,             //经度
                lat: 1,             //纬度
                // 引入地图
                mapStyle:{
                    width:'100%',
                    height:this.mapHeight+'px'
                },
                allPosition: '',
                // 底部选项
                list: false,
            };
        },
        // 引入地图
        props:{
            mapHeight:{
                type:Number,
                default:400
            },
            //目标经度
            longitude:{
                type:Number,
                default:116.36469
                // default: this.lng
            },
            latitude:{
                type:Number,
                default:39.967348
                // default: this.lat
            },
            // 半径
            radius:{
                typs: Number,
                default: 10
            },
            // 我的经纬度度
            mylongitude:{
                type:Number,
                default:116.36469
            },
            mylatitude:{
                type:Number,
                default:116.36469
            },
        },
        watch: {
            latitude(newVal, oldVal) {
                this.ready();
            }
        },
        // 引入地图完毕
        components: {
            Header,
            Footer,
        },
        created() {

        },
        mounted() {
            this.ready()        //引入地图
        },
        methods: {
            ready:function(){
                var map =new BMap.Map("allmap");
                var point =new BMap.Point(this.longitude,this.latitude);
                console.log(this.longitude)
                console.log(this.latitude)
                var marker =new BMap.Marker(point);
                map.addOverlay(marker);
                map.centerAndZoom(point,15);
                map.enableScrollWheelZoom(true);

                // 圆环半径(半径大小)
                var circle = new BMap.Circle(point,this.radius,{fillColor:"blue", strokeWeight: 1 ,fillOpacity: 0.3, strokeOpacity: 0.3,enableEditing:false});
                map.addOverlay(circle);
                // 圆环半径结束



                var marker = new BMap.Marker(point);  // 创建标注
                marker.addEventListener("click", function(e){
                    searchInfoWindow.open(marker);
                });
                map.addOverlay(marker);              // 将标注添加到地图中
                this.isRange();
            },
            // 测试当前点是否在目标半径内
            isRange() {
                // alert(2423)
                // var map =new BMap.Map("allmap");
                var point1 =new BMap.Point(this.longitude,this.latitude); // 中心点
                var point2 =new BMap.Point(this.mylongitude,this.mylatitude); // 当前位置
                var distance = map.getDistance(point1,point2); 
                if(distance < 1000) {
                    return true;
                    alert("map122")
                }else{
                    return false;
                    alert("map125")
                }
            }
        }
    };
</script>

<style scoped>
html,body{
    width: 100%;
    height: 100%;
    background: #F1F1F1;
}
.allWrap{
    width: 100%;
    height: auto;
}
.allWrap .map{
    width: 100%;
    height: 100%;
    position: relative;
}
.allWrap #allmap{
    width:100%;
    height:77% !important;
    position: fixed !important;
}
</style>