<template>
    <div class="wrap">
        <van-popup position="bottom" v-model="isShow" :close-on-click-overlay="false">
            <van-picker
                :title="pTitle"
                show-toolbar
                :columns="columns"
                @confirm="onConfirm"
                @cancel="onCancel"
                />
        </van-popup>
    </div>
</template>

<script>
import { Popup,Picker,Toast } from 'vant';
export default {
    props:{
        isShow:{
            type: Boolean,
            required: false
        },
        columns:{
            type: Array
        },
        pTitle:{
            type:String
        }
    },
    data() {
        return {

        };
    },
  methods: {
    onConfirm(value, index) {
       const val = {
           value:this.columns[index],
           isShow: false
       }
       this.$emit('confirmPop',val)
    },
    onCancel() {
      this.$emit('cancelPop',false)
    }
  }
};

</script>