<template>
	<div class="search-itemWrap dis-flex-con">
        <div class="fa-list-con">
            <div class="list-item" v-for="(item, index) in list" :key="index" :class="[index==activeId1?'active':'',item.className]">
                <div class="item-name" @click="change(index)">
                    <span>{{item.text}}</span>
                </div>
            </div>
        </div>
        <div v-if="activeId1 > -1 && list[activeId1].children" class="children-item">
            <searcgItem :list="list[activeId1].children" v-on:patch="onPatch" :activeId="activeId2"></searcgItem>
        </div>
	</div>
</template>

<script>
    export default {
        name:"searcgItem",
        data() {
            return {
                activeId1: -1,
                activeId2: -1,
            };
        },
        props: {
            list: {
                type:Array
            },
            activeId:{
                type: Number
            }
        },
        created(){
            this.activeId1 = -1
        },
        mounted(){
        },
        methods:{
            change(index) {
                this.activeId2 = -1;
                this.activeId1 = -1;
                this.$nextTick(() => {
                    this.activeId1 = parseInt(index);
                    let obj = this.list[this.activeId1]
                    let children = obj.children?obj.children:[]
                    if (!this.list[this.activeId1].children) {
                        this.$emit("patch", this.list[this.activeId1].text);
                    }
                })
                //点击之后下一个组件显示，activeId初始化-1
            },
            onPatch(val) {
                var checkedVal = this.list[this.activeId1].text + "/" + val;
                this.$emit("patch", checkedVal);
            }
        }
    };
</script>

<style>
    .dis-flex-con{
        display: -moz-box;  /* Firefox */
        display: -ms-flexbox;    /* IE10 */
        display: -webkit-box;    /* Safari */ 
        display: -webkit-flex;    /* Chrome, WebKit */
        display: box; 
        display: flexbox; 
        display: flex;
    }
    .search-itemWrap{
        background: #fff;
        height: 300px;
        overflow: auto;
    }
    .fa-list-con{
        /* width: 70px; */
    }
    .list-item{
        width: 70px;
    }
    .list-item.my-class-sort{
        width: 100%;
        max-width: 100%;
    }
    .list-item.active{
        color: #1989fa;
    }
    .item-name{
        padding-left: 5px;
        padding-right: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 23px;
    }
</style>