<template>
	<div class="searchWrap">
        <div class="search-item-con dis-flex-con">
            <div @click="changeSearch(0)" :class="[searchAcivity[0]?'searchAcivity':'','search-item dis-flex-con']"><span><div>{{searchItem1}}</div></span></div>
            <div @click="changeSearch(1)" :class="[searchAcivity[1]?'searchAcivity':'','search-item dis-flex-con']"><span><div>{{searchItem2}}</div></span></div>
            <div @click="changeSearch(2)" :class="[searchAcivity[2]?'searchAcivity':'','search-item dis-flex-con']"><span><div>{{searchItem3}}</div></span></div>
            <div @click="changeSearch(3)" :class="[searchAcivity[3]?'searchAcivity':'','search-item dis-flex-con']"><span><div>{{searchItem4}}</div></span></div>
        </div>
        <div :class="[(searchAcivity[0]||searchAcivity[1]||searchAcivity[2]||searchAcivity[3])?'search-item-acivity':'','search-item-content']">
            <searcgItem v-if="searchAcivity[0]" :activeId="-1" v-on:patch="onPatch" :list="periodAll.items">
            </searcgItem>
            <searcgItem v-if="searchAcivity[1]" :activeId="-1" v-on:patch="onPatch1" :list="periodAll2.items">
            </searcgItem>
            <searcgItem v-if="searchAcivity[3]" :activeId="-1" v-on:patch="onPatch3" :list="periodAll3.items">
            </searcgItem>
        </div>
	</div>
</template>

<script>
    import Vue from "vue"
    import searcgItem from "./searchItem.vue"
    export default {
        data() {
            return {
                searchItem1: "学科学段",
                searchItem2: "教材/知识点",
                searchItem3: "分类",
                searchItem4: "排序",
                searchAcivity:[false,false,false,false],
                // 学段学科
                periodAll: {
                    items: [
                        {
                            // 导航名称
                            text: '全部',
                            // 导航名称右上角徽标，2.5.6 版本开始支持
                            badge: '',
                            // 是否在导航名称右上角显示小红点
                            dot: false,
                            // 导航节点额外类名
                            className: 'my-class',
                            activeId:0,
                            // 该导航下所有的可选项
                            children: [
                                {
                                    // 名称
                                    text: '全部',
                                    // id，作为匹配选中状态的标识符
                                    id: 1,
                                    // 禁用选项
                                    disabled: false,
                                    activeId:0,
                                    children: [
                                        {
                                            // 名称
                                            text: '全部1',
                                            // id，作为匹配选中状态的标识符
                                            id: 3,
                                            // 禁用选项
                                            disabled: false,
                                            activeId:0,
                                        },
                                        {
                                            text: '综合素质2',
                                            id: 4,
                                            activeId:1,
                                        },
                                    ],
                                },
                                {
                                    text: '综合素质',
                                    id: 2,
                                    activeId:1,
                                },
                            ],
                        },
                        {
                            // 导航名称
                            text: '小学',
                            // 导航名称右上角徽标，2.5.6 版本开始支持
                            badge: '',
                            // 是否在导航名称右上角显示小红点
                            dot: false,
                            // 导航节点额外类名
                            className: 'my-class',
                            activeId:1,
                            // 该导航下所有的可选项
                            children: [
                                {
                                    // 名称
                                    text: '语文',
                                    // id，作为匹配选中状态的标识符
                                    id: 1,
                                    // 禁用选项
                                    disabled: false,
                                    activeId:0,
                                },
                                {
                                    text: '数学',
                                    id: 2,
                                    activeId:1,
                                },
                            ],
                        },
                    ],
                },
                // 教材知识点
                periodAll2: {
                    items: [
                        {
                            // 导航名称
                            text: '全部',
                            // 导航名称右上角徽标，2.5.6 版本开始支持
                            badge: '',
                            // 是否在导航名称右上角显示小红点
                            dot: false,
                            // 导航节点额外类名
                            className: 'my-class',
                            activeId:0,
                            // 该导航下所有的可选项
                            children: [
                                {
                                    // 名称
                                    text: '全部',
                                    // id，作为匹配选中状态的标识符
                                    id: 1,
                                    // 禁用选项
                                    disabled: false,
                                    activeId:0,
                                    children: [
                                        {
                                            // 名称
                                            text: '全部1',
                                            // id，作为匹配选中状态的标识符
                                            id: 3,
                                            // 禁用选项
                                            disabled: false,
                                            activeId:0,
                                        },
                                        {
                                            text: '综合素质2',
                                            id: 4,
                                            activeId:1,
                                        },
                                    ],
                                },
                                {
                                    text: '综合素质',
                                    id: 2,
                                    activeId:1,
                                },
                            ],
                        },
                        {
                            // 导航名称
                            text: '小学',
                            // 导航名称右上角徽标，2.5.6 版本开始支持
                            badge: '',
                            // 是否在导航名称右上角显示小红点
                            dot: false,
                            // 导航节点额外类名
                            className: 'my-class',
                            activeId:1,
                            // 该导航下所有的可选项
                            children: [
                                {
                                    // 名称
                                    text: '语文',
                                    // id，作为匹配选中状态的标识符
                                    id: 1,
                                    // 禁用选项
                                    disabled: false,
                                    activeId:0,
                                },
                                {
                                    text: '数学',
                                    id: 2,
                                    activeId:1,
                                },
                            ],
                        },
                    ],
                },
                // 教材知识点
                periodAll3: {
                    items: [
                        {
                            text: '默认排序',
                            className: 'my-class-sort'
                        },
                        {
                            text: '发布时间排序',
                            className: 'my-class-sort'
                        },
                        {
                            text: '资源评分排序',
                            className: 'my-class-sort'
                        },
                        {
                            text: '浏览量排序',
                            className: 'my-class-sort'
                        },
                        {
                            text: '购买量排序',
                            className: 'my-class-sort'
                        },
                        {
                            text: '现在量排序',
                            className: 'my-class-sort'
                        },
                        {
                            text: '免费资源',
                            className: 'my-class-sort'
                        }
                    ],
                },
            };
        },
        methods:{
            // 切换顶部选择的类型+显示隐藏
            changeSearch(num){
                let falg = this.searchAcivity[num]
                this.searchAcivity.forEach((e,index) => {
                    Vue.set(this.searchAcivity,index,false)
                })
                this.$nextTick(() => {
                    Vue.set(this.searchAcivity,num,!falg)
                })
            },
            onPatch(val) {
                this.searchItem1 = val;
                console.log(this.searchItem1)
            },
            onPatch1(val) {
                this.searchItem2 = val;
                console.log(this.searchItem2)
            },
            onPatch3(val) {
                this.searchItem4 = val;
                console.log(this.searchItem4)
                let obj = {
                    [this.searchItem1]:this.searchItem1
                }
            },
        },
        components: {
            searcgItem
        },
    };
</script>

<style>
    .dis-flex-con{
        display: -moz-box;  /* Firefox */
        display: -ms-flexbox;    /* IE10 */
        display: -webkit-box;    /* Safari */ 
        display: -webkit-flex;    /* Chrome, WebKit */
        display: box; 
        display: flexbox; 
        display: flex;
    }
    .searchWrap{
        position: relative;
    }
    .searchWrap .search-item-con{
        position: relative;
        z-index: 1001;
        border-bottom: 1px solid rgba(136, 136, 136, 0.575);
    }
    .searchWrap .search-item-con .search-item{
        width: 100%;
        text-align: center;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .searchWrap .search-item-con .search-item span{
        position: relative;
        box-sizing: border-box;
        max-width: 100%;
        padding: 0 10px;
        color: #323233;
        font-size: 14px;
        margin: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        transition: transform .3s,-webkit-transform .3s;
    }
    .searchWrap .search-item-con .searchAcivity.search-item span{
        color: #1989fa;
    }
    .searchWrap .search-item-con .search-item span div{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        /* max-width: 100%; */
    }
    .searchWrap .search-item-con .search-item span::after{
        position: absolute;
        top: 50%;
        right: 1px;
        margin-top: -3px;
        border: 3px solid;
        border-color: transparent transparent #dcdee0 #dcdee0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: .8;
        content: '';
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        transition: transform .3s,-webkit-transform .3s;
    }
    .searchWrap .search-item-con .searchAcivity.search-item span::after{
        border-color: transparent transparent currentColor currentColor;
        margin-top: -1px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        transition: transform .3s,-webkit-transform .3s;
    }
    .searchWrap .search-item-content{
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        height: 30px;
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        transition: transform .3s,-webkit-transform .3s;
    }
    .searchWrap .search-item-acivity.search-item-content{
        top: 30px;
        height: auto;
    }
    
    
	/* .container3 .circle4 {
		-webkit-animation-delay: -0.1s;
		animation-delay: -0.1s;
	} */
</style>