<template>
    <div class="allWrap">
        此页面为样本，css样式在common.css
        <!-- 底部弹窗 上传头像-->
        <div class="tanWrap" v-if="uploadShow">
            <div class="footTan">
                <p class="fooTips">选择拍照</p>
                <p class="pFonts photograph">
                    拍照
                    <input type="file" name="file" accept='image/*' capture="camera" @change="upImg($event,allchooseNum)">
                </p>
                <p class="pFonts gallery">
                    图库
                    <input type="file" accept='image/*' multiple @change="upImg($event,allchooseNum)">
                </p>
                <p class="pFonts cancel" @click="upCancel()">取消</p>
            </div>
        </div>

        <!-- 提示弹窗 -->
        <div class="tanWrap" v-if="tipShow">
            <div class="tipTan">
                <p class="p1">上传成功</p>
                <p class="sure" @click="tipsSure()">确定</p>
            </div>
        </div>


        <!-- 确认删除弹窗 -->
        <div class="tanWrap" v-if="tan_sureDelShow == 1">
            <div class="sureDel">
                <p class="sureTips">是否确定删除该资源，删除后无法找回?</p>
                <div class="botOper">
                    <p class="sure_Cancel fl" @click="sure_Cancel()">取消</p>
                    <p class="sure_Sure fr" @click="sure_Cancel()">确定</p>
                </div>
            </div>
        </div>




        
        <!-- 点击头部点点点出现蒙层 -->
        <div class="mengceng" v-if="showMengceng" @click="clickMC()">
            <div class="cont">
                <p class="seeImg" @click="seeImg()">预览</p>
                <p class="rename" @click="rename()">重命名</p>
                <p class="edit" @click="edit()">编辑</p>
                <p class="del" @click="del()">删除</p>
                <p class="cancel" @click="cancel()">取消</p>
            </div>
        </div>
        <!-- 点击蒙层内删除后出现第二个蒙层 -->
        <div class="tanWrap1" v-if="showtanWrap1">
            <div class="tan">
                <p class="title">确认删除?</p>
                <div class="operate">
                    <p class="cancel" @click="tanWrap1_cancel()">取消</p>
                    <p class="sure" @click="tanWrap1_sure()">确定</p>
                </div>
            </div>
        </div>
        <!-- 弹窗二   点击写评论弹窗 -->
        <div class="tanWrap2" v-if="showTC2">
            <div class="title">
                <p class="p1" @click="tan2Cancel()">取消</p>
                <p class="p2">发布评论</p>
                <p class="p3" @click="tan2Sure()">发布</p>
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="请输入内容" v-model="commentCont"></textarea>
        </div>

        <!-- 弹窗附件重命名 -->
        <div class="tanRename" v-if="tanRename">
            <div class="tan">
                <p class="title">重命名</p>
                <input type="text" v-model="tanRenameName">
                <div class="operate">
                    <p class="cancel" @click="tanRename_cancel()">取消</p>
                    <p class="sure" @click="tanRename_sure()">确定</p>
                </div>
            </div>
        </div>

        <!-- 底部附件  文章,资源,作业  -->
        <!-- 附件 -->
        <div class="enclosureWrap">
            <div :class="['enclosure',isclickEnclosure ? 'select' : '']">
                <p @click="clickEnclosure()">附件</p>
            </div>
            <div class="bottom" v-if="bottomShow">
                <div class="title">
                    <div class="titleImg photo">
                        <input type="file" name="file" accept='image/*' capture="camera" @change="upImg($event,allchooseNum)">
                        <img src="../../assets/images/photo.png" alt="">
                    </div>
                    <div class="titleImg picture">
                        <input type="file" accept='image/*' multiple @change="upImg($event,allchooseNum)">
                        <img src="../../assets/images/picture.png" alt="">
                    </div>
                </div>
                <!-- 附件 选择的照片列表 -->
                <div class="listWrap">
                    <div class="list" v-for="(item, index) in imgArr" :key="index" @click="imgOperation(index)">
                        <img class="img1" src="../../assets/images/type_img.png">
                        <div class="info">
                            <p class="p1">{{imgName[index]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return{
            showMengceng:false,      //点击头部点点点出现蒙层
            showtanWrap1:false,     //点击蒙层内删除后出现第二个蒙层
            showTC2:true,           //弹窗二   点击写评论弹窗
        }
    },
    component:{

    },
    created() {
        
    },
    mounted() {

    },
    methods: {
        // 点击头部点点点出现蒙层
        //点击蒙层
        clickMC(){
            this.showMengceng = false;
        },
        // 点击蒙层内取消
        cancel(){
            this.showMengceng = false;
        },
        // 点击蒙层内删除
        del(){
            this.showMengceng = false;  //蒙层消失
            this.showtanWrap1 = true;   //点击蒙层内删除后出现第二个蒙层
        },

        // 点击蒙层内删除后出现第二个蒙层
        // 点击取消
        tanWrap1_cancel(){
            this.showtanWrap1 = false
        },
        // 点击确定
        tanWrap1_sure(){
            this.showtanWrap1 = false
        },

        
        // 弹窗二   点击写评论弹窗
        // 点取消
        tan2Cancel(){
            this.showTC2 = false;
        },
        // 点发布
        tan2Sure(){
            this.showTC2 = false;
        },
       
        // 弹窗附件重命名
        // 点击取消
        tanRename_cancel(){
            this.tanRename = false
        },
        // 点击确定
        tanRename_sure(){
            console.log(this.imgName)
            var _this = this;
            if(!this.tanRenameName){
                this.showSamllTan("文件夹名字不能为空")
            }else{
                _this.tanRename = false
                _this.imgName.splice(_this.clickImgIndex,1,_this.tanRenameName)
                console.log(_this.imgName)
            }
        },
        // 点击重命名
        rename(){
            this.showMengceng2 = false;
            this.tanRename = true
        },
    },
}
</script>


<style scoped>

</style>

