<template>
	<div id="app">
		<router-view v-if="isRouterAlive"/>
	</div>
</template>

<script>
export default {
  name: 'App',
  provide (){
     return {
       reload:this.reload
     }
  },
  data(){
    return {
       isRouterAlive:true
    }
  },
  methods:{
    reload (){
       this.isRouterAlive = false
       this.$nextTick(function(){
          this.isRouterAlive = true
       })
    }
  },
  components:{
  }
}
</script>

<style>
html,body{
	width: 100%;
	height: 100%;
}
#app {
  	font-family: PingFangSC-Regular;
  	font-size: 0.24rem;
}
</style>
